{% extends "views/layouts/base.twig" %}
{% block title %}Главная{% endblock %}




{% block content %}
    <section class="hero-slider owl-carousel owl-theme">
        {% for slider in sliders %}
            <div class="hero-slider__item {{ slider.getCss() }}">
                {% if slider.attributes.slug %}
                    <a href="{{ slider.attributes.slug }}" class="hero-slider__item-link">
                        <div class="hero-slider__item-inner">
                            <p class="hero-slider__item-title">{{ slider.context | raw }}</p>
                        </div>
                        <picture class="lazy-image">
                            <source media="(min-width: 768px)" data-srcset="{{ slider.getImage() }}">
                            <img class="hero-slider__item-image lazy" data-src="{{ slider.getMobileImage() }}" alt="{{ slider.name }}">
                        </picture>
                    </a>
                {% else %}
                    <div class="hero-slider__item-link">
                        <div class="hero-slider__item-inner">
                            <p class="hero-slider__item-title">{{ slider.context | raw }}</p>
                        </div>
                        <picture class="lazy-image">
                            <source media="(min-width: 768px)" data-srcset="{{ slider.getImage() }}">
                            <img class="hero-slider__item-image lazy" data-src="{{ slider.getMobileImage() }}" alt="{{ slider.name }}">
                        </picture>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
    {% set side = 1 %}
    <section class="news  container">
        {% for event in events %}
            {% if event.cms_module_gallery_id != 1 and event.cmsModuleGallery.g_active %}

                <article class="news__item {{ side ? 'news__item--right' : 'news__item--left' }}  row {{ loop.index0 > 10 ? 'hidden' : '' }}">
                    <a href="{{ event.cmsModuleGallery.getGalleryUrl }}" class="news__img  {{ side ? 'news__img--right' : 'news__img--left' }}   col-md-8  col-lg-9">
                        <picture>
                            <source data-srcset="{{ event.cmsModuleGallery.getAnnounceImage() }}" type="image/webp">
                            <img class="lazy" data-src="{{ event.cmsModuleGallery.getAnnounceImage(null, true) }}">
                        </picture>
                    </a>
                    <div class="news__info-bar  {{ side ? 'news__info-bar--right' : 'news__info-bar--left' }}   col-md-4  col-lg-3">
                        <div class="news__info-bar-inner">
                            <time datetime="{{ event.event_date }}" class="news__date">{{ event.getEventDate() }}</time>
                            <div class="news__share">
                                <button class="news__share-toggle">
                                    <svg>
                                        <use xlink:href="#icon-share"/>
                                    </svg>
                                </button>
                                <div class="js-feed-share-dropdown news__share-dropdown" style="display: none;">
                                    <button class="news__share-social news__share-social--vk js-share" data-target="vk"
                                            data-url="{{ event.cmsModuleGallery.getGalleryUrl }}"
                                            data-title="{{ event.cmsModuleGallery.name }}"
                                            data-img="{{ event.cmsModuleGallery.getAnnounceImage(null, true) }}"
                                            data-text="">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-vk"></use>
                                        </svg>
                                    </button>
                                    <button class="news__share-social news__share-social--ok js-share" data-target="ok"
                                            data-url="{{ event.cmsModuleGallery.getGalleryUrl }}"
                                            data-title="{{ event.cmsModuleGallery.name }}">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-ok"></use>
                                        </svg>
                                    </button>
                                    <button class="news__share-social news__share-social--fb js-share" data-target="facebook"
                                            data-url="{{ event.cmsModuleGallery.getGalleryUrl }}"
                                            data-title="{{ event.cmsModuleGallery.name }}"
                                            data-img="{{ event.cmsModuleGallery.getAnnounceImage(null, true) }}"
                                            data-text="">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-fb"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h2 class="news__title">
                            <a class="news__title-link" href="{{ event.cmsModuleGallery.getGalleryUrl }}">
                                {{  event.cmsModuleGallery.name }}
                            </a>
                        </h2>
                        {#<a href="/photoalbum/map#{{ event.cmsModuleGallery.id }}" class="news__location">#}
                            {#<svg class="icon-svg  icon-svg--pin">#}
                                {#<use xlink:href="#icon-pin" />#}
                            {#</svg>#}
	                        {#{{ event.cmsModuleGallery.map_name }}#}
                        {#</a>#}
                        <div class="news__services">
                            <h3 class="news__services-title">Услуги на мероприятии:</h3>
                            <ul class="news__services-list">
                                {% for service in event.cmsModuleGallery.getServices %}
                                    {% if loop.index0 < 6 %}
                                        <li class="news__services-item">
                                            <a href="{{ service.getServiceUrl() }}" class="news__services-link">{{ service.service_name|raw }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="news__services-item">
                                    <a href="{{ event.cmsModuleGallery.getGalleryUrl }}" class="news__services-link">Все услуги →</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="news__services-title">Место проведения:</h3>
                        <a href="/photoalbum/map#{{ event.cmsModuleGallery.id }}" class="news__location">
	                        {{ event.cmsModuleGallery.map_name }}
                        </a>
                    </div>
                </article>
                {% if side == 0 %}
                    {% set side = 1 %}
                {% else %}
                    {% set side = 0 %}
                {% endif %}
            {% else %}
                <article class="news__item  news__item--notice-img  row {{ loop.index0 > 10 ? 'hidden' : '' }}">
                    <time datetime="2018-07-19" class="news__date  col-md-12">{{ event.getEventDate() }}</time>
                    <h2 class="news__title  col-md-12">
                        <a class="news__title-link" href="#">
                            {{ event.getEventHeader()|raw }}
                        </a>
                    </h2>
                    {% if event.getImage() %}
                        <a href="{{ event.getEventLink }}">
                            <picture>
                                <source class="lazyload" data-srcset="{{ event.getImage() }}" type="image/webp">
                                <img data-src="{{ event.getImage(null, true) }}" alt="{{ event.getEventHeader()|striptags|slice(0, 30) ~ '...'|trim }}" class="news__img  news__img--notice  col-md-12 lazy">
                            </picture>
                        </a>
                    {% endif %}
                </article>
            {% endif %}

        {% endfor %}

        <button class="news__more-toggle" data-to-show="10">Показать еще</button>

    </section>
    <section class="mobile-bar  container">
        <h2 class="mobile-bar__title  sub-title  stripe"><a href="/services">Выездной бар на мероприятия</a></h2>
        <ul class="mobile-bar__list  row">

            {% for service in services %}
                <li class="mobile-bar__item  col-md-6  col-lg-3">
                    <a href="{{ service.getServiceUrl() }}" class="mobile-bar__link">{{ service.service_name }}</a>
                </li>
            {% endfor %}

        </ul>
    </section>
    <section class="clients-slider  container  mobile-hidden">
        <h2 class="clients-slider__title  sub-title  stripe">
            <a href="/clients">Клиенты</a>
        </h2>
        <div class="clients-slider__inner    owl-carousel owl-theme">
            {% for client in clients if client.isMainImage %}
                <div class="clients-slider__item">
                    <a href="{{ client.client_slug }}" class="clients-slider__link">
                        <img src="{{ client.getImage() }}" alt="{{ client.client_name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="clients-slider__navigation  clearfix"></div>
    </section>
    <section class="subscribe-form">
        <div class="container">
            <form action="{{ app.createUrl('/callback/subscribe') }}" method="post" class="row justify-content-between">
                <p class="subscribe-form__title col-12">Узнай первым!</p>
                <p class="subscribe-form__text col-12">Мы&nbsp;подготовили для Вас серию писем о&nbsp;том, как напоить, а&nbsp;не&nbsp;споить от&nbsp;10&nbsp;до&nbsp;20&nbsp;тыс. человек за&nbsp;разумные деньги и&nbsp;с&nbsp;огоньком!
                    <br>Да&nbsp;и&nbsp;про организацию все знаем на&nbsp;5!
                    Скучно не&nbsp;будет! Обещаем!</p>
                <div class="col-12">
                    <input type="text" name="name" placeholder="Введите имя" class="subscribe-form__input  text-input" required>
                </div>
                <div class="col-12">
                    <input type="email" name="email" placeholder="Введите e-mail " class="subscribe-form__input  text-input" required>
					{#<small class="subscribe-form__note">никакого спама!</small>#}
                </div>
                <div class="col-12">
                    <button class="subscribe-form__submit  button  button--pink" type="submit">Подписаться</button>
                </div>
                <svg>
                    <use xlink:href="#icon-subscribe"/>
                </svg>
            </form>
        </div>
    </section>
    <section class="main-team">
        <a href="/team" class="main-team__link">
            <div class="main-team__inner  container">
                <div class="row  main-team__inner-row  align-items-center">
                    <div class="col-md-4">
                        <h2 class="main-team__title"><span>Команда</span><br> Bar-street</h2>
                        <p class="main-team__content  mobile-hidden  mobile-hidden--inline">Надежные люди - надежная
                            компания</p>
                    </div>
                </div>
            </div>
        </a>
    </section>
{% endblock %}