{% set title = this.setPageTitle(category.name) %}
{% set bread = this.setBreadCrumbs(
	{
		'Слайдеры': '/admin/serviceSlider'
	}) %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>Позиция</th>
								<th>Активен</th>
								<th>Изображение</th>
								<th>Действие
									<a class="btn btn-light" href="{{ app.createUrl('/admin/serviceSlider/newItem', { id: category.id }) }}">
										<i class="mdi mdi-plus text-primary"></i>
									</a>
								</th>
							</tr>
							</thead>
							<tbody>
							{% for item in category.sliderItems %}
								<tr>
									<td>{{ item.position }}</td>
									<td>{{ item.active }}</td>
									<td>
										<div>
											<div class="clearfix">
												{{ C.Html.image(item.getImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;border-radius: 0px;min-height: 100px;' }) | raw }}
											</div>
										</div>
									</td>
									<td>
										<a class="btn btn-light" href="{{ app.createUrl('/admin/serviceSlider/editItem', { id: item.id }) }}">
											<i class="mdi mdi-pencil text-primary"></i>
										</a>
										<a class="btn btn-light" href="{{ app.createUrl('/admin/serviceSlider/deleteItem', { id: item.id }) }}">
											<i class="mdi mdi-delete text-primary"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					<div>
				<div>
			<div>
		<div>
	<div>
{% endblock %}