{% set title = this.setPageTitle('Редактирование') %}
{% set bread = this.setBreadCrumbs({ 'Категория': this.createUrl('/admin/serviceSlider/category', {'id': categoryId}), 'Редактирование слайда': '' ~ app.request.getUrl() }) %}

{% block content %}
	<script type="text/javascript">
		var deleteImage = function(id, element) {
			if (confirm('Вы действительно хотите удалить изображение?')) {
				$.get('/admin/serviceSlider/deleteImage?id=' + parseInt(id), function(data) {
					$(element).parent().remove();
				});
			}
		}
	</script>
	{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if item.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(item) }}
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
					{% autoescape false %}
						<div class="widget-content">
							<div class="form-check form-check-flat">
								<label class="form-check-label">
									{{ C.Html.activeCheckBox(item, 'active', {}) }}Активность
								</label>
							</div>
							<div class="form-group {{ item.getError('position') ? 'has-error' }}">
								{{ C.Html.activeLabel(item, 'position', { 'class': 'control-label' }) }}
								<div class="input-width-xxlarge">
									{{ C.Html.activeTextField(item, 'position', {'class': 'form-control'}) }}
								</div>
							</div>
							<div class="form-group {{ item.getError('video') ? 'has-error' }}">
								{{ C.Html.activeLabel(item, 'video', { 'class': 'control-label' }) }}
								<div class="input-width-xxlarge">
									{{ C.Html.activeTextField(item, 'video', {'class': 'form-control'}) }}
								</div>
							</div>
							<div class="form-group">
								<label>Изображение: </label>
								<input type="file" name="SliderItem[image]" class="file-upload-default">
								<div class="input-group col-xs-12">
									<input type="text" class="form-control file-upload-info" disabled
									       placeholder="{{   item.imageName ? item.imageName : 'Новый файл' }}">
									<span class="input-group-append">
                                            <button class="file-upload-browse btn btn-info"
                                                    type="button">Загрузить</button>
                                        </span>
								</div>
							</div>
							{% if item.getImage() is not null %}
								<div>
									<div class="clearfix">
										{{ C.Html.image(item.getImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 250px;' }) }}
									</div>
									<button type="button" class="btn btn-danger btn-xs" onclick="deleteImage({{ item.id }}, this);">Удалить изображение</button>
								</div>
							{% endif %}
						</div>
					{% endautoescape %}
				</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-catalog-save-button' }) }}
		{{ C.Html.endForm() }}
	{% endautoescape %}


{% endblock %}
{% block js %}

{% endblock %}
