{% set title = this.setPageTitle(category.name) %}
{% set bread = this.setBreadCrumbs({ 'Слайдеры': '' }) %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>Категория</th>
								<th>Действие
									<a class="btn btn-light" href="{{ app.createUrl('/admin/serviceSlider/newCategory') }}">
										<i class="mdi mdi-plus text-primary"></i>
									</a>
								</th>
							</tr>
							</thead>
							<tbody>
							{% for item in categories %}
								<tr>
									<td>{{ item.name }}</td>
									<td>
										<a class="btn btn-light" href="{{ app.createUrl('/admin/serviceSlider/category', { id: item.id }) }}">
											<i class="mdi mdi-pencil text-primary"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}