{% set title = this.setPageTitle('Редактирование') %}
{% set bread = this.setBreadCrumbs({ 'Категории': '/admin/serviceSlider', 'Новая категория': 'javascript:;' }) %}

{% block content %}
	{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if item.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(item) }}
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						{% autoescape false %}
							<div class="widget-content">
								<div class="form-group {{ item.getError('name') ? 'has-error' }}">
									{{ C.Html.activeLabel(item, 'name', { 'class': 'control-label' }) }}
									<div class="input-width-xxlarge">
										{{ C.Html.activeTextField(item, 'name', {'class': 'form-control'}) }}
									</div>
								</div>
							</div>
						{% endautoescape %}
					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-catalog-save-button' }) }}
		{{ C.Html.endForm() }}
	{% endautoescape %}


{% endblock %}
{% block js %}

{% endblock %}
