{% extends "views/layouts/base.twig" %}
{% set blue = true %}
{% block title %}Команда выездного бара Bar-street{% endblock %}

{% block content %}
    <section class="cart">
        <h1 class="title  cart__title">Заказ коктейлей</h1>
        <div class="container cart__container">
            <div class="cart-coctails">
                <div class="cart-coctails__header">
                    <p class="cart-coctails__header-text">Наименование</p>
                    <p class="cart-coctails__header-text">Цена</p>
                    <p class="cart-coctails__header-text">Кол-во</p>
                    <p class="cart-coctails__header-text">Сумма</p>
                </div>
                {% for product in app.shoppingCart.getPositions %}
                    <div class="cart-coctails__item" data-product="{{ product.product_id }}">
                        <div class="cart-coctails__inner">
                            <picture>
                                <source srcset="{{ product.getImage() }}" type="image/webp">
                                <img class="cart-coctails__item-img lazyload" src="{{ product.getImage(null, true) }}" alt="{{ product.product_name }}">
                            </picture>
                            <div class="cart-coctails__item-wrapper">
                                <p class="cart-coctails__item-name">{{ product.product_name }}</p>
                                <p class="cart-coctails__item-char">{{ product.product_volume }} мл алк. - {{ product.product_alchogol }}%</p>
                            </div>
                        </div>
                        <p class="cart-coctails__item-price" data-price = "{{ product.getPrice() }}">
                            {{ product.getPrice() }}
                            <span class="currency">₽</span>
                        </p>
                        <div class="cart-coctails__counter">
                            <span class="js-minus js-counter-toggle">-</span>
                            <input class="input  cart-coctails__sign" type="text" name="count" value="{{ product.getQuantity() }}" disabled>
                            <span class="js-plus js-counter-toggle">+</span>
                        </div>
                        <div class="cart-coctails__sum">
                            <p class="cart-coctails__item-sum">
                                <span class="js-count-amount" data-sum="{{ product.getSumPrice() }}">{{ this.format_price(product.getSumPrice()) }}</span>
                                <span class="currency">₽</span>
                            </p>
                            <button class="cart-coctails__close" type="button"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart-total">
                <div class="cart-total__inner">
                    <p class="cart-total__items-sum">Сумма: {{ this.format_price(app.shoppingCart.getCost()) }} <span class="currency">₽</span></p>
                    <p class="cart-total__items-num">{{ app.shoppingCart.getCount() }} коктейля(ей)</p>
                </div>
                <p class="cart-total__delivery">Доставка: 6 000 <span class="currency">₽</span></p>
                <p class="cart-total__sum">Итого: <span id="jQueryCartPrice">61 250</span> <span class="currency">₽</span></p>
                <p class="cart-total__min">Минимальный заказ: 36 000 ₽</p>
                <div class="cart-total__wrapper">
                    <a class="cart-total__btn cart-total__btn--back  button  button--purple" href="/coctails">Вернуться к коктейльной карте</a>
                    <button class="cart-total__btn cart-total__btn--nextt  button button--pink" href="/order">Оформить заказ</button>
                </div>
            </div>

        </div>
    </section>
{% endblock %}