{% set blue = true %}
{% import 'views/macros/photocard-events.twig' as card %}
{% extends "views/layouts/base.twig" %}
{% block title %}Фото и видеоотчеты{% endblock %}

{% block content %}
    <section class="photoalbum">
        <div class="container">
            <h1 class="title photoalbum__title">Фото и видеоотчеты выездного мобильного бара{% if pages.currentPage %} - страница №{{ pages.currentPage+1 }}{% endif %}</h1>
            <a href="/photoalbum/map" class="photoalbum__link button  button--pink">
                <svg class="icon-svg">
                    <use xlink:href="#icon-placeholder" />
                </svg>
                Смотреть на карте
            </a>
            <div class="photoalbum__list row no-gutters">
                {% set left = 0 %}
                {% set right = 0 %}
                {% set current = 1 %}
                {% for gallery in galleries %}
                    {% if current == 1 %}
                        {{ card.photocard({
                            mod: '_left',
                            imgWeb: gallery.getAnnounceImage(),
                            img: gallery.getAnnounceImage(null, true),
                            alt: gallery.name,
                            dateDigit: gallery.date,
                            dateText: gallery.getDate(),
                            title: gallery.name,
                            link: gallery.getGalleryUrl
                        }) }}
                    {% else %}
                        {{ card.photocard({
                            imgWeb: gallery.getAnnounceImage(),
                            img: gallery.getAnnounceImage(null, true),
                            alt: gallery.name,
                            dateDigit: gallery.date,
                            dateText: gallery.getDate(),
                            title: gallery.name,
                            link: gallery.getGalleryUrl
                        }) }}
                    {% endif %}

                    {% if left < 2 %}
                        {% set left = left + 1 %}
                    {% endif %}

                    {% if(right < 3 and left == 2) %}
                        {% set right = right + 1 %}
                        {% set current = 2 %}
                    {% endif %}

                    {% if(right == 3 and left == 2) %}
                        {% set left = 0 %}
                        {% set right = 0 %}
                        {% set current = 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function ($) {
            var block = true;
            var page = 1;
            $(window).scroll(function () {
                if ($(window).height() + $(window).scrollTop() >= ($(document).height()-300) && block) {
                    block = false;
                    page++;
                    $.ajax({
                        type: 'GET',
                        url: '/photoalbum/photoReports?page=' + page,
                        success: function (list) {
                            if (list == '') {
                                block = false;
                            } else {
	                            if($(document).find('footer').length == 0){
		                            if($(list).hasClass('new-footer')) {
			                            $(list).insertAfter($('main.main'));
			                            block = false;
		                            } else {
			                            $('.photoalbum__list').append(list);
			                            block = true;
		                            }
	                            } else {
		                            block = false;
	                            }
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}