{% extends "views/layouts/base.twig" %}
{% block title %}Ваша заявка принята{% endblock %}

{% block content %}
    <section class="message">
        <div class="container  message__container">
            <h1 class="title  message__title">{{ message_header }}</h1>
            <p class="message__promo-text">{{ message }}</p>
            <p class="message__promo-text">Не забудьте ознакомиться с <a class="link" href="/work-levels">порядком оказания услуг</a></p>
            <div class="message__animate">
                <div class="message__wave message__wave--a1"></div>
                <div class="message__wave message__wave--a2"></div>
                <div class="message__wave message__wave--a3"></div>
                <div class="message__wave message__wave--a4"></div>
                <div class="message__wave message__wave--a5"></div>
                <div class="message__wave message__wave--a6"></div>
            </div>
        </div>
    </section>
{% endblock %}