{% import 'views/macros/photocard-events.twig' as card %}
{% set left = 0 %}
{% set right = 0 %}
{% set current = 1 %}

{% for gallery in galleries %}


    {% if current == 1 %}
        {{ card.photocard({
            mod: '_left',
            imgWeb: gallery.getAnnounceImage(),
            img: gallery.getAnnounceImage(null, true),
            alt: gallery.name,
            dateDigit: gallery.date,
            dateText: gallery.getDate(),
            title: gallery.name,
            link: gallery.getGalleryUrl
        }) }}
    {% else %}
        {{ card.photocard({
            imgWeb: gallery.getAnnounceImage(),
            img: gallery.getAnnounceImage(null, true),
            alt: gallery.name,
            dateDigit: gallery.date,
            dateText: gallery.getDate(),
            title: gallery.name,
            link: gallery.getGalleryUrl
        }) }}
    {% endif %}

    {% if left < 2 %}
        {% set left = left + 1 %}
    {% endif %}

    {% if(right < 3 and left == 2) %}
        {% set right = right + 1 %}
        {% set current = 2 %}
    {% endif %}

    {% if(right == 3 and left == 2) %}
        {% set left = 0 %}
        {% set right = 0 %}
        {% set current = 1 %}
    {% endif %}





{% endfor %}
