{% extends "views/layouts/base.twig" %}
{% block title %}{{ service.service_name }}{% endblock %}
{% set servicesCover = 'bar-rent.jpg' %}
{% set servicesTopic = 'Аренда барных стоек' %}
{% set servicesDesc = 'Оформление профессиональным оборудованием, посуды и инструментов вашего мероприятия.' %}
{% set howitWorkTitle = 'Арендовать барную стойку' %}

{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        <p class="service__desc-content">Если вы решили устроить мероприятие, но на площадке не имеется
                            своего бара, тогда вам подойдет аренда мобильной барной стойки. Она подойдет под любое
                            помещение и впишется в любое мероприятие.</p>
                        <p class="service__desc-content">В аренду барной стойки входят профессиональные блендеры и
                            соковыжималки, кофемашины, шоколадные фонтаны, а также оборудование для приготовления
                            молочных и кислородных коктейлей.</p>
                        <p class="service__desc-content">Помимо аренды самой барной стойки и прилагающегося к ней
                            оборудования на нашем сайте вы найдете сопроводительные услуги,такие как аренда посуды, наем
                            профессиональных барменов для мероприятия и многое другое.</p>
                    </div>
                    <ol class="service-bar__num-list col-12 col-md-4 col-lg-3">
                        <li class="service__num-list-item">
                            <p class="service__num-list-content">1. Время установки любой барной стойки из каталога
                                менее часа.</p>
                        </li>
                        <li class="service__num-list-item">
                            <p class="service__num-list-content">2. Большой выбор барных стоек, которые впишутся в любой
                                концепт и интерьер.</p>
                        </li>
                        <li class="service__num-list-item">
                            <p class="service__num-list-content">3. Барная стойка не только разрешит вопрос размещения
                                напитков, но и придаст определённогошарма и теплоты вечеринке.</p>
                        </li>
                    </ol>
                </div>
            </div>

        </div>
    </section>
    <section class="furniture-catalog">
        <div class="container">
            <div class="row">
                <h2 class="furniture-catalog__title col-12">Варианты барных стоек</h2>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/mzirfjyzpa.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_mzirfjyzpa.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/t90ds6hck7.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_t90ds6hck7.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/ztymxgwqoe.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_ztymxgwqoe.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/89kp3343dy.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_89kp3343dy.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/sufp9wkyo5.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_sufp9wkyo5.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/4oh52acjmw.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_4oh52acjmw.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/whquhbw0cq.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_whquhbw0cq.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/xuhuie09tj.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_xuhuie09tj.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/gmcyre84yv.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_gmcyre84yv.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/qu3v64g1yy.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_qu3v64g1yy.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/vrn3hat8ho.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_vrn3hat8ho.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/0pp4kw81x7.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_0pp4kw81x7.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/to8qnpr7u7.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_to8qnpr7u7.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/764b0lvthu.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_764b0lvthu.jpg" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Барная стойка с подсветкой</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Идеальна для джедайской
                                        диско-вечеринки, потому что светится в темноте до 8 часов (подсветка работает от
                                        аккумулятора), а это ровно вдвое больше, чем ваши коллеги протянут на хорошем
                                        корпоративе. Также отлично подходит для больших компаний – стойка собирается из
                                        съемных секций, поэтому вы легко сможете добавить по секции для бухгалтерии и
                                        снабжения.</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 7 из 10<br>
                                        Барменов: от 2 до 15, в зависимости от количества стоек<br>
                                        Компания гостей: от 15 до 2500 человек и больше<br>
                                        Особенность: +1 час к продолжительности танцев
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Прямая секция: ширина 90, высота 110, глубина 80.
                                            Угловая секция: ширина 80, высота 110, глубина 80
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">5000</span> <span
                                            class="furniture-catalog__product-currency">₽</span> / 1 секция
                                </p>
                                <button data-title="Барную стойку с подсветкой"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/qumjdf8rd5.png"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_qumjdf8rd5.png" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/jbtjspeywm.png"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_jbtjspeywm.png" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/benvchxbtx.png"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_benvchxbtx.png" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Круглая барная стойка</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Наши стойки всегда окружены
                                        гостями, но эта просто создана, чтобы быть центром вечеринки. Этакий космический
                                        корабль с запредельно вкусными посланиями от пришельцев. 6 секций светятся
                                        разными цветами и могут передавать сигналы "Сос. Тут кто-то еще не
                                        улыбается"</p>
                                    <p class="furniture-catalog__product-text furniture-catalog__product-text--mt">
                                        Особенность: вдвое увеличивает количество зрительных контактов</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 6 из 10<br>
                                        Барменов: от 2 до 12, в зависимости от количества стоек<br>
                                        Компания гостей: от 100 до 2000 человек и больше<br>
                                        Особенность: вдвое увеличивает количество зрительных контактов
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Размер: ширина 150, высота 115, глубина 60.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">10000</span> <span
                                            class="furniture-catalog__product-currency">₽</span> / 1 секция
                                </p>
                                <button data-title="Круглую барную стойку"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/y0fe2cxwhk.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_y0fe2cxwhk.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/d6yjjfr08z.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_d6yjjfr08z.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/qcqpfvo6zs.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_qcqpfvo6zs.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/y35ez7h2sm.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_y35ez7h2sm.jpg" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Кожаная барная стойка</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Ого, да за этой стойкой сам Хью
                                        Хэфнер выпил бы на пару с Меган Фокс! Полностью обтянутая кожей, она так и
                                        шепчет прямо в ухо: «Давай, сегодня ты можешь себе это позволить!». Просто
                                        добавьте немного музыки, и гости почувствуют, что вечеринка проходит в дорогом
                                        пентхаузе в центре Манхэттена.</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 7 из 10<br>
                                        Барменов: 2<br>
                                        Компания гостей: от 15 до 200<br>
                                        Особенность: +30% к шансу прикуривания сигар от стодолларовых купюр
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Размер: длина 250, высота 115, глубина 80
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">16000</span> <span
                                            class="furniture-catalog__product-currency">₽</span> комплект
                                </p>
                                <button data-title="Кожаную барную стойку"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/ph5ipqkrwj.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_ph5ipqkrwj.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/5mcsbygpr3.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_5mcsbygpr3.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/b6ycs8qkt2.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_b6ycs8qkt2.jpg" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Барная стойка из ротанга</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Когда-то давным-давно в далекой
                                        Индонезии из ротанга делали гибкие трости для телесных наказаний. Сегодня мы
                                        обуздали дикую природу вечнозеленых тропических джунглей. Теперь ротанг несет не
                                        боль, а удовольствие. Эта стойка подходит как для вечеринок в тропическом стиле,
                                        так и для обычных мероприятий, поскольку мебель из ротанга отлично вписывается в
                                        любую, даже самую дикую, эклектику.</p>
                                    <p class="furniture-catalog__product-text furniture-catalog__product-text--mt">
                                        Особенность: +50% к шансу вопроса "что такое ротанг?"</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 6 из 10<br>
                                        Барменов: 2-9<br>
                                        Компания гостей: от 50 до 800 человек<br>
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Размер: длина 180, высота 100, глубина 80
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">10000</span> <span
                                            class="furniture-catalog__product-currency">₽</span> / 1 секция
                                </p>
                                <button data-title="Барную стойку из ротанга"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/bx1bu70obq.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_bx1bu70obq.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/asfbcwfkau.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_asfbcwfkau.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/d2twufuduy.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_d2twufuduy.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/7sg1pbgkpa.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_7sg1pbgkpa.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/rmj7xv3dfe.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_rmj7xv3dfe.jpg" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Тропическая барная стойка</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Тропические стойки не теряют
                                        актуальность ни зимой, ни летом. Конструктивные особенности стойки позволяют
                                        комбинировать несколько секций. Поэтому вы можете соорудить тропический бар
                                        длинной хоть с целый пляж, а можете поставить уютную компактную секцию для
                                        вечеринки на несколько человек. Будет жарко, как в тропиках!</p>
                                    <p class="furniture-catalog__product-text furniture-catalog__product-text--mt">
                                        Особенность: Одна секция тропического бара укорачивает зиму на 2 дня, но это не
                                        точно.</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 7 из 10<br>
                                        Барменов: 2-5<br>
                                        Компания гостей: от 15 до 300 человек<br>
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Размер: длина 120, высота 210, глубина 75
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">8500</span> <span
                                            class="furniture-catalog__product-currency">₽</span> / 1 секция
                                </p>
                                <button data-title="Тропическую барную стойку"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="furniture-catalog__product col-12">
                    <div class="row">

                        <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/yzfookm8p5.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_yzfookm8p5.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/zfbxgk0yl8.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_zfbxgk0yl8.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/dgy183h17u.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_dgy183h17u.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/7jns4fs3dy.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_7jns4fs3dy.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/skemz95yqx.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_skemz95yqx.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/4v2nx5kacb.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_4v2nx5kacb.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/tt1why228e.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_tt1why228e.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/mlhnhzmk1v.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_mlhnhzmk1v.jpg" alt=""></a></div>
                            <div class="furniture-catalog__product-slider-item"><a
                                        href="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/large/z5teuiyhro.jpg"
                                        data-fancybox><img class="lazyload"
                                            src="{{ app.theme.baseUrl }}/img/furniture/furniture-bar/products/thumb_z5teuiyhro.jpg" alt=""></a></div>
                        </div>
                        <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                            <h3 class="furniture-catalog__product-title">Эко стойка</h3>
                            <div class="furniture-catalog__product-tabs">
                                <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                    Описание
                                </button>
                                <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики</button>
                                <div class="furniture-catalog__product-tabs-content">
                                    <p class="furniture-catalog__product-description">Экологичность материалов и
                                        продуктов — это старая добрая классика. Эко стойка — хороший способ подчеркнуть
                                        ценности и принципы, которые разделяет ваша компания и партнеры. Поверхность
                                        стойки покрыта искусственным газоном, что исключает необходимость поливать ее
                                        коктейлями. Не забудьте предупредить об этом гостей!</p>
                                    <p class="furniture-catalog__product-text furniture-catalog__product-text--mt">
                                        Особенность: На мягком искусственном газоне очень удобно спать, положив на
                                        стойку голову.</p>
                                </div>
                                <div class="furniture-catalog__product-tabs-char">
                                    <p class="furniture-catalog__product-text">
                                        Мобильность: 8 из 10<br>
                                        Барменов: от 2 до 16, в зависимости от количества стоек<br>
                                        Компания гостей: от 50 до 2500 человек и больше<br>
                                    </p>
                                    <div class="furniture-catalog__product-size">
                                        <p class="furniture-catalog__product-text">
                                            Размер: длина 205, высота 105, глубина 95
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="furniture-catalog__product-order">
                                <p class="furniture-catalog__product-order-content">
                                    <span class="furniture-catalog__product-price">10000</span> <span
                                            class="furniture-catalog__product-currency">₽</span> / 1 секция
                                </p>
                                <button data-title="Эко стойку"
                                        class="furniture-catalog__product-order-btn button button--pink">Заказать
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "views/modules/need.twig" %}
    <section class="service-advice">
        <div class="container">
            <div class="row">
                <div class="service-advice__inner col-12 col-md-7 ">
                    <p class="service-advice__text">
                        Если Вы когда-нибудь занимались организацией мероприятия самостоятельно, Вы представляете,
                        сколько мелочей необходимо учесть и проконтролировать, чтобы получить желаемый результат.
                    </p>
                    <p class="service-advice__text">
                        Мы ценим ваше время и силы, поэтому, при заказе, вам достаточно обозначить время и место работы,
                        количество необходимого оборудования и персонала, необходимые сорта кофе.
                    </p>
                    <p class="service-advice__text">
                        Вам не нужно беспокоиться по мелочам, вроде: сколько чайных пар нужно иметь в запасе, чтобы
                        обеспечить обслуживание того или иного потока гостей…
                    </p>
                </div>
                <div class="service-advice__inner col-12 col-md-5">
                    <p class="service-advice__text  service-advice__text--bold">
                        Используются только профессиональные кофемашины.
                    </p>
                    <p class="service-advice__text">
                        Вы можете взять в аренду как сам кофе-аппарат в
                        отдельности, так и воспользоваться услугой «под ключ» Аренда аппарата + выезд бариста,
                        предоставление кофе и посуды
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}