{% extends "views/layouts/base.twig" %}
{% block title %}{{ service.service_name }}{% endblock %}
{% set servicesCover = 'barmen-show.jpg' %}
{% set servicesTopic = 'Бармен шоу' %}
{% set servicesDesc = 'Незабываемые яркие эмоции -  у нас! Закажите на мероприятие профессиональное шоу барменов.' %}
{% set howitWorkTitle = 'Заказать бармен шоу' %}

{% block content %}
    {% include 'views/modules/service.twig' with { item: service } %}
    <div class="service__desc">
        <div class="container">
            <div class="row">

                <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                    <p class="service__desc-content"></p>
                    <h3 class="service__desc-how-title">Бармен-шоу от «BAR-STREET» - это:</h3>
                    <ul class="service__desc-how-list">
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Зрелищное и виртуозное жонглирование бутылками и
                                всем барным инвентарем от профессионального бармена</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Организация шоу с учетом тематики и формата вашего
                                мероприятия</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Выступление от чемпионов Европы и Мира по
                                барменскому искусству</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Оригинальная подача напитков для Ваших гостей</p>
                        </li>
                    </ul>
                    <h3 class="service__desc-how-title">Мы организуем:</h3>
                    <ul class="service__desc-how-list">
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Подготовку тематичного бармен-шоу</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Подбор и доставку всего необходимого
                                оборудования</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Работу профессиональных <a
                                        href="#">флейрингистов</a></p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Музыкальное сопровождение номера</p>
                        </li>
                        <li class="service__desc-how-item">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-check"></use>
                            </svg>
                            <p class="service__desc-how-item-content">Незабываемые впечатления Вашим гостям</p>
                        </li>
                    </ul>
                    <h3 class="service-bar__desc-title">Бармен-шоу на свадьбу? Конечно да!</h3>
                    <p class="service__desc-content">Бармен-шоу на свадьбе, корпоративе или дне рождения станет
                        изюминкой мероприятия и надолго запомнится Вашим гостям.</p>
                    <p class="service__desc-content">Свадебное бармен шоу может быть частью как развлекательной, так и
                        конкурсной программы. Мы всегда обсуждаем все детали предстоящего мероприятия, чтобы ваш день
                        прошел идеально. наш бармен может выстроить свадебную <a href="#">пирамиду из шампанского</a>,
                        провести веселые конкурсы и, конечно, устроить настоящее представление из приготовления
                        коктейлей.</p>
                    <p class="service__desc-content">Мы всегда учитываем формат и место проведения мероприятия,
                        аудиторию и даже время года при подготовке необычной программы.</p>
                    <h3 class="service-bar__desc-title">Цены бармен-шоу</h3>
                    <p class="service__desc-content">Стоимость проведения шоу зависит от сложности программы, количества
                        номеров, необходимости установки декораций, а также места проведения и числа гостей. Каждое
                        выступление – неповторимо!</p>
                    <p class="service__desc-content">Минимальная программа бармен шоу – от 15 000 рублей.</p>
                    <p class="service__desc-content">Свяжитесь с нами и мы ответим на все вопросы и обговорим
                        ньюансы.</p>
                    <h3 class="service-bar__desc-title">Пример выступления бармен-шоу:</h3>
                    <div class="service__desc-video">
                        <iframe src="https://www.youtube.com/embed/V1Nov0TSGxs" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
	            {% if service.slider.sliderActiveItems %}
                    <div class="service-media__slider owl-carousel owl-theme">
			            {% for item in service.slider.sliderActiveItems %}
                            <div class="service-media__slider-item">
					            {% if item.video %}
                                    <iframe src="{{ item.video }}" frameborder="0"
                                            allowfullscreen poster="{{ item.image }}"></iframe>
					            {% else %}
                                    <img src="{{ item.getImage }}" alt="">
					            {% endif %}
                            </div>
			            {% endfor %}
                    </div>
	            {% endif %}
                <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                    <h3 class="types-of-bars__title">Виды баров:</h3>
                    <ul class="types-of-bars__list">
                        {% for serviceList in services %} {% if serviceList.service_id == service.service_id %}
                            <li class="types-of-bars__item">
                                <a href="{{ serviceList.getServiceUrl }}"
                                   class="types-of-bars__link types-of-bars__link--active">{{ serviceList.service_name }}</a>
                            </li>
                        {% else %}
                            <li class="types-of-bars__item">
                                <a href="{{ serviceList.getServiceUrl }}" class="types-of-bars__link">{{ serviceList.service_name }}</a>
                            </li>
                        {% endif %} {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>

    </div>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}