{% extends "views/layouts/base.twig" %}
{% block title %}{{ service.service_name }}{% endblock %}
{% set servicesCover = 'coffemachine.jpg' %}
{% set servicesTopic = 'Кофемашины в аренду' %}
{% set servicesDesc = '' %}
{% set howitWorkTitle = 'Арендовать кофемашины' %}

{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-content">Без чего не может обойтись ни одна выставка, презентация или
                            любое другое серьезное мероприятие? Конечно же без кофе! Здесь же встает вопрос: как
                            организовать подачу кофе на мероприятие? Самый простой вариант - взять кофемашину в
                            аренду.</p>
                        <p class="service__desc-content">Приобретая кофемашину в аренду на выставку или презентацию вы
                            получаете по вашему выбору рожковую или капсульную кофемашину, рассчитанную на более 200
                            кружек в час.</p>
                        <p class="service__desc-content">В стоимость аренды входит сама кофемашина и ее доставка. На
                            нашем сайте вы можете заказать отдельно доставку кофейных зерен, посуду и услуги
                            бариста.</p>
                    </div>
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-char">Cтоимость аренды кофемашин на выезд: <span
                                    class="service__desc-pink">3-6 тыс. руб/сутки</span></p>
                        <p class="service__desc-char">Стоимость кофе в зернах: <span
                                    class="service__desc-pink">1-1,5 тыс. руб/кг</span></p>
                        <p class="service__desc-char">Производительность кофемашин: <span
                                    class="service__desc-pink">3-6 тыс. руб/сутки</span></p>
                        <p class="service__desc-char">
                            Аренда кофейной пары: <span class="service__desc-pink">от 30 руб/сутки</span>
                            <br>
                            <small class="service__desc-char-note">В комплект кофейной пары входит: чашечка,
                                блюдечко, ложечка
                            </small>
                        </p>
                        <p class="service__desc-char">Ставка работы бариста: <span
                                    class="service__desc-pink">Уточняйте у менеджеров.</span></p>
                    </div>
	                {% if service.slider.sliderActiveItems %}
                        <div class="service-media__slider owl-carousel owl-theme">
			                {% for item in service.slider.sliderActiveItems %}
                                <div class="service-media__slider-item">
					                {% if item.video %}
                                        <iframe src="{{ item.video }}" frameborder="0"
                                                allowfullscreen poster="{{ item.image }}"></iframe>
					                {% else %}
                                        <img src="{{ item.getImage }}" alt="">
					                {% endif %}
                                </div>
			                {% endfor %}
                        </div>
	                {% endif %}
                </div>
            </div>

        </div>
        <div class="service-catalog">
            <h2 class="service-catalog__title  sub-title  stripe">Аренда кофемашин</h2>
            <div class="container">
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/1.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">SAECO ODEA GIRO PLUS V</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/2.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">EMBLEMA A AUTO STEAM</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/3.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">Egro Swiss 5023\5025</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/4.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">Quality Espresso OTTIMA</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/5.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">Quality Espresso RUBY</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img  class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/6.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">SAECO ROYAL COFFEE BAR</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/7.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">E91 AMBASSADOR A SE_EVRU62</h3>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/furniture/coffee/8.jpg" alt="">
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">SMART GIUGIARO A</h3>
                        </div>
                    </article>
                </div>
                <button data-title="заказать кофемашину" class="service__intro-btn service-catalog__btn button button--pink">Заказать
                    кофемашину
                </button>
            </div>
        </div>
    </section>
    {% include "views/modules/need.twig" %}
    <section class="service-advice">
        <div class="container">
            <div class="row">
                <div class="service-advice__inner col-12 col-md-7 ">
                    <h2 class="service-advice__title">Бариста BAR-STREET имеют имеют европейские сертификаты SCAE1-2
                        уровня.</h2>
                    <p class="service-advice__text">
                        Если Вы когда-нибудь занимались организацией мероприятия самостоятельно, Вы представляете,
                        сколько мелочей необходимо учесть и проконтролировать, чтобы получить желаемый результат.
                    </p>
                    <p class="service-advice__text">
                        Мы ценим ваше время и силы, поэтому, при заказе, вам достаточно обозначить время и место работы,
                        количество необходимого оборудования и персонала, необходимые сорта кофе.
                    </p>
                    <p class="service-advice__text">
                        Вам не нужно беспокоиться по мелочам, вроде: сколько чайных пар нужно иметь в запасе, чтобы
                        обеспечить обслуживание того или иного потока гостей…
                    </p>
                </div>
                <div class="service-advice__inner col-12 col-md-5">
                    <p class="service-advice__text  service-advice__text--bold">
                        Используются только профессиональные кофемашины.
                    </p>
                    <p class="service-advice__text">
                        Вы можете взять в аренду как сам кофе-аппарат в
                        отдельности, так и воспользоваться услугой «под ключ» Аренда аппарата + выезд бариста,
                        предоставление кофе и посуды + мастер-класс бариста
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}