{% extends "views/layouts/base.twig" %}
{% block title %}{{ service.service_name }}{% endblock %}
{% set servicesCover = 'mobile-bar.jpg' %}
{% set servicesTopic = 'Мобильный бар' %}
{% set servicesDesc = 'Сделаем бар с любыми профессиональными коктейлями на вашем мероприятии. Гости останутся довольны! Вам просто нужно назвать место и количество людей, остальное мы сделаем сами.' %}
{% set howitWorkTitle = 'Заказать мобильный бар' %}

{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">

                        {% if service.getContent %}
                           {{ service.getContent|raw }}
                        {% endif %}

                        {% if advantages %}
                            <p class="service__desc-advantages-title">Преимущества:</p>
                            <noindex>
                                <ul class="service__desc-advantages-list row">
                                    {% for advantage in advantages %}
                                        <li class="service__desc-adv-item col-md-12 col-lg-6">
                                            <svg class="icon-svg">
                                                <use xlink:href="#icon-{{ advantage.advantage_icon }}"/>
                                            </svg>
                                            <p class="service__desc-adv-item-title">{{ advantage.advantage_name|raw }}</p>

                                            {% if advantage.getContent %}
                                                <p class="service__desc-adv-item-content">{{ advantage.getContent|striptags|raw }}</p>
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                            </noindex>
                        {% endif %}
                        {% if service.slider.sliderActiveItems %}
                            <div class="service-media__slider owl-carousel owl-theme">
                                {% for item in service.slider.sliderActiveItems %}
                                    <div class="service-media__slider-item">
                                        {% if item.video %}
                                            <iframe src="{{ item.video }}" frameborder="0"
                                                    allowfullscreen poster="{{ item.image }}"></iframe>
                                        {% else %}
                                            <img src="{{ item.getImage }}" alt="">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                        <p class="types-of-bars__title">Виды баров:</p>
                        <noindex>
                            <ul class="types-of-bars__list">
                                {% for serviceList in services %} {% if serviceList.service_id == service.service_id %}
                                    <li class="types-of-bars__item">
                                        <a href="javascript:;"
                                           class="types-of-bars__link types-of-bars__link--active">{{ serviceList.service_name }}</a>
                                    </li>
                                {% else %}
                                    <li class="types-of-bars__item">
                                        <a href="{{ serviceList.getServiceUrl }}" class="types-of-bars__link">{{ serviceList.service_name }}</a>
                                    </li>
                                {% endif %} {% endfor %}
                            </ul>
                        </noindex>
                    </aside>
                </div>
            </div>

        </div>



        {% if coctails %}
            <div class="service-catalog {% if service.getServiceColor() %} _black {% endif %}">
                <h2 class="service-catalog__title  sub-title  stripe">
                    <span>
                        {% if service.getCatalogTitle() %}
                           {{ service.getCatalogTitle() }}
                        {% else %}
                            Цены на коктейли бара
                        {% endif %}
                    </span>
                </h2>
                <div class="container">
                    <div class="row service-catalog__slider owl-carousel owl-theme">
                        {% for productList in coctails %}
                            <article class="service-catalog__product col-lg-3">
                                <div class="service-catalog__product-img">
                                    <a href="/coctails#{{ service.service_slug }}">
                                        <picture>
                                            <source data-srcset="{{ productList.getImage() }}" type="image/webp">
                                            <img class="lazy" data-src="{{ productList.getImage(null, true) }}" alt="{{ productList.product_name }}">
                                        </picture>
                                    </a>
                                </div>
                                <div class="service-catalog__product-inner">
                                    <p class="service-catalog__product-name">{{ productList.product_name }}</p>
                                    {% if productList.product_cost %}
                                        <p class="service-catalog__product-price">{{ productList.product_cost }}
                                            <span>руб.</span>
                                        </p>
                                    {% endif %}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews, clients: clients} %}

    <script type = "text/javascript">

    </script>
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}