{% extends "views/layouts/base.twig" %}
{% block title %}Кальян-бар{% endblock %}
{% set servicesCover = 'kalyan-bar.jpg' %}
{% set servicesTopic = 'Кальян-бар' %}
{% set servicesDesc = 'Хотите расположить гостей к долгим обстоятельным разговорам? Просто организуйте лаундж-зону, наши кальянщики сделают остальное.' %}
{% set howitWorkTitle = 'Заказать кальян-бар' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% block content %}
    <section class="kalyan-bar service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        {% if service.getContent %}
                            {{ service.getContent|raw }}
                        {% endif %}
                        {% if advantages %}
                            <p class="service__desc-advantages-title">Преимущества:</p>
                            <ul class="service__desc-advantages-list row">
                                {% for advantage in advantages %}
                                    <li class="service__desc-adv-item col-md-12 col-lg-6">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-{{ advantage.advantage_icon }}"/>
                                        </svg>
                                        <p class="service__desc-adv-item-title">{{ advantage.advantage_name|raw }}</p>

                                        {% if advantage.getContent %}
                                            <p class="service__desc-adv-item-content">{{ advantage.getContent|striptags|raw }}</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
	                    {% if service.slider.sliderActiveItems %}
                            <div class="service-media__slider owl-carousel owl-theme">
			                    {% for item in service.slider.sliderActiveItems %}
                                    <div class="service-media__slider-item">
					                    {% if item.video %}
                                            <iframe src="{{ item.video }}" frameborder="0"
                                                    allowfullscreen poster="{{ item.image }}"></iframe>
					                    {% else %}
                                            <img src="{{ item.getImage }}" alt="">
					                    {% endif %}
                                    </div>
			                    {% endfor %}
                            </div>
	                    {% endif %}
                    </div>
                    <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                        <p class="types-of-bars__title">Виды баров:</p>
                        <ul class="types-of-bars__list">
                            {% for serviceList in services %} {% if serviceList.service_id == service.service_id %}
                                <li class="types-of-bars__item">
                                    <a href="javascript:;"
                                       class="types-of-bars__link types-of-bars__link--active">{{ serviceList.service_name }}</a>
                                </li>
                            {% else %}
                                <li class="types-of-bars__item">
                                    <a href="{{ serviceList.getServiceUrl }}" class="types-of-bars__link">{{ serviceList.service_name }}</a>
                                </li>
                            {% endif %} {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
        <div class="kalyan-bar__catalog service-catalog">
            <div class="container">
                <h2 class="service-catalog__title kalyan-bar__catalog-title  sub-title  stripe">Стоимость кальянов на
                    выезд</h2>
                <div class="row kalyan-bar__catalog-wrapper">

                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-1" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/1.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Дизайнерский в ассортименте</h5>
                            <p class="catalog-item__price">1 400 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">На выбор</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вода</p>
                                <p class="catalog-item__details-description">Молоко</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-2" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/2.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Skyline</h5>
                            <p class="catalog-item__price">1 500 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вишня + яблоко</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вишневый сок</p>
                                <p class="catalog-item__details-description">Яблочный сок</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-3" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/3.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Tutti Frutti</h5>
                            <p class="catalog-item__price">1 500 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Апельсин + мята</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Апельсиновый сок</p>
                                <p class="catalog-item__details-description">Грейпфрутовый сок</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Слайсы апельсина</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-4" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/4.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Concorde</h5>
                            <p class="catalog-item__price">1 600 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Персик + ананас</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Мультифруктовый сок</p>
                                <p class="catalog-item__details-description">Персиковый сок</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-5" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/5.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Valkirye</h5>
                            <p class="catalog-item__price">1 900 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Апельсин + гуава</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп маракуйа</p>
                                <p class="catalog-item__details-description">Сироп блю кюрасао</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Дольки апельсина и лайма</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-6" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/6.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Cento per cento</h5>
                            <p class="catalog-item__price">1 900 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Двойное яблоко + кардамон</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп яблоко</p>
                                <p class="catalog-item__details-description">Сироп базилик</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Дольки клубники и банана</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-7" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/7.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">9 monkey</h5>
                            <p class="catalog-item__price">1 900 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Двойное яблоко + кардамон</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп манго</p>
                                <p class="catalog-item__details-description">Сироп персик</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня и дольки клубники</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-8" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/8.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">La scala</h5>
                            <p class="catalog-item__price">1 900 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Персик + лимон + мята</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп клубника</p>
                                <p class="catalog-item__details-description">Сироп банан</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Долбки грейпфрута и лимона</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-9" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/9.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Beretta</h5>
                            <p class="catalog-item__price">2 200 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Жвачка + мятв</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Мультифруктовый сок</p>
                                <p class="catalog-item__details-description">Cироп bubble gum</p>
                                <p class="catalog-item__details-description">Белый вермут</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Мята, дольки грейпфрута и клубники</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-10" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/10.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Dead Head Island</h5>
                            <p class="catalog-item__price">2 400 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Апельсин</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп лайм</p>
                                <p class="catalog-item__details-description">Сироп лимон</p>
                                <p class="catalog-item__details-description">Светлый ром</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Дольки лимона и лайма</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-11" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/11.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Red dragon</h5>
                            <p class="catalog-item__price">2 200 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Лесные ягоды + мята</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп клубника</p>
                                <p class="catalog-item__details-description">Сироп красный апельсин</p>
                                <p class="catalog-item__details-description">Красное вино</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Мята, малина, ежевика</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-12" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/12.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Money Honey</h5>
                            <p class="catalog-item__price">2 600 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Мед + кофе + корица</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коньяк</p>
                                <p class="catalog-item__details-description">Сироп кофе</p>
                                <p class="catalog-item__details-description">Сироп шоколад</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Палочки корицы, зерна кофе</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-13" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/13.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Co-ca-in</h5>
                            <p class="catalog-item__price">2 900 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Карамель + роза</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Абцент</p>
                                <p class="catalog-item__details-description">Сироп роза</p>
                                <p class="catalog-item__details-description">Сироп фиалка</p>
                                <p class="catalog-item__details-description">Сироп клубника</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Имбирь</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-14" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/14.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Master Li</h5>
                            <p class="catalog-item__price">2 200 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Слива</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сливовое вино</p>
                                <p class="catalog-item__details-description">Сироп сакура</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Имбирь, коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-15" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/15.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Santa Domingo</h5>
                            <p class="catalog-item__price">2 600 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Santa Domingo</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Темный ром</p>
                                <p class="catalog-item__details-description">Сироп ананас</p>
                                <p class="catalog-item__details-description">Сироп кокос</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Дольки ананаса и банана</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-16" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/16.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Sunrise</h5>
                            <p class="catalog-item__price">2 000 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Карамель + банан</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Сироп куантро</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Дольки банана и клубники</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-17" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/17.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Дизайнерский безникотиновый в ассортименте</h5>
                            <p class="catalog-item__price">1 400 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">На выбор</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вода</p>
                                <p class="catalog-item__details-description">Молоко</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-18" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/18.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Арабский безникотиновый в ассортименте</h5>
                            <p class="catalog-item__price">1 200 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">На выбор</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вода</p>
                                <p class="catalog-item__details-description">Молоко</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                    <article class="catalog-item _horizontal col-6">
                        <div class="catalog-item__img">
                            <img class="lazyload" id="kalyan-19" src="{{ app.theme.baseUrl }}/img/kalyan-bar/catalog/19.jpg" alt="">
                        </div>
                        <div class="catalog-item__inner">
                            <h5 class="catalog-item__name">Арабский в ассортименте</h5>
                            <p class="catalog-item__price">1 200 руб/час </p>
                            <dl class="catalog-item__details"></dl>
                            <dt class="catalog-item__details-title">Табак:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">На выбор</p>
                            </dd>
                            <dt class="catalog-item__details-title">Колба:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Вода</p>
                                <p class="catalog-item__details-description">Молоко</p>
                            </dd>
                            <dt class="catalog-item__details-title">Украшение:</dt>
                            <dd class="catalog-item__details-item">
                                <p class="catalog-item__details-description">Коктейльная вишня</p>
                            </dd>
                            </dl>
                        </div>
                    </article>


                </div>
                <button data-title="заказать кальян-бар" class="kalyan-bar__catalog-btn service__intro-btn button  button--pink">Заказать кальян-бар</button>
            </div>

        </div>
    </section>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}
