{% extends "views/layouts/base.twig" %}
{% block title %}Проведение мастер классов{% endblock %}
{% set servicesCover = 'master-class.png' %}
{% set servicesTopic = 'Проведение мастер классов' %}
{% set servicesDesc = 'Организация и проведение мастер-классов любой сложности на Вашем мероприятии.' %}
{% set howitWorkTitle = 'Заказать мастер класс' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-lg-6">
                        <p class="service__desc-content">На наших мастер-классах вы познаете азы приготовления
                            коктейлей, начнете разбираться в разных сортах кофе и чая, попробуете собственноручно
                            скрутить сигары и поймете какое вино выбрать к тому или иному блюду.</p>
                        <h3 class="service-bar__desc-title">Цены на проведение мастер классов</h3>
                        <p class="service__desc-content">В среднем в организации мастер-класса принимают участие от 5 до
                            20 человек (зависит от вида мастер-класса), Возможна определенная стилизация элементов под
                            общий формат мероприятия. Минимальная сумма заказа от 20 000 руб.</p>
                        <p class="service__desc-content">Также в ходе проведения мастер-класса для баров и ресторанов
                            может быть составлена новая или доработана существующая <a href="/coctails">коктейльная
                                карта</a>.</p>
                    </div>
                    <div class="service__master-types">
                        <div class="service__master-types-list-wrap ">
                            <h2 class="service__master-types-list-title">Виды мастер-классов:</h2>
                            <ul class="service-bar__master-types-list">
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">1.</span> <a
                                            href="/services/zakazat-mobilny-bar"
                                            class="service__master-types-item-link">Мастер-класс по приготовлению
                                        коктейлей</a>
                                </li>
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">2.</span> <a
                                            href="/services/master-klass-po-viny"
                                            class="service__master-types-item-link">Мастер-класс по вину</a>
                                </li>
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">3.</span> <a
                                            href="/services/chayniy-master-klass"
                                            class="service__master-types-item-link">Мастер-класс по чаю</a>
                                </li>
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">4.</span> <a
                                            href="/services/master-klass-cofe"
                                            class="service__master-types-item-link">Мастер-класс по кофе</a>
                                </li>
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">5.</span> <a
                                            href="/services/torcedor"
                                            class="service__master-types-item-link">Мастер-класс по сигарам</a>
                                </li>
                                <li class="service__master-types-item">
                                    <span class="service__master-types-item-num">6.</span> <a
                                            href="/services/barmen-shou"
                                            class="service__master-types-item-link">Мастер-класс по флейрингу
                                        (бармен-шоу)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
	                {% if service.slider.sliderActiveItems %}
                        <div class="service-media__slider owl-carousel owl-theme">
			                {% for item in service.slider.sliderActiveItems %}
                                <div class="service-media__slider-item">
					                {% if item.video %}
                                        <iframe src="{{ item.video }}" frameborder="0"
                                                allowfullscreen poster="{{ item.image }}"></iframe>
					                {% else %}
                                        <img src="{{ item.getImage }}" alt="">
					                {% endif %}
                                </div>
			                {% endfor %}
                        </div>
	                {% endif %}
                </div>
            </div>

        </div>
    </section>
    <section class="master-block">
        <h2 class="master-block__title col-12"><span>Как проходит мастер-класс</span></h2>
        <ul class="master-block__list col-12">
            <li class="master-block__item">
                <div class="container">
                    <div class="row">
                        <div class="master-block__item-inner col-12 col-md-6">
                            <h2 class="master-block__item-title"><span>1.</span> Подготовка</h2>
                            <p class="master-block__item-description">Сотрудники компании «Bar-Street» подготовят
                                площадку, где будет организован бар. На это уйдет не более получаса, в течение которых
                                специалисты организуют барную стойку, подготовят посуду и необходимые для приготовления
                                ингредиенты.</p>
                        </div>
                        <div class="master-block__item-img col-12 col-md-6">
                            <img src="{{ app.theme.baseUrl }}/img/master-class/block-list/1.png" class="lazyload" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="master-block__item">
                <div class="container">
                    <div class="row">
                        <div class="master-block__item-inner col-12 col-md-6">
                            <h2 class="master-block__item-title"><span>2.</span> Дегустация</h2>
                            <p class="master-block__item-description">Затем опытные бармены нашей компании предложат
                                гостям мобильного бара попробовать коктейли на любой вкус, перечень которых заранее
                                утвержден с заказчиком мероприятия.</p>
                        </div>
                        <div class="master-block__item-img col-12 col-md-6">
                            <img src="{{ app.theme.baseUrl }}/img/master-class/block-list/2.png" class="lazyload" alt="">
                        </div>
                    </div>
                </div>
            </li>
            <li class="master-block__item">
                <div class="container">
                    <div class="row">
                        <div class="master-block__item-inner col-12 col-md-6">
                            <h2 class="master-block__item-title"><span>3.</span> Практика</h2>
                            <p class="master-block__item-description">Каждый гость будет иметь возможность поучаствовать
                                в приготовлении понравившегося угощения, посоревноваться и оценить результаты своих
                                стараний.</p>
                            <a href="/event" class="master-block__btn">Оставить заявку</a>
                        </div>
                        <div class="master-block__item-img col-12 col-md-6">
                            <img src="{{ app.theme.baseUrl }}/img/master-class/block-list/3.png" class="lazyload" alt="">
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </section>
	{%
		set needItems = [
		{
			'name': 'Выездной мастер класс на свадьбу',
            'disable': ((service.service_name == 'Выездной мастер класс на свадьбу') ? true : false),
			'img': app.theme.baseUrl~'/img/need/we.png',
			'link': '/services/vyezdnoj-master-klass-na-svad-bu'
		},
		{
			'name': 'Выездной мастер-класс на день рождения',
			'img': app.theme.baseUrl~'/img/need/birthday.png',
			'link': '/services/master-class-dr'
		},
		{
			'name': 'Выездной мастер-класс на корпоратив',
			'img': app.theme.baseUrl~'/img/need/djKorp.png',
			'link': '/services/viezdnoi-master-klass-na-korporativ'
		}
	]
	%}
	{% include "views/modules/need.twig" with {'needItems': needItems}%}
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}