{% extends "views/layouts/base.twig" %}
{% block title %}{{ service.service_name }}{% endblock %}
{% set servicesTopic = 'Аренда мебели с подсветкой' %}
{% set servicesDesc = 'Эффектная мебель из экологичного пластика сделает любое мероприятие незабываемым.' %}
{% set howitWorkTitle = 'Арендовать мебель' %}



{% set delivery = [
    {
        "id": "delivery-1",
        "name": "Доставка 1. Не более 2 единиц мебели",
        "price": "3 500"
    },
    {
        "id": "delivery-2",
        "name": "Доставка 2. От 3 до 10 единиц мебели",
        "price": "5 000"
    },
    {
        "id": "delivery-3",
        "name": "Доставка 3. От 10 до 20 единиц мебели",
        "price": "10 000"
    },
    {
        "id": "delivery-pickup",
        "name": "Возможен самовывоз (залог)",
        "price": "Договорная"
    }
] %}

{% set catalog_name = [
    {
        "catalogTitle": "Каталог мебели с подсветкой"
    },
    {
        "catalogTitle": "Варианты барных стоек"
    }
] %}



{% set products = [
    {
        "title": "Пластиковая барная LED стойка",
        "images": 20,
        "id": 8,
        "size": [
        {
            "text": "90 х 110 х 80",
            "price": "5 000"
        },
    ]

    },
    {
        "title": "Светящаяся угловая барная стойка",
        "images": 11,
        "id": 9,
        "size": [
        {
            "text": "115 х 110 x 80",
            "price": "5 000"
        },
    ]

    },
    {
        "title": "Круглый светящийся коктейльный столик",
        "images": 17,
        "id": 7,
        "size": [
        {
            "text": "60 х 100",
            "price": "2 500"
        },
    ]

    },
    {
        "title": "Ваза LED (основание квадрат)",
        "images": 9,
        "id": 5,
        "size": [
        {
            "text": "35 х 27",
            "price": "700"
        },
    ]

    },
    {
        "title": "Ваза LED (основание круг)",
        "images": 13,
        "id": 6,
        "size": [
        {
            "text": "D 24 x 13.8",
            "price": "500"
        },
        {
            "text": "D 30 х 30",
            "price": "500"
        },
        {
            "text": "D 20 х 13",
            "price": "500"
        }
    ],

    },
    {
        "title": "Светящаяся пирамида",
        "images": 9,
        "id": 4,
        "size": [
        {
            "text": "26 х 28",
            "price": "700"
        }
    ],

    },
    {
        "title": "Шар светящийся декоративный",
        "images": 12,
        "id": 3,
        "size": [
        {
            "text": "D 20",
            "price": "500"
        },
        {
            "text": "D 40",
            "price": "1 000"
        },
        {
            "text": "D 50",
            "price": "1 300"
        }
    ],

    },
    {
        "title": "Светящийся пуфик",
        "images": 7,
        "id": 2,
        "size": [
        {
            "text": "40 х 40 х 47",
            "price": "1 500"
        },
    ],

    },
    {
        "title": "Светящийся куб",
        "images": 11,
        "id": 1,
        "size": [
        {
            "text": "20 х 20 х 20",
            "price": "500"
        },
        {
            "text": "30 х 30 х 30",
            "price": "750"
        },
        {
            "text": "40 х 40 х 40",
            "price": "1 000"
        },
        {
            "text": "43 х 43 х 43",
            "price": "1 000"
        },
        {
            "text": "50 х 50 х 50",
            "price": "1 300"
        }
    ],


    },
    {
        "title": "Елочка с подсветкой",
        "images": 7,
        "id": 0,
        "size": [
        {
            "text": "32 х 13 х 50",
            "price": "1 500"
        },
        {
            "text": "63 х 20 х 90",
            "price": "2 500"
        }
    ],

    }

] %}


{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        <p class="service__desc-content">Сделать мероприятие по-настоящему ярким поможет мебель с
                            подсветкой. Светящиеся кубы, скамейки, стойки и многое другое - все это можно заказать в
                            аренду на нашем сайте.</p>
                        <p class="service__desc-content">Аренда светящейся или же led мебели выгодна для мероприятия
                            потому что это гораздо дешевле, чем ее покупать самому. Вам не придется думать об ее
                            доставке и уборке. И, главное, вы можете обустроить помещение для свадьбы, дня рождения или
                            любого другого мероприятия на ваш вкус.</p>
                        <p class="service__desc-content">Ознакомиться с имеющейся мебелью с подсветкой и условиями
                            аренды вы можете на нашем сайте.</p>
                    </div>
                    <div class="service-bar__how col-12">
                        <div class="container">
                            <div class="row justify-content-md-between">
                                <ul class="service__how-list col-12 col-md-6 col-lg-4">
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Материал — экологичный пластик</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Аккумулятор и зарядка в комплекте</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Время подзарядки 6 часов</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Время автономной работы 8-12 часов</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Работа от сети переменного тока 220V</p>
                                    </li>
                                </ul>
                                <img class="service__how-img" src="{{ app.theme.baseUrl }}/img/arenda_text.png" alt="Светящаяся мебель">
                                <ul class="service__how-list col-12 col-md-6 col-lg-4">
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Радиочастотный пульт дистанционного
                                            управления</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">16 цветов, 48 оттенков</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Режим автоматической смены цветов,
                                            мерцания</p>
                                    </li>
                                    <li class="service__how-item">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-check"/>
                                        </svg>
                                        <p class="service__how-item-content">Срок службы 50 000 часов</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="furniture-catalog  furniture-catalog--dark">
        <div class="container">
            <div class="row">
                <h2 class="furniture-catalog__title title col-12">{{ catalog_name[0].catalogTitle }}</h2>
                {% for item in products %}
                    <div class="furniture-catalog__product js-furniture-product col-12">
                        <div class="row">

                            <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                                {% for image in 0..item.images - 1 %}
                                    <div class="furniture-catalog__product-slider-item">
                                        <a href="{{ app.theme.baseUrl }}/img/services/mebel/{{ item.id + 1 }}_{{ loop.index }}.jpg" data-fancybox>
                                            <img class="lazyload" src="{{ app.theme.baseUrl }}/img/services/mebel/{{ item.id + 1 }}_{{ loop.index }}_min.jpg" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                                <h3 class="js-furniture-product-title furniture-catalog__product-title">{{ item.title }}</h3>

                                <div class="furniture-catalog__product-calc  furniture-catalog__product-calc--mobile">
                                    {% for size in item.size %}
                                        <div class="furniture-catalog__product-calc-item js-furniture-product-row">
                                            <div class="furniture-catalog__product-calc-item-header">
                                                <p class="js-furniture-product-size furniture-catalog__product-calc-size">{{ size.text }}</p>
                                                <button class="furniture-catalog__product-calc-toggle"></button>
                                            </div>
                                            <div class="furniture-catalog__product-calc-item-inner">
                                                <div class="furniture-catalog__product-calc-item-inner-wrap">
                                                    <label for="" class="furniture-catalog__product-calc-text">
                                                        Кол-во <br>

                                                        <input autofocus type="number" min="0" max="9" step="1"
                                                               value="0"
                                                               class="js-furniture-product-count furniture-catalog__product-calc-item-input">


                                                    </label>
                                                    <p class="furniture-catalog__product-calc-text">
                                                        Цена <br>
                                                        <span class="js-furniture-product-price furniture-catalog__product-calc-price">{{ size.price }}</span>
                                                        <span class="furniture-catalog__product-calc-currency">₽</span>
                                                    </p>
                                                </div>
                                                <div class="furniture-catalog__product-calc-item-inner-wrap">
                                                    <label for="" class="furniture-catalog__product-calc-text">
                                                        Сутки <br>

                                                        <input autofocus type="number" min="0" max="9" step="1"
                                                               value="0"
                                                               class="js-furniture-product-days furniture-catalog__product-calc-item-input">


                                                    </label>
                                                    <p class="furniture-catalog__product-calc-text">
                                                        Стоимость <br>
                                                        <span class="js-furniture-product-amount furniture-catalog__product-calc-price">0</span>
                                                        <span class="furniture-catalog__product-calc-currency">₽</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <table border="0"
                                       class="furniture-catalog__product-calc furniture-catalog__product-calc--tablet">
                                    <tr class="furniture-catalog__product-calc-row furniture-catalog__product-calc-row--header">
                                        <th class="furniture-catalog__product-calc-col">Размер, см</th>
                                        <th class="furniture-catalog__product-calc-col">Цена</th>
                                        <th class="furniture-catalog__product-calc-col">Кол-во</th>
                                        <th class="furniture-catalog__product-calc-col">Сутки</th>
                                        <th class="furniture-catalog__product-calc-col">Стоимость</th>
                                    </tr>
                                    {% for size in item.size %}
                                        <tr class="js-furniture-product-row furniture-catalog__product-calc-row">
                                            <td class="js-furniture-product-size furniture-catalog__product-calc-col">{{ size.text }}</td>
                                            <td class="furniture-catalog__product-calc-col"><span
                                                        class="js-furniture-product-price furniture-catalog__product-calc-price">{{ size.price }}</span>
                                                <span class="furniture-catalog__product-calc-currency">₽</span></td>
                                            <td class="furniture-catalog__product-calc-col">
                                                <input autofocus type="number" min="0" max="9" step="1" value="0"
                                                       class="js-furniture-product-count furniture-catalog__product-calc-item-input">
                                            </td>
                                            <td class="furniture-catalog__product-calc-col">
                                                <input autofocus type="number" min="0" max="9" step="1" value="0"
                                                       class="js-furniture-product-days furniture-catalog__product-calc-item-input">
                                            </td>
                                            <td class="furniture-catalog__product-calc-col"><span
                                                        class="js-furniture-product-amount furniture-catalog__product-calc-price">0</span>
                                                <span class="furniture-catalog__product-calc-currency">₽</span></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <p class="furniture-catalog__product-total">Сумма: <span
                                            class="js-furniture-product-total furniture-catalog__product-total-price">0</span>
                                    <span class="furniture-catalog__product-total-currency">₽</span></p>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="service-delivery">
        <div class="container">
            <div class="row">
                <h2 class="service-delivery__title title col-12">Доставка и обслуживание</h2>
                <ul class="service-delivery__list col-12 col-md-6">
                    <li class="service-delivery__item">
                        <label for="delivery-1" class="service-delivery__label">
                            <input id="delivery-1" value="3 500" name="delivery" type="radio"
                                   class="service-delivery__radio">
                            Доставка 1. Не более 2 единиц мебели
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">3 500</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <label for="delivery-2" class="service-delivery__label">
                            <input id="delivery-2" value="5 000" name="delivery" type="radio"
                                   class="service-delivery__radio">
                            Доставка 2. От 3 до 10 единиц мебели
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">5 000</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <label for="delivery-3" class="service-delivery__label">
                            <input id="delivery-3" value="10 000" name="delivery" type="radio"
                                   class="service-delivery__radio">
                            Доставка 3. От 10 до 20 единиц мебели
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">10 000</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <label for="delivery-pickup" class="service-delivery__label">
                            <input id="delivery-pickup" value="Договорная" name="delivery" type="radio"
                                   class="service-delivery__radio">
                            Возможен самовывоз (залог)
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">Договорная</span></p>
                    </li>


                </ul>
                <ul class="service-delivery__list col-12 col-md-6">
                    <li class="service-delivery__item">
                        <label for="service-1" class="service-delivery__label">
                            <input name="service-delivery" value="3 000" type="radio"
                                   class="service-delivery__radio">
                            Обслуживание 1: (не более 2-х единиц) (монтаж, демонтаж, контроль работы подсветок)
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">3 000</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <label for="service-2" class="service-delivery__label">
                            <input name="service-delivery" value="4 000" type="radio"
                                   class="service-delivery__radio">
                            Обслуживание 2: Один техник 1 смена 10 часов (не более 20 единиц мебели)
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">4 000</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <label for="service-3" class="service-delivery__label">
                            <input name="service-delivery" value="8 000" type="radio"
                                   class="service-delivery__radio">
                            Обслуживание 3: Два техника 1 смена 10 часов (не более 40 единиц мебели)
                        </label>
                        <p class="service-delivery__content"><span
                                    class="service-delivery__price">8 000</span><span
                                    class="service-delivery__currency">₽</span></p>
                    </li>

                    <li class="service-delivery__item">
                        <div class="service-delivery__item-inner">
                            <label for="service-brand" class="service-delivery__label">
                                <input id="service-brand" value="3 000" name="service-delivery-check"
                                       type="checkbox" class="service-delivery__radio">
                                Брендирование мебели
                            </label>
                            <small class="service-delivery__item-note">обсуждается с менеджером</small>
                        </div>
                        <div class="service-delivery__item-inner">
                            <p class="service-delivery__content"><span
                                        class="service-delivery__price">3 000</span><span
                                        class="service-delivery__currency">₽</span></p>
                            <small class="service-delivery__item-note">за единицу</small>
                        </div>

                    </li>


                </ul>
            </div>
        </div>

    </section>
    <section class="order">
        <div class="order__inner">
            <div class="order__info">
                <h2 class="order__info-title">Ваш заказ</h2>
                <small class="order__info-note">Проверьте состав заказа. Стоимость доставки и обслуживания уточняется
                    после заказа.
                </small>
                <ul class="order__info-list">
                    <li class="order__info-item">
                        <p class="order__info-name">Количество мебели</p>
                        <p class=" order__info-count">
                            <span class="js-furniture-count">0</span>
                            <span class="order__info-count">шт.</span>
                        </p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Сумма аренды мебели</p>
                        <p class=" order__info-count">
                            <span class="js-furniture-amount">0</span>
                            <span class="order__info-currency">₽</span>
                        </p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Доставка</p>
                        <p class=" order__info-count">
                            <span class="js-delivery-amount">0</span>
                            <span class="order__info-currency">₽</span>
                        </p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Обслуживание</p>
                        <p class=" order__info-count">
                            <span class="js-service-delivery-amount">0</span>
                            <span class="order__info-currency">₽</span>
                        </p>
                    </li>
                </ul>
                <div class="order__info-total">
                    <p class="order__info-total-content">Итог</p>
                    <p class=" order__info-total-count">
                        <span class="js-furniture-total">0</span>
                        <span class="order__info-total-currency">₽</span>
                    </p>
                </div>
            </div>
            <form action="{{ app.createUrl('/callback/rentmebel') }}" method="post" class="order__form">
                <h2 class="order__form-title">Оформление заказа</h2>
                <small class="order__form-note">
                    С вами свяжется менеджер для согласования времени и места. Затем заказ можно будет оплатить. Мы
                    работаем по 50% предоплате.
                </small>
                <input type="text" name="mebelrent[order_name]" class="order__form-input" placeholder="Ваше имя">
                <input type="text" name="mebelrent[order_phone]" class="order__form-input" placeholder="Телефон">
                <input type="text" name="mebelrent[order_email]" class="order__form-input" placeholder="Почта">


                <input name="mebelrent[order_mebel_value]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_price]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_delivery]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_service]" type="hidden" value="0">



                <button type="submit" class="order__form-submit button button--pink">Отправить</button>
            </form>
        </div>

    </section>
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}