{% extends "views/layouts/base.twig" %}
{% block title %}Аренда посуды{% endblock %}
{% set servicesCover = 'posuda.jpg' %}
{% set servicesTopic = 'Аренда посуды' %}
{% set servicesDesc = '' %}
{% set howitWorkTitle = 'Арендовать посуду' %}
{% set items = [
	{
		"img": "1.jpg",
		"name": "Бокал для горячего",
		"char": "215 мл, Ø75 мм, h 144 мм",
		"price": "30"
	},
	{
		"img": "2.jpg",
		"name": "Бокал - блюдце под шампанское",
		"char": "275 мл, Ø95мм, h85 мм",
		"price": "30"
	},
	{
		"img": "3.jpg",
		"name": "Бокал для вина",
		"char": "210 мл, Ø60 мм, h140 мм",
		"price": "30"
	},
	{
		"img": "101.jpg",
		"name": "Бокал для вина",
		"char": "320 мл, Ø88 мм, h173 мм",
		"price": "30"
	},
	{
		"img": "102.jpg",
		"name": "Бокал для вина",
		"char": "360 мл, Ø67 мм, h200 мм",
		"price": "50"
	},
	{
		"img": "103.jpg",
		"name": "Бокал - коктейльная рюмка",
		"char": "200 мл, Ø10.6 мм, h136 мм",
		"price": "30"
	},
	{
		"img": "104.jpg",
		"name": "Бокал - коктейльная рюмка",
		"char": "130 мл, Ø95 мм, h133 мм",
		"price": "30"
	},
	{
		"img": "105.jpg",
		"name": "Бокал - коктейльная рюмка",
		"char": "225 мл, Ø113 мм, h168 мм",
		"price": "30"
	},
	{
		"img": "106.jpg",
		"name": "Бокал - рокс Casablanca",
		"char": "220 мл, Ø75 мм, h80 мм",
		"price": "25"
	},
	{
		"img": "107.jpg",
		"name": "Бокал для пива",
		"char": "385 мл, Ø65 мм, h190 мм",
		"price": "25"
	},
	{
		"img": "108.jpg",
		"name": "Бокал для коньяка",
		"char": "390 мл, Ø60 мм, h125 мм",
		"price": "30"
	},
	{
		"img": "109.jpg",
		"name": "Бокал - стопка",
		"char": "50 мл, Ø50 мм, h83 мм",
		"price": "25"
	},

	{
		"img": "110.jpg",
		"name": "Бокал - хайбол",
		"char": "200 мл, Ø55 мм, h135 мм",
		"price": "30"
	},
	{
		"img": "111.jpg",
		"name": "Бокал - хайбол",
		"char": "250 мл, Ø55 мм, h145 мм",
		"price": "30"
	},
	{
		"img": "112.jpg",
		"name": "Бокал - хайбол",
		"char": "280 мл, Ø60 мм, h160 мм",
		"price": "30"
	},

	{
		"img": "113.jpg",
		"name": "Бокал - хайбол Casablanca",
		"char": "275 мл, Ø77 мм, h120 мм",
		"price": "30"
	},
	{
		"img": "114.jpg",
		"name": "Бокал - хайбол Casablanca",
		"char": "355 мл, Ø83 мм, h122 мм",
		"price": "30"
	},
	{
		"img": "115.jpg",
		"name": "Бокал - флюте",
		"char": "190 мл, Ø55 мм, h175 мм",
		"price": "30"
	},
	{
		"img": "116.jpg",
		"name": "Бокал для вина Каберне",
		"char": "350 мл, Ø72 мм, h182 мм",
		"price": "60"
	},
	{
		"img": "117.jpg",
		"name": "Бокал для маргариты",
		"char": "270 мл, Ø109 мм, h160 мм",
		"price": "40"
	},
	{
		"img": "118.jpg",
		"name": "Рюмка для граппы",
		"char": "65 мл, Ø33/47 мм, h170 мм",
		"price": "40"
	},
	{
		"img": "24.jpg",
		"name": "Кофейная пара",
		"char": "170 мл, Ø80/140 мм, h70 мм",
		"price": "50"
	},
	{
		"img": "25.jpg",
		"name": "Кофейная пара",
		"char": "250 мл, Ø95/155 мм, h60 мм",
		"price": "50"
	},
	{
		"img": "26.jpg",
		"name": "Чайная пара",
		"char": "250 мл, Ø95/155 мм, h60 мм",
		"price": "50"
	},
	{
		"img": "27.jpg",
		"name": "Тарелка",
		"char": "Ø156 мм",
		"price": "30"
	},
	{
		"img": "27.jpg",
		"name": "Тарелка",
		"char": "Ø180 мм",
		"price": "30"
	},
	{
		"img": "27.jpg",
		"name": "Тарелка",
		"char": "Ø190 мм",
		"price": "35"
	},
	{
		"img": "27.jpg",
		"name": "Тарелка",
		"char": "Ø230 мм",
		"price": "40"
	},
	{
		"img": "27.jpg",
		"name": "Тарелка",
		"char": "Ø267 мм",
		"price": "40"
	}
] %}

{% block content %}
    <section class="service-bar">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
	                    {% if service.getContent %}
		                    {{ service.getContent|raw }}
	                    {% endif %}
                    </div>
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-price">Аренда бокалов: 25 - 50 руб./шт.</p>
                        <p class="service__desc-price">Аренда тарелок: ~ 30 руб./шт.</p>
                        <p class="service__desc-char">Производство: США, Германия, Италия, Франция и др.</p>
                        <p class="service__desc-char">Доставка: Доставка на мероприятие или самовывоз.</p>
                        <p class="service__desc-char">Срок резерва: Не менее 2-х дней до даты
                            мероприятия.</p>
                    </div>
                </div>
	            {% if service.slider.sliderActiveItems %}
		            <div class="service-media__slider owl-carousel owl-theme">
			            {% for item in service.slider.sliderActiveItems %}
				            <div class="service-media__slider-item">
					            {% if item.video %}
						            <iframe src="{{ item.video }}" frameborder="0"
						                    allowfullscreen poster="{{ item.image }}"></iframe>
					            {% else %}
						            <img src="{{ item.getImage }}" alt="">
					            {% endif %}
				            </div>
			            {% endfor %}
		            </div>
	            {% endif %}
            </div>
        </div>
        <div class="service-catalog">
            <h2 class="service-catalog__title  sub-title  stripe"><span>Каталог и цены на аренду посуды</span></h2>
            <div class="container">
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    {% for item in items %}
                        <article class="service-catalog__product col-lg-3">
                            <div class="service-catalog__product-img">
                                <img class="lazyload" alt="{{ item.name }}" src="{{ app.theme.baseUrl }}/img/furniture/posuda/{{ item.img }}" alt="">
                            </div>
                            <div class="service-catalog__product-inner">
                                <h3 class="service-catalog__product-name">{{ item.name }}</h3>
                                <p class="service-catalog__product-char">{{ item.char }}</p>
                                <p class="service-catalog__product-price">{{ item.price }}
                                    <span>руб.</span>
                                </p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <button data-title="заказать посуду" class="service__intro-btn service-catalog__btn button  button--pink">Заказать посуду
                </button>
            </div>
        </div>
    </section>
    {% include "views/modules/need.twig" %}
    {% include "views/modules/how-we work.twig" %}
    {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
    {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}