{% extends "views/layouts/base.twig" %}
{% block title %}Выездной персонал{% endblock %}
{% set servicesCover = 'peoples.png' %}
{% set servicesTopic = 'Выездной персонал' %}
{#{% set servicesDesc = 'В&nbsp;нашем штате 2&nbsp;шеф-бармена PepsiCo, 2&nbsp;шеф-бармена Rioba, шеф-бариста сети &laquo;Шоколадница&raquo;, 3&nbsp;бармена, входящих в&nbsp;мировой ТОП10 по&nbsp;флейрингу.' %}#}
{% set howitWorkTitle = 'Заказать персонал' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="visiting-staff">
        {% include 'views/modules/service.twig' with { item: service } %}
        <div class="service__desc">
            <div class="container">
                <div class="row  service--helper">
                    <h2 class="sub-title sub-title--center">BAR-STREET осуществляет подбор <br> и&nbsp;предоставление
                        профессионального персонала.</h2>



                    <ul class="visiting-staff__list">
                        {% for staff in staffs %}
                            <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="{{ staff.getServiceUrl() }}">{{ staff.service_name }}</a></li>
                        {% endfor %}
                        {#
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Официанты</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Повара</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Бариста</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Сомелье</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Диджеи</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Торседор</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Фумелье</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Кальянщик</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Фотографы</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Текила-girls</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Хостес</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Девушки go-go</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Ведущий</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Дед Мороз</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Супергерои</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Аниматор на день рождения</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Афроамериканцы</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Декоратор</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Аниматор</a></li>
                        #}
                    </ul>
                    <p class="text visiting-staff__text">
                        У нас Вы можете заказать услуги обслуживающего персонала для работы на Вашем мероприятии. Возраст сотрудников от 20 до 50 лет. Весь персонал имеет большой опыт работы в лучших заведениях Москвы, а также на выездных мероприятиях. При необходимости каждый сотрудник может взять с собой оборудование, необходимое для работы. Наши сотрудники работают в стильной форме одежды.
                    </p>
	                {% if service.slider.sliderActiveItems %}
                        <div class="service-media__slider owl-carousel owl-theme">
			                {% for item in service.slider.sliderActiveItems %}
                                <div class="service-media__slider-item">
					                {% if item.video %}
                                        <iframe src="{{ item.video }}" frameborder="0"
                                                allowfullscreen poster="{{ item.image }}"></iframe>
					                {% else %}
                                        <img src="{{ item.getImage }}" alt="">
					                {% endif %}
                                </div>
			                {% endfor %}
                        </div>
	                {% endif %}
                </div>
            </div>
        </div>
        <section class="visiting-staff__clothes">
            <h2 class="sub-title service__catalog-title"><span><b>Форма одежды персонала</b></span></h2>
            <div class="container">
                {% for data in service.items %}
                    <article class="service__product  service__product--color">
                        <div class="service__product-img--no-scale">
                            <img class="lazyload visiting-staff__item-img" data-src="{{ data.item.getImage() }}" alt="{{ data.item.title }}">
                            <h3 class="service__product-name">{{ data.item.title }}</h3>
                            <p class="service__product-desc">{{ data.item.description }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <button class="service__intro-btn button  button--pink  visiting-staff__clothes-btn">Заказать персонал</button>
        </section>
        {% include "views/modules/how-we work.twig" %}
        {% include "views/modules/photos.twig" with {gallery: service.getGalleries() } %}
        {% include "views/modules/service-clients.twig" with {reviews: reviews} %}
    </section>
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}