{% extends "views/layouts/base.twig" %}
{% set blue = true %}
{% block title %}{{ article.article_name }}{% endblock %}
{% set servicesTopic = 'Выездной мобильный бар на свадьбу' %}
{% set servicesDesc = 'Выездной мобильный бар на свадьбу' %}

{% block content %}
    <section class="article">
        <div class="container">
            <h1 class="title">{{ article.article_name }}</h1>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <a href="/" class="breadcrumbs__link" itemtype="http://schema.org/Thing"
                       itemprop="item">Главная</a>
                    <meta itemprop="position" content="1" />
                    <meta itemprop="name" content="Главная" />
                </li>
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <a href="/article" class="breadcrumbs__link" itemtype="http://schema.org/Thing"
                       itemprop="item">Статьи</a>
                    <meta itemprop="position" content="2" />
                    <meta itemprop="name" content="Статьи" />
                </li>
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <span class="breadcrumbs__link breadcrumbs__link--active" itemscope itemtype="http://schema.org/Thing"
                          itemprop="item">{{ article.article_name }}</span>
                    <meta itemprop="position" content="3" />
                    <meta itemprop="name" content="{{ article.article_name }}" />
                </li>
            </ul>
        </div>
        <div class="article__container">
            <article class="article__body">
                {{ article.article_content|raw }}
            </article>

            <form class="article__form" action="{{ app.createUrl('/callback') }}" method="post">
                <p class="article__form-title">
                    Получите бесплатную консультацию <br> по услугам Bar-Street
                </p>
                <div class="input__wrapper">
                    <input type="text" name="CallbackForm[form_user_name]" class="input article__form-input"
                           placeholder="Ваше имя">
                </div>
                <div class="input__wrapper">
                    <input type="tel" name="CallbackForm[form_phone]" class="input article__form-input phone-input"
                           placeholder="Телефон">
                </div>
                <div class="input__wrapper">
                    <input type="email" name="CallbackForm[form_email]" class="input article__form-input"
                           placeholder="Почта">
                </div>

                <div class="g-recaptcha">
                    <input type="hidden" class="token" name="g-recaptcha-response">
                </div>

                <button class="button button--pink  article__form-btn">Оформить заявку</button>

                <input type="hidden" name="CallbackForm[form_category_name]" value="Бесплатная консультация (Услуги)">
            </form>

            {% if article_next.article_name or article_prev.article_name %}
                <section class="article__other">
                    <p class="article__other__text">Другие статьи</p>
                        <div class="articles__item  article__other-item">
                            <img class="articles__img lazyload" src="{{ article_next.getImage() }}" alt="" width="365"
                                 height="260">
                            <h2 class="articles__sub-title">
                                <a class="link-second" href="{{ article_next.getUrl }}">{{ article_next.article_name }}</a>
                            </h2>
                        </div>
                        <div class="articles__item  article__other-item">
                            <img class="articles__img lazyload" src="{{ article_prev.getImage() }}" alt="" width="365"
                                 height="260">
                            <h2 class="articles__sub-title">
                                <a class="link-second" href="{{ article_prev.getUrl }}">{{ article_prev.article_name }}</a>
                            </h2>
                        </div>
                </section>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block popups %}

{% endblock %}