<header>
	{% include '/views/yandexFeed/menu.twig' %}
</header>
{#<h1>{{ article.article_name }}</h1>#}
{{ article.article_content|replace({'span id': 'span class'})|raw }}
<button
		formaction="mailto:info@bar-street.ru"
		data-background-color="#ed1e79"
		data-color="white"
		data-primary="true"
		data-send-to="info@bar-street.ru"
		data-agreement-company="ООО Бар-Стрит"
		data-agreement-link="https://bar-street.ru">Отправить заявку</button>