{% extends "views/layouts/base.twig" %}
{% block title %}Список услуг{% endblock %}

{% block content %}
    <section class="services">
        <div class="container">
            <h1 class="title services__title">Услуги Bar-Street</h1>
            <h2 class="services__subtitle">Выездные бары</h2>
            <ul class="services__list  row">
                {% for key,service in services %}
                    <li class="services__item  col-sm-6 col-md-6 col-lg-{% if service|length > 10 %}8{% else %}4{% endif %}">
                        <h3 class="services__item-title">{{ key }}</h3>
                        <ul class="services__sublist {% if service|length > 10 %}services__sublist--helper{% endif %}">
                            {% for item in service %}
                                <li class="services__subitem">
                                    <svg class="icon-svg  icon-svg--padding {{ item.getServiceIconClass() }}">
                                        <use xlink:href="#{{ item.getServiceIcon() }}"/>
                                    </svg>
                                    <a href="{{ item.getServiceUrl() }}" class="services__subitem-link">
                                        {{ item.service_name }}
                                        {% if item.getComment %}
                                            <small>({{ item.getComment }})</small>
                                        {% endif %}
                                    </a>
                                    <p class="services__label" style="color: {{ item.getLabel().hex_color }}!important">{{ item.getLabel().label }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                     </li>
                {% endfor %}
                {#<li class="services__item col-md-12 col-lg-4">#}
                    {#<aside class="consultation">#}
                        {#<h2 class="consultation__title">Бесплатная консультация по всем видам услуг</h2>#}
                        {#<div class="consultation__inner">#}
                            {#<p class="consultation__town-name">Москва</p>#}
                            {#<a href="tel:+7{{ this.settings['service_moscow'].field_value }}" class="consultation__phone">#}
                                {#<span>+7 </span> {{ this.settings['service_moscow'].field_value }}</a>#}
                        {#</div>#}
                        {#<div class="consultation__inner">#}
                            {#<p class="consultation__town-name">Санкт-Петербург</p>#}
                            {#<a href="tel:+7{{ this.settings['service_stpeter'].field_value }}" class="consultation__phone">#}
                                {#<span>+7 </span>{{ this.settings['service_stpeter'].field_value }}</a>#}
                        {#</div>#}
                        {#<a href="#consultation-callback" class="consultation__callback-link  go_to">Обратный звонок</a>#}
                    {#</aside>#}
                {#</li>#}
            </ul>
            <aside class="consultation">
                <h2 class="consultation__title">Бесплатная консультация по всем видам услуг</h2>
                <div class="consultation__inner">
                        <p class="consultation__town-name">Москва</p>
                        <a href=tel:+7{{ this.settings['service_moscow'].field_value }}" class="consultation__phone">
                            <span>+7 </span> {{ this.settings['service_moscow'].field_value }}</a>
                    </div>
                <div class="consultation__inner">
                        <p class="consultation__town-name">Санкт-Петербург</p>
                        <a href="tel:+7{{ this.settings['service_stpeter'].field_value }}" class="consultation__phone">
                            <span>+7 </span>{{ this.settings['service_stpeter'].field_value }}
                        </a>
                    </div>
                <a href="#consultation-callback" class="consultation__callback-link  go_to">Обратный звонок</a>
            </aside>
        </div>
    </section>
    <section class="coctails-choose">
        <div class="container">
            <div class="row">
                <h2 class="coctails-choose__title col-md-8">Вы можете сами выбрать коктейли, которые будут подаваться в
                    баре</h2>
                <a href="/coctails" class="coctails-choose__link col-md-4">Коктейльная карта</a>
            </div>
        </div>
    </section>
    <section class="another">
        <div class="container">
            <h2 class="another__title">Другие услуги</h2>
            <div class="another__toggles">
                <ul class="another__toggles-list">
                    {% for key,service_another in service_another %}
                        <li class="another__toggles-item">
                            <a href="#Another{{ loop.index0 }}" class="another__toggle {% if not loop.index0 %}another__toggle--active{% endif %}">{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="another__content">
                {% for key,service_another in service_another %}
                    <ul id="Another{{ loop.index0 }}" class="another__tab-list {% if not loop.index0 %} row another__tab-list--active{% endif %}">
                        {% for another in service_another %}
                            <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                                <a href="{{ another.getServiceUrl() }}" class="another__tab-link">{{ another.service_name|striptags }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block popups %}
    {% include 'views/modules/service-popup.twig' %}
    {% include 'views/modules/question-popup.twig' %}
{% endblock %}