{% extends "views/layouts/base.twig" %}
{% set blue = true %}
{% block title %}Статьи{% endblock %}
{% set servicesTopic = 'Статьи' %}
{% set servicesDesc = 'Статьи описание' %}

{% block content %}
    <section class="articles">
        <div class="container">
            <h1 class="title">Статьи</h1>
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <a href="/" class="breadcrumbs__link" itemtype="http://schema.org/Thing"
                       itemprop="item">Главная</a>
	                <meta itemprop="position" content="1" />
	                <meta itemprop="name" content="Главная" />
                </li>
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">
                    <span class="breadcrumbs__link breadcrumbs__link--active" itemscope itemtype="http://schema.org/Thing"
                          itemprop="item">Статьи</span>
	                <meta itemprop="position" content="2" />
	                <meta itemprop="name" content="Статьи" />
                </li>
            </ul>
        </div>
        <section class="articles__list">
            <div class="container">
                {% for article in articles %}
                    <div class="articles__item">
                        {{ ImgHelper.img(article.getImage(), 'articles__img') }}
                        <h2 class="articles__sub-title">
                            <a class="link-second" href="{{ article.getUrl() }}">{{ article.article_name }}</a>
                        </h2>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    <script type="text/javascript">
		$(document).ready(function ($) {
			var block = true;
			var page = 1;
			$(window).scroll(function () {
				if ($(window).height() + $(window).scrollTop() >= ($(document).height()-300) && block) {
					block = false;
					page++;
					$.ajax({
						type: 'GET',
						url: '/article/articles?page=' + page,
						success: function (list) {
							if (list == '') {
								block = false;
							} else {
								if($(document).find('footer').length == 0){
									if($(list).hasClass('new-footer')) {
										$(list).insertAfter($('main.main'));
										block = false;
									} else {
										$('.articles__list > .container').append(list);
										block = true;
									}
								} else {
									block = false;
								}
							}
						}
					});
				}
			});
		});
    </script>
{% endblock %}
{% block popups %}

{% endblock %}