



.productPreviewImageItem {
    margin: 10px;
    border: 1px solid lightgray;
    padding: 5px;
}

.productPreviewImageItem img {
    width: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
}

.productPreviewImageItem .productPreviewImage__content {
    margin-top: 10px;
}

.productPreviewImageItem input {
    display: block;
    margin-bottom: 5px;
}

.productPreviewImage__preview input {
    display: inline-block;
}

.productPreviewImageItem .removeLink {
    display: block;
    color: red;
    text-decoration: underline;
    text-align: center;
    /*text-transform: uppercase;*/
}

.productPreviewImage__preview {
    text-align: center;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

/*!
 * Colorpicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.colorpicker-saturation {
    width: 100px;
    height: 100px;
    background-image: url('/images/admin/colorpicker/saturation.png');
    cursor: crosshair;
    float: left;
}

.colorpicker-saturation i {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    margin: -4px 0 0 -4px;
}

.colorpicker-saturation i b {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #fff;
}

.colorpicker-hue,
.colorpicker-alpha {
    width: 15px;
    height: 100px;
    float: left;
    cursor: row-resize;
    margin-left: 4px;
    margin-bottom: 4px;
}

.colorpicker-hue i,
.colorpicker-alpha i {
    display: block;
    height: 1px;
    background: #000;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -1px;
}

.colorpicker-hue {
    background-image: url('/images/admin/colorpicker/hue.png');
}

.colorpicker-alpha {
    background-image: url('/images/admin/colorpicker/alpha.png');
    display: none;
}

.colorpicker {
    *zoom: 1;
    top: 0;
    left: 0;
    padding: 4px;
    min-width: 120px;
    margin-top: 1px;
}

.colorpicker:before,
.colorpicker:after {
    display: table;
    content: "";
    line-height: 0;
}

.colorpicker:after {
    clear: both;
}

.colorpicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}

.colorpicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.colorpicker div {
    position: relative;
}

.colorpicker.alpha {
    min-width: 140px;
}

.colorpicker.alpha .colorpicker-alpha {
    display: block;
}

.colorpicker-color {
    height: 10px;
    margin-top: 5px;
    clear: both;
    background-image: url('/images/admin/colorpicker/alpha.png');
    background-position: 0 100%;
}

.colorpicker-color div {
    height: 10px;
}

.input-group.color .input-group-addon i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}


.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/*
Version: 3.4.1 Timestamp: Thu Jun 27 18:02:10 PDT 2013
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */

    zoom: 1;
    *display: inline;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    /*
      Force border-box so that % widths fit the parent
      container without overlap because of margin/padding.

      More Info : http://www.quirksmode.org/css/box.html
    */

    -webkit-box-sizing: border-box;
    /* webkit */

    -khtml-box-sizing: border-box;
    /* konqueror */

    -moz-box-sizing: border-box;
    /* firefox */

    -ms-box-sizing: border-box;
    /* ie */

    box-sizing: border-box;
    /* css3 */

}
.select2-container .select2-choice {
    display: block;
    height: 30px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #cccccc;
    white-space: nowrap;
    line-height: 30px;
    color: #555;
    text-decoration: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    background: url('/images/admin/select/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}
.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}
.select2-drop-undermask {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: transparent;
    filter: alpha(opacity=0);
}
.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
    /* styles required for IE to work */

    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
}
.select2-drop {
    width: 100%;
    margin-top: -3px;
    padding-top: 3px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}
.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}
.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
}
.select2-drop-active {
    border: 1px solid #4d7496;
    border-top: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #4d7496;
}
.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 2px;
    border-left: 1px solid #cccccc;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background: #fff;
}
.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('/images/admin/select/select2.png') no-repeat 0 1px;
}
.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}
.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ffffff url('/images/admin/select/select2.png') no-repeat 100% -22px;
}
.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}
.select2-search input.select2-active {
    background: #ffffff url('/images/admin/select/select2-spinner.gif') no-repeat 100%;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #4d7496;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #4d7496;
    border-top-color: transparent;
}
.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}
/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
    padding-left: 20px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 40px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 60px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 80px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 100px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 110px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 120px;
}
.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-results .select2-highlighted {
    background: #4d7496;
    color: #fff;
}
.select2-results li em {
    background: #feffde;
    font-style: normal;
}
.select2-results .select2-highlighted em {
    background: transparent;
}
.select2-results .select2-highlighted ul {
    background: white;
    color: #000;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-selected {
    display: none;
}
.select2-more-results.select2-active {
    background: #f4f4f4 url('/images/admin/select/select2-spinner.gif') no-repeat 100%;
}
.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}
/* multiselect */
.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #cccccc;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
}
.select2-locked {
    padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
    min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #4d7496;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #ffffff url('/images/admin/select/select2-spinner.gif') no-repeat 100% !important;
}
.select2-default {
    color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 5px 0 3px 5px;
    position: relative;
    line-height: 15px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 1px 0 #ffffff inset;
    -moz-box-shadow: 0 1px 0 #ffffff inset;
    box-shadow: 0 1px 0 #ffffff inset;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f9f9f9;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url('../../../plugins/select2/select2.png') right top no-repeat;
}
.select2-container-multi .select2-search-choice-close {
    left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
    background: none;
}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}
.select2-offscreen,
.select2-offscreen:focus {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    outline: 0;
    left: 0px;
}
.select2-display-none {
    display: none;
}
.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: url('/images/admin/select/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }
    .select2-search input {
        background-position: 100% -21px !important;
    }
}
/* Validation Styles */
.select2-container.has-error .select2-choice {
    border-color: #b94a48;
    color: #b94a48;
}
.select2-container.has-success .select2-choice {
    border-color: #356635;
    color: #356635;
}


/**
		 * Nestable Extras
		 */

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#nestable-menu {
    padding: 0;
    margin: 20px 0;
}

#nestable-output,
#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #bbb;
}

#nestable2 .dd-item > button:before {
    color: #fff;
}

@media only screen and (min-width: 700px) {

    .dd {
        float: left;
        width: 48%;
    }

    .dd + .dd {
        margin-left: 2%;
    }

}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}



.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}



/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
    background-image: url("/js/admin/plugins/uniform/images/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}
div.selector,
div.checker,
div.button,
div.radio,
div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* Keeping this as :focus to remove browser styles */
}
div.selector:focus,
div.checker:focus,
div.button:focus,
div.radio:focus,
div.uploader:focus {
    outline: 0;
}
div.selector,
div.selector *,
div.radio,
div.radio *,
div.checker,
div.checker *,
div.uploader,
div.uploader *,
div.button,
div.button * {
    margin: 0;
    padding: 0;
}
.highContrastDetect {
    background: url("../../../plugins/uniform/images/bg-input.png") repeat-x 0 0;
    width: 0px;
    height: 0px;
}
/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    padding: 3px;
    background: url("../../../plugins/uniform/images/bg-input.png") repeat-x 0 0;
    outline: 0;
}
input.uniform-input.active,
select.uniform-multiselect.active,
textarea.uniform.active {
    background: url("../../../plugins/uniform/images/bg-input-focus.png") repeat-x 0 0;
}
/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* Select */
div.selector {
    background-position: 0 -130px;
    line-height: 26px;
    height: 26px;
    padding: 0 0 0 10px;
    position: relative;
    overflow: hidden;
}
div.selector span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%;
    display: block;
}
div.selector.fixedWidth {
    width: 190px;
}
div.selector.fixedWidth span {
    width: 155px;
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0px;
    width: 100%;
}
div.selector.active {
    background-position: 0 -156px;
}
div.selector.active span {
    background-position: right -26px;
}
div.selector.hover,
div.selector.focus {
    background-position: 0 -182px;
}
div.selector.hover span,
div.selector.focus span {
    background-position: right -52px;
}
div.selector.hover.active,
div.selector.focus.active {
    background-position: 0 -208px;
}
div.selector.hover.active span,
div.selector.focus.active span {
    background-position: right -78px;
}
div.selector.disabled,
div.selector.disabled.active {
    background-position: 0 -234px;
}
div.selector.disabled span,
div.selector.disabled.active span {
    background-position: right -104px;
}
/* Checkbox */
div.checker {
    position: relative;
}
div.checker,
div.checker span,
div.checker input {
    width: 19px;
    height: 19px;
}
div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px;
}
div.checker span.checked {
    background-position: -76px -260px;
}
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
div.checker.active span {
    background-position: -19px -260px;
}
div.checker.active span.checked {
    background-position: -95px -260px;
}
div.checker.hover span,
div.checker.focus span {
    background-position: -38px -260px;
}
div.checker.hover span.checked,
div.checker.focus span.checked {
    background-position: -114px -260px;
}
div.checker.hover.active span,
div.checker.focus.active span {
    background-position: -57px -260px;
}
div.checker.hover.active span.checked,
div.checker.focus.active span.checked {
    background-position: -133px -260px;
}
div.checker.disabled span,
div.checker.disabled.active span {
    background-position: -152px -260px;
}
div.checker.disabled span.checked,
div.checker.disabled.active span.checked {
    background-position: -171px -260px;
}
/* Radio */
div.radio {
    position: relative;
}
div.radio,
div.radio span,
div.radio input {
    width: 18px;
    height: 18px;
}
div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -279px;
}
div.radio span.checked {
    background-position: -72px -279px;
}
div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}
div.radio.active span {
    background-position: -18px -279px;
}
div.radio.active span.checked {
    background-position: -90px -279px;
}
div.radio.hover span,
div.radio.focus span {
    background-position: -36px -279px;
}
div.radio.hover span.checked,
div.radio.focus span.checked {
    background-position: -108px -279px;
}
div.radio.hover.active span,
div.radio.focus.active span {
    background-position: -54px -279px;
}
div.radio.hover.active span.checked,
div.radio.focus.active span.checked {
    background-position: -126px -279px;
}
div.radio.disabled span,
div.radio.disabled.active span {
    background-position: -144px -279px;
}
div.radio.disabled span.checked,
div.radio.disabled.active span.checked {
    background-position: -162px -279px;
}
/* Uploader */
div.uploader {
    background-position: 0 -297px;
    height: 28px;
    width: 190px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
div.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 82px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer;
}
div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 85px;
    padding: 0 10px;
}
div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%;
}
div.uploader.active span.action {
    background-position: right -465px;
}
div.uploader.hover,
div.uploader.focus {
    background-position: 0 -353px;
}
div.uploader.hover span.action,
div.uploader.focus span.action {
    background-position: right -437px;
}
div.uploader.hover.active span.action,
div.uploader.focus.active span.action {
    background-position: right -493px;
}
div.uploader.disabled,
div.uploader.disabled.active {
    background-position: 0 -325px;
}
div.uploader.disabled span.action,
div.uploader.disabled.active span.action {
    background-position: right -381px;
}
/* Buttons */
div.button {
    background-position: 0 -641px;
    height: 30px;
    cursor: pointer;
    position: relative;
    /* Keep buttons barely visible so they can get focus */
}
div.button a,
div.button button,
div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 22px;
    text-align: center;
    background-position: right -521px;
    height: 22px;
    margin-left: 13px;
    padding: 8px 15px 0 2px;
}
div.button.active {
    background-position: 0 -671px;
}
div.button.active span {
    background-position: right -551px;
    cursor: default;
}
div.button.hover,
div.button.focus {
    background-position: 0 -701px;
}
div.button.hover span,
div.button.focus span {
    background-position: right -581px;
}
div.button.disabled,
div.button.disabled.active {
    background-position: 0 -731px;
}
div.button.disabled span,
div.button.disabled.active span {
    background-position: right -611px;
    cursor: default;
}
/* INPUT & TEXTAREA */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    font-size: 12px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #777;
    border-top: solid 1px #aaaaaa;
    border-left: solid 1px #aaaaaa;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input.uniform-input.hover,
input.uniform-input.focus,
select.uniform-multiselect.hover,
select.uniform-multiselect.focus,
textarea.uniform.hover,
textarea.uniform.focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999;
}
/* PRESENTATION */
/* Buttons */
div.button span {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
div.button.hover span,
div.button.focus span {
    color: #555;
}
div.button.disabled span,
div.button.disabled.active span {
    color: #bbb;
}
/* Select */
div.selector {
    font-size: 12px;
}
div.selector span {
    color: #666;
    text-shadow: 0 1px 0 white;
}
div.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
div.selector.disabled span,
div.selector.disabled.active span {
    color: #bbb;
}
/* Checker */
div.checker {
    margin-right: 5px;
}
/* Radio */
div.radio {
    margin-right: 3px;
    margin-left: -20px;
    font-weight: normal;
}
/* Uploader */
div.uploader span.action {
    text-shadow: white 0px 1px 0px;
    background-color: #fff;
    font-size: 11px;
    font-weight: bold;
}
div.uploader span.filename {
    color: #777;
    border-right: solid 1px #bbbbbb;
    font-size: 11px;
}
div.uploader.disabled span.action,
div.uploader.disabled.active span.action {
    color: #aaa;
}
div.uploader.disabled span.filename,
div.uploader.disabled.active span.filename {
    border-color: #ddd;
    color: #aaa;
}
input.uniform-input,
input.uniform-input:focus {
    background-color: #fff;
}


/* NEW ADMIN TEMPLATE */

.box-tabs-left {
    flex-direction: row-reverse;
    border: unset !important;
}
.breadcrumb-item a {
    font-size: 0.875rem;
}
.productPreviewImageItem input {
    width: 100%;
    padding-left: 5px;
}
.productPreviewImageItem {
    font-size: 13px;
}

/* END TEMPLATE */

.tables-title {
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 5px auto 27px auto;
    text-transform: uppercase;
}
.productPreviewImage__content input:focus {
    border: 1px solid #f2f2f2;
}


.nav-tabs .active > .btn.btn-outline-secondary {
    color: #212529;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

