<header>
	{% include '/views/yandexFeed/menu.twig' %}
</header>
{{ service.service_content|replace({'span id': 'span class'})|raw }}
{% if service.getCatalogTitle() %}
	<h2>{{ service.getCatalogTitle() }}</h2>
{% else %}
	<h2>Цены на коктейли бара</h2>
{% endif %}
{% if service.getProducts(true).length > 0 %}
	<div data-block="slider" data-view="portrait">
		{% for product in service.getProducts(true) %}
			<figure>
				<figcaption>{{ product.product_name }} {{ product.getPrice }} р.</figcaption>
				<img src="https://bar-street.ru{{ product.getImage() }}"/>
			</figure>
		{% endfor %}
	</div>
{% endif %}
<button
		formaction="mailto:info@bar-street.ru"
		data-background-color="#ed1e79"
		data-color="white"
		data-primary="true"
		data-send-to="info@bar-street.ru"
		data-agreement-company="ООО Бар-Стрит"
		data-agreement-link="https://bar-street.ru">Отправить заявку</button>
{% if service.getGalleries().length > 0 %}
	<div data-block="feed" data-layout="vertical" data-title="Фото с мероприятий">
		{% for gallery in service.getGalleries() %}
			<div data-block="feed-item"
			     data-href="https://bar-street.ru{{ gallery.getGalleryUrl }}"
			     data-title="{{ gallery.getName() }}"
			     data-thumb="https://bar-street.ru{{ gallery.getAnnounceImage() }}"
			     data-thumb-position="top"
			     data-thumb-ratio="3x2"
			     data-description="{{ gallery.getDate() }}">
			</div>
		{% endfor %}
	</div>
{% endif %}