<footer class="main-footer">
    <div class="container">
        <section class="info ">
            <div class="container">
                <ul class="info__list  row">
                    <li class="info__item  col-md-5  col-lg-3">
                        <p class="info__item-title  mobile-hidden">Работа на выставках</p>
                        <p class="info__item-description  mobile-hidden">Ваш стенд заметят, запомнят и испробуют!</p>
                        {% if this.currentUri == '/expo' %}
                            <a href="javascript:;" class="info__item-link">Ознакомиться с услугой</a>
                        {% else %}
                            <a href="/expo" class="info__item-link">Ознакомиться с услугой</a>
                        {% endif %}
                    </li>
                    <li class="info__item  col-md-5  col-lg-3">
                        <p class="info__item-title  mobile-hidden">Порядок оказания услуг</p>
                        <p class="info__item-description  mobile-hidden">Узнайте как мы работаем с нашими клиентами</p>
                        <a href="#" class="info__item-link">Узнать этапы работы</a>
                    </li>
                    <li class="info__item  col-md-5  col-lg-3  mobile-hidden">
                        <p class="info__item-title">Презентация Bar-Street</p>
                        <p class="info__item-description">Коротко, ясно о нас и наших услугах</p>

                        <a class="info__item-link" href="{{ app.theme.baseUrl }}/docs/present-bar-street.pdf"
                           target="_blank">Скачать PDF</a>

                        {#<button class="info__item-link  info__item-link--price">Скачать PDF</button>#}
                    </li>
                    <li class="info__item  col-md-5  col-lg-3">
                        <p class="info__item-title  mobile-hidden">Консультация менеджера</p>
                        <p class="info__item-description  mobile-hidden">Ответим на все ваши вопросы</p>
                        {% if this.currentUri == '/event' %}
                            <a href="javascript:;" class="info__item-form-link  button  button--pink">Заявка на
                                услуги</a>
                        {% else %}
                            <a href="/event" class="info__item-form-link  button  button--pink">Заявка на услуги</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </section>
        <div class="row">
            <div class="main-footer__navigation  col-md-4  col-lg-3">
                <ul class="main-footer__navigation-list">
                    <li class="main-footer__navigation-item">
                        {% if this.currentUri == '/partner' %}
                            <a href="javascript:;" class="main-footer__navigation-link">Партнерам</a>
                        {% else %}
                            <a href="/partner" class="main-footer__navigation-link">Партнерам</a>
                        {% endif %}
                    </li>
                    <li class="main-footer__navigation-item">
                        {% if this.currentUri == '/facts' %}
                            <a href="javascript:;" class="main-footer__navigation-link">Мы в СМИ</a>
                        {% else %}
                            <a href="/facts" class="main-footer__navigation-link">Мы в СМИ</a>
                        {% endif %}
                    </li>
                    <li class="main-footer__navigation-item">
                        {% if this.currentUri == '/vacancy' %}
                            <a href="javascript:;" class="main-footer__navigation-link">Вакансии</a>
                        {% else %}
                            <a href="/vacancy" class="main-footer__navigation-link">Вакансии</a>
                        {% endif %}
                    </li>
                    <li class="main-footer__navigation-item">
                        {% if this.currentUri == '/article' %}
                            <a href="javascript:;" class="main-footer__navigation-link">Статьи</a>
                        {% else %}
                            <a href="/article" class="main-footer__navigation-link">Статьи</a>
                        {% endif %}
                    </li>
                    <li class="main-footer__navigation-item">
                        {% if this.currentUri == '/event' %}
                            <a href="javascript:;" class="main-footer__navigation-link">Задать вопрос</a>
                        {% else %}
                            <a href="/event" class="main-footer__navigation-link">Задать вопрос</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <section class="copyright  col-md-4  col-lg-3">
                <p class="copyright__item">© {{ date('Y') }} Bar-street.ru <br> Все права защищены.</p>
                <small class="copyright__offer">Используя сайт, вы принимаете условия
                    <a target="_blank" href="/public-oferta" class="copyright__link">Публичной оферты</a>,
                    <a target="_blank" href="/agreement-processing-personal-data" class="copyright__link">Соглашения на обработку персональных данных</a>
                    и
                    <a target="_blank" href="/politics-public-oferta" class="copyright__link">Политики в отношении обработки персональных
                        данных</a>
                </small>
            </section>
            <section class="main-footer__contacts  col-md-3  col-lg-3">
                <div itemscope itemtype="http://schema.org/Organization">
                    <span itemprop="name" style="display: none">BarStreet</span>
                    <span itemprop="telephone" style="display: none;">+7 (495) 374-61-62 </span>
                    <div class="main-footer__contacts-item">
                        <p class="main-footer__contacts-title">Электронная почта</p>
                        <a href="mailto:info@bar-street.ru" class="main-footer__contacts-link"><span itemprop="email">info@bar-street.ru</span></a>
                    </div>
                    <div class="main-footer__contacts-item" itemprop="address" itemscope
                         itemtype="http://schema.org/PostalAddress">
                        <p class="main-footer__contacts-title">Адрес</p>
                        <p class="main-footer__contacts-adress"><span
                                    itemprop="streetAddress">ул. Клары Цеткин д.4</span></p>
                        <span itemprop="addressLocality" style="display: none">Москва</span>
                    </div>
                </div>
            </section>
            <div class="main-footer__inner  col-md-4  col-lg-3">
                <div class="main-footer__social">
                    <ul class="main-footer__social-list">
                        <li class="main-footer__social-item">
                            <a target="_blank" href="https://www.instagram.com/barstreet/"
                               class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-inst"/>
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a target="_blank" href="https://www.facebook.com/bar.street.ru/"
                               class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-fb"/>
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a target="_blank" href="https://vk.com/barstreet1" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-vk"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="payment">
                    <img src="{{ app.theme.baseUrl }}/img/visa.svg" width="50" height="50" alt="Visa"
                         class="payment__item lazyload">
                    <img src="{{ app.theme.baseUrl }}/img/mastercard.svg" width="50" height="50" alt="MasterCard"
                         class="payment__item lazyload">
                </section>
                <section class="devolopment">
                    <a href="https://constructivesolutions.ru/" target="_blank" class="devolopment__link">
                        <p class="devolopment__title">Разработка и продвижение</p>
                        <img class="lazyload" src="{{ app.theme.baseUrl }}/img/cs.svg" width="50" height="50"
                             alt="Конструктивные решения">
                    </a>
                </section>
            </div>
        </div>
    </div>
</footer>