<footer class="main-footer">
    <div class="container">
        <section id="consultation-callback" class="consultation-callback">
            <div class="container">
                <div class="row">
                    <div class="consultation-callback__inner col-md-6 col-lg-8 mobile-hidden">
                        <h2 class="consultation-callback__title">Получить бесплатную консультацию по услуге</h2>
                        <ul class="consultation-callback__town-list">
                            <li class="consultation-callback__town-item">
                                <p class="consultation-callback__town-name">Москва:</p>
                                <a href="tel:+7(495)374-61-62" class="consultation-callback__town-phone">+7 (495) 374-61-62</a>
                            </li>
                            <li class="consultation-callback__town-item">
                                <p class="consultation-callback__town-name">Санкт-Петербург:</p>
                                <a href="tel:+7(812)438-12-14" class="consultation-callback__town-phone">+7 (812) 438-12-14</a>
                            </li>
                        </ul>
                    </div>
                    <form action="#" class="consultation-callback__form col-md-6 col-lg-4">
                        <p class="consultation-callback__form-title tablet-hidden">Консультация менеджера</p>
                        <p class="consultation-callback__form-note tablet-hidden">Ответим на все ваши вопросы</p>
                        <input type="text" class="consultation-callback__form-input" placeholder="Ваше имя">
                        <input type="tel" class="consultation-callback__form-input phone-input" placeholder="Телефон">
                        <button type="submit" class="consultation-callback__form-submit button  button--pink">Перезвоните мне</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="main-footer__navigation  col-md-4  col-lg-3">
                <ul class="main-footer__navigation-list">
                    <li class="main-footer__navigation-item">
                        <a href="#" class="main-footer__navigation-link">Партнерам</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="#" class="main-footer__navigation-link">Мы в СМИ</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="#" class="main-footer__navigation-link">Вакансии</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/article/" class="main-footer__navigation-link">Статьи</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/event" class="main-footer__navigation-link">Задать вопрос</a>
                    </li>
                </ul>
            </div>
            <section class="copyright  col-md-4  col-lg-3">
                <p class="copyright__item">© 2018 Bar-street.ru
                    <br> Все права защищены.</p>
                <small class="copyright__offer">Используя сайт, вы принимаете условия
                    <a href="#" class="copyright__link">Публичной оферты</a>,
                    <a href="#" class="copyright__link">Соглашения на обработку персональных данных</a> и
                    <a href="#" class="copyright__link">Политики в отношении обработки персональных данных</a>
                </small>
            </section>
            <section class="main-footer__contacts  col-md-3  col-lg-3">
                <div class="main-footer__contacts-item">
                    <h3 class="main-footer__contacts-title">Электронная почта</h3>
                    <a href="#" class="main-footer__contacts-link">info@bar-street.ru</a>
                </div>
                <div class="main-footer__contacts-item">
                    <h3 class="main-footer__contacts-title">Адрес</h3>
                    <p class="main-footer__contacts-adress">ул. Клары Цеткин д.4</p>
                </div>
            </section>
            <div class="main-footer__inner  col-md-4  col-lg-3">
                <div class="main-footer__social">
                    <ul class="main-footer__social-list">
                        <li class="main-footer__social-item">
                            <a href="https://www.instagram.com/barstreet/" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-inst" />
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a href="https://www.facebook.com/bar.street.ru/" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-fb" />
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a href="https://vk.com/barstreet1" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-vk" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="payment">
                    <img src="../../img/visa.svg" width="50" height="50" alt="Visa" class="payment__item">
                    <img src="../../img/mastercard.svg" width="50" height="50" alt="MasterCard" class="payment__item">
                </section>
                <section class="devolopment">
                    <a href="https://constructivesolutions.ru/" target="_blank" class="devolopment__link">
                        <h2 class="devolopment__title">Разработка и продвижение</h2>
                        <?xml version="1.0" encoding="utf-8"?>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="-1160 4013.2 455.5 54.5" xml:space="preserve">
                            <polygon points="-1008.9,4021.7 -1006.8,4021.5 -1001.3,4014.3 -995.9,4014.3 -1003.1,4023.4 -995.2,4033.8 -1000.8,4033.8 -1006.7,4025.5 -1008.9,4025.5 -1008.9,4033.8 -1013.2,4033.8 -1013.2,4014.3 -1008.9,4014.3 "
                            />
                            <g>
                                <path d="M-977.2,4014.6c1.3,0.5,2.4,1.3,3.3,2.2c0.9,0.9,1.6,2,2.1,3.2c0.5,1.3,0.8,2.6,0.8,4c0,1.4-0.3,2.7-0.8,3.9c-0.5,1.3-1.2,2.3-2.1,3.3c-0.9,0.9-2,1.6-3.3,2.2c-1.3,0.6-2.7,0.8-4.2,0.8s-2.9-0.3-4.2-0.8c-1.3-0.5-2.4-1.3-3.3-2.2c-0.9-0.9-1.7-2-2.2-3.2c-0.5-1.3-0.8-2.6-0.8-4c0-1.4,0.3-2.7,0.8-4s1.2-2.3,2.2-3.2c0.9-0.9,2-1.6,3.3-2.2c1.3-0.6,2.7-0.8,4.2-0.8C-979.9,4013.9-978.5,4014.1-977.2,4014.6 M-984,4018.3c-0.7,0.3-1.4,0.8-1.9,1.3c-0.5,0.6-0.9,1.2-1.2,2c-0.3,0.8-0.4,1.6-0.4,2.4c0,0.9,0.1,1.7,0.4,2.5s0.7,1.4,1.2,2c0.5,0.6,1.2,1,1.9,1.3c0.7,0.3,1.6,0.5,2.5,0.5c1,0,1.8-0.2,2.5-0.5c0.8-0.3,1.4-0.8,1.9-1.4c0.5-0.6,0.9-1.2,1.2-2c0.2-0.8,0.4-1.6,0.4-2.4c0-0.9-0.1-1.7-0.4-2.5s-0.7-1.5-1.2-2c-0.5-0.6-1.1-1-1.9-1.3s-1.6-0.5-2.5-0.5C-982.4,4017.8-983.2,4017.9-984,4018.3"
                                />
                                <polygon points="-962.1,4021.9 -953.6,4021.9 -953.6,4014.3 -949.2,4014.3 -949.2,4033.8 -953.6,4033.8 -953.6,4026 -962.1,4026 -962.1,4033.8 -966.5,4033.8 -966.5,4014.3 -962.1,4014.3 "
                                />
                                <path d="M-931.2,4018.3c-0.9-0.4-1.9-0.5-2.9-0.5s-1.8,0.1-2.6,0.4s-1.4,0.7-2,1.3c-0.6,0.6-1,1.2-1.3,2s-0.4,1.6-0.4,2.5c0,0.9,0.1,1.8,0.4,2.5c0.3,0.8,0.7,1.4,1.3,1.9c0.6,0.6,1.2,1,2,1.3s1.6,0.4,2.5,0.4c1.1,0,2.1-0.2,3.1-0.6c0.9-0.4,1.8-0.9,2.6-1.7l2.5,3.1c-2.2,2.1-5,3.1-8.4,3.1c-1.5,0-2.9-0.2-4.2-0.7s-2.3-1.2-3.3-2c-0.9-0.9-1.6-1.9-2.1-3.2c-0.5-1.3-0.8-2.6-0.8-4.2c0-1.4,0.2-2.7,0.8-4c0.5-1.3,1.2-2.3,2.1-3.3c0.9-0.9,2.1-1.7,3.4-2.2c1.3-0.6,2.8-0.8,4.5-0.8c1.5,0,2.9,0.2,4.2,0.7c1.3,0.4,2.4,1.1,3.4,2l-2.4,3.2C-929.5,4019.1-930.2,4018.6-931.2,4018.3"
                                />
                                <polygon points="-904.9,4018.2 -911.6,4018.2 -911.6,4033.8 -915.9,4033.8 -915.9,4018.2 -922.6,4018.2 -922.6,4014.3 -904.9,4014.3 "
                                />
                                <path d="M-888.7,4014.8c1,0.3,1.8,0.8,2.5,1.4s1.2,1.4,1.6,2.2c0.4,0.9,0.6,1.8,0.6,2.9c0,1.1-0.2,2.1-0.6,3c-0.4,0.9-1,1.6-1.7,2.2c-0.7,0.6-1.6,1.1-2.6,1.4c-1,0.4-2.1,0.5-3.2,0.5h-4v5.3h-4.4v-19.4h8.7C-890.7,4014.3-889.6,4014.4-888.7,4014.8 M-892.2,4024.6c1.2,0,2.1-0.3,2.7-0.9c0.7-0.6,1-1.4,1-2.4s-0.3-1.7-0.9-2.3c-0.5-0.5-1.4-0.8-2.6-0.8h-4.1v6.4H-892.2z"
                                />
                                <path d="M-870.7,4024h0.3l4-9.8h4.9l-7.7,16.1c-0.6,1.3-1.3,2.2-2.1,2.9c-0.8,0.6-1.7,0.9-2.8,0.9c-1.3,0-2.5-0.2-3.6-0.7l1-3.7c0.3,0.1,0.6,0.2,0.9,0.3c0.3,0.1,0.6,0.1,0.8,0.1c1,0,1.6-0.4,1.9-1.1l0.2-0.6l-8-14.2h5.3L-870.7,4024z"
                                />
                                <polygon points="-853.1,4021.7 -851,4021.5 -845.5,4014.3 -840.1,4014.3 -847.3,4023.4 -839.4,4033.8 -845,4033.8 -850.9,4025.5 -853.1,4025.5 -853.1,4033.8 -857.4,4033.8 -857.4,4014.3 -853.1,4014.3 "
                                />
                                <polygon points="-818.4,4018.2 -825.1,4018.2 -825.1,4033.8 -829.4,4033.8 -829.4,4018.2 -836.1,4018.2 -836.1,4014.3 -818.4,4014.3 "
                                />
                                <polygon points="-809.7,4027.3 -800.3,4014.3 -796.4,4014.3 -796.4,4033.8 -800.8,4033.8 -800.8,4021.5 -809.8,4033.8 -814,4033.8 -814,4014.3 -809.7,4014.3 "
                                />
                                <path d="M-777.4,4015.7c1.2,1,1.8,2.2,1.8,3.9c0,0.8-0.2,1.5-0.5,2.2c-0.4,0.6-0.8,1.1-1.4,1.4v0.3c1,0.3,1.7,0.9,2.3,1.7c0.6,0.8,0.9,1.7,0.9,2.8c0,0.8-0.1,1.5-0.4,2.3c-0.3,0.7-0.7,1.3-1.3,1.8s-1.3,0.9-2.2,1.3c-0.9,0.3-2,0.5-3.2,0.5h-9.6v-19.6h8.6C-780.2,4014.3-778.6,4014.7-777.4,4015.7 M-782.2,4022c0.7,0,1.3-0.2,1.7-0.5c0.4-0.4,0.6-0.9,0.6-1.5c0-1.3-0.8-2-2.5-2h-4.3v4H-782.2z M-781.5,4030.1c1.9,0,2.9-0.8,2.9-2.3c0-0.7-0.3-1.3-0.8-1.7c-0.5-0.4-1.2-0.6-2.2-0.6h-5.1v4.5L-781.5,4030.1L-781.5,4030.1z"
                                />
                                <polygon points="-765.6,4021.9 -757,4021.9 -757,4014.3 -752.6,4014.3 -752.6,4033.8 -757,4033.8 -757,4026 -765.6,4026 -765.6,4033.8 -770,4033.8 -770,4014.3 -765.6,4014.3 "
                                />
                                <path d="M-742.8,4020.3h3.7c1.1,0,2.2,0.1,3.1,0.5c1,0.3,1.7,0.7,2.4,1.3c0.6,0.6,1.2,1.3,1.5,2.2c0.4,0.8,0.6,1.8,0.6,2.9c0,1-0.2,1.9-0.6,2.8c-0.4,0.8-0.9,1.5-1.5,2.1c-0.7,0.6-1.5,1-2.4,1.4c-0.9,0.3-1.9,0.5-3,0.5h-8.2v-19.7h4.4V4020.3z M-739.3,4029.9c2.3,0,3.5-1,3.5-2.9c0-1-0.3-1.7-0.9-2.2c-0.6-0.5-1.5-0.7-2.6-0.7h-3.5v5.7L-739.3,4029.9L-739.3,4029.9z M-725,4033.8h-4.4v-19.5h4.4V4033.8z"
                                />
                                <polygon points="-705,4018.2 -715.3,4018.2 -715.3,4021.9 -706.1,4021.9 -706.1,4025.7 -715.3,4025.7 -715.3,4029.9 -704.5,4029.9 -704.5,4033.8 -719.6,4033.8 -719.6,4014.3 -705,4014.3 "
                                />
                                <path d="M-1001.4,4044.5c1,0.3,1.8,0.8,2.5,1.4c0.7,0.6,1.2,1.4,1.6,2.2c0.4,0.9,0.6,1.8,0.6,2.9c0,1.1-0.2,2.1-0.6,3c-0.4,0.9-1,1.6-1.7,2.2c-0.7,0.6-1.6,1.1-2.6,1.4c-1,0.4-2.1,0.5-3.2,0.5h-4v5.3h-4.4V4044h8.7C-1003.4,4044-1002.3,4044.1-1001.4,4044.5 M-1004.9,4054.3c1.2,0,2.1-0.3,2.7-0.9c0.7-0.6,1-1.4,1-2.4s-0.3-1.7-0.9-2.3c-0.6-0.6-1.5-0.9-2.7-0.9h-4.1v6.4h4V4054.3z"
                                />
                                <polygon points="-977.6,4047.9 -987.9,4047.9 -987.9,4051.6 -978.7,4051.6 -978.7,4055.4 -987.9,4055.4 -987.9,4059.5 -977.1,4059.5 -977.1,4063.5 -992.2,4063.5 -992.2,4044 -977.6,4044 "
                                />
                                <polygon points="-968.1,4059.6 -962.1,4059.6 -962.1,4044 -957.8,4044 -957.8,4059.6 -951.8,4059.6 -951.8,4044 -947.5,4044 -947.5,4063.5 -972.4,4063.5 -972.4,4044 -968.1,4044 "
                                />
                                <polygon points="-927.5,4047.9 -937.7,4047.9 -937.7,4051.6 -928.6,4051.6 -928.6,4055.4 -937.7,4055.4 -937.7,4059.5 -927,4059.5 -927,4063.5 -942,4063.5 -942,4044 -927.5,4044 "
                                />
                                <polygon points="-917.8,4051.6 -909.3,4051.6 -909.3,4044 -904.9,4044 -904.9,4063.5 -909.3,4063.5 -909.3,4055.6 -917.8,4055.6 -917.8,4063.5 -922.2,4063.5 -922.2,4044 -917.8,4044 "
                                />
                                <polygon points="-895.2,4056.9 -885.8,4044 -881.9,4044 -881.9,4063.5 -886.3,4063.5 -886.3,4051.2 -895.2,4063.5 -899.5,4063.5 -899.5,4044 -895.2,4044 "
                                />
                                <path d="M-864.9,4063.5v-5.8h-3.7l-3.8,5.8h-5.4l5-6.8c-1.3-0.5-2.2-1.2-2.9-2.2c-0.7-1-1.1-2.3-1.1-3.6c0-1,0.2-2,0.6-2.8c0.4-0.9,0.9-1.6,1.6-2.2c0.7-0.6,1.5-1.1,2.4-1.4c1-0.3,2-0.5,3.2-0.5h8.5v19.5C-860.5,4063.5-864.9,4063.5-864.9,4063.5z M-871.5,4048.7c-0.6,0.5-0.9,1.3-0.9,2.2c0,0.9,0.3,1.7,0.9,2.2s1.5,0.8,2.5,0.8h4v-5.9h-4C-870.1,4047.9-870.9,4048.2-871.5,4048.7"
                                />
                                <polygon points="-1160,4013.2 -1111.6,4013.2 -1131.9,4038.4 -1109.7,4067.7 -1160,4067.7 " />
                                <rect x="-1104.3" y="4013.2" width="23.3" height="54.5" />
                                <path d="M-1071.9,4013.2v36.5c10.1,0,18.3-8.2,18.3-18.3C-1053.6,4021.4-1061.8,4013.2-1071.9,4013.2" />
                                <path d="M-1044.5,4058.6c0,5-4.1,9.1-9.1,9.1s-9.1-4.1-9.1-9.1s4.1-9.1,9.1-9.1S-1044.5,4053.5-1044.5,4058.6" />
                            </g>
                        </svg>
                    </a>
                </section>
            </div>

        </div>

    </div>

</footer>