

<header class="main-header _fixed-panel-md {% if app.controller.getid == 'services' and app.controller.action.id == 'index' %} bg-black {% endif %}">
    <div class="container main-header__inner">
        <div class="logo logo--mobile">
            {% if this.currentUri != '/' %}
                <a class="logo__link" href="/">
                    <img class="lazyload" src="{{ app.theme.baseUrl }}/img/logo.svg" alt="Bar-Street лого">
                    <p class="logo__text">BAR-STREET</p>
                </a>
                <p class="main-title">Выездной бар на мероприятия</p>
            {% else %}
                <div class="logo__link">
                    <img class="lazyload" src="{{ app.theme.baseUrl }}/img/logo.svg" alt="Bar-Street лого">
                    <p class="logo__text">BAR-STREET</p>
                </div>
                <h1 class="main-title">Выездной бар на мероприятия</h1>
            {% endif %}
        </div>

        <div class="main-contacts _header">
            <div class="main-contacts__wrapper">
                <button class="js-contacts-toggle">
                    <svg class="icon-svg  icon-svg--phone">
                        <use xlink:href="#icon-phone"/>
                    </svg>
                </button>
                <button class="main-contacts__item _callback js-callback-toggle">Обратный звонок</button>
                <div class="popup-back hidden">
                    <button class="popup-back__close">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                    <div class="popup-back__inner">
                        <h2 class="popup-back__title">Заказать обратный звонок</h2>
                        <form action="{{ app.createUrl('/callback') }}" method="post" class="popup-back__form">
                            <div class="input__wrapper">
                                <input type="text" name="CallbackForm[form_user_name]" class="popup-back__input input" placeholder="Введите имя" required>
                            </div>
                            <div class="input__wrapper">
                                <input type="text" name="CallbackForm[form_phone]" class="popup-back__input phone-input input" placeholder="Введите телефон" required>
                            </div>

                            <div class="g-recaptcha">
                                <input type="hidden" class="token" name="g-recaptcha-response">
                            </div>

                            <button class="popup-back__submit button--pink button">Отправить</button>
                            <input type="hidden" name="CallbackForm[form_category_name]" value="Обратный звонок">
                        </form>
                    </div>
                </div>
            </div>
            <a href="/en" class="main-contacts__eng-ver"><img class="menu-english-img lazyload" src="{{ app.theme.baseUrl }}/img/english.png">In English</a>
            <a href="tel:+7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__phone">+7 {{ this.settings['header_moscow_phone'].field_value }}</a>
        </div>
        <nav class="main-nav">
            <div class="overlay hidden"></div>
            <button class="main-nav__toggle menu-open-toggle">
                <span></span>
                <span></span>
                <span></span>
                Меню
            </button>
            <div class="main-nav__wrap menu">
                <button class="main-nav__close menu-close-toggle">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
                <ul class="main-nav__list">
                    {% for item in this.main_menu %}
                        {% if (item.children().findAll() is not empty) %}
                            <li class="main-nav__item  main-nav__drop {{ item.cmsPage.getUrl == this.currentUri ? '_active' : '' }}">
                                <a href="{{ item.cmsPage.getUrl == this.currentUri ? 'javascript:;' : item.cmsPage.getUrl }}"
                                   class="main-nav__link">
                                    {{ item.cmsPage.name }}
                                    <svg class="icon-arrow-menu">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </a>
                                <ul class="main-nav__second-list">
                                    {% for subitem in item.children().findAll() %}
                                        {% if subitem.children().findAll() is not empty %}
                                            <li class="main-nav__second-item">
                                                <p>
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#{{ subitem.icon }}"></use>
                                                    </svg>
                                                    {{ subitem.cmsPage.name }}
                                                    <svg class="icon-arrow">
                                                        <use xlink:href="#icon-arrow"></use>
                                                    </svg>
                                                </p>
                                                <ul class="main-nav__third-list">
                                                    {% for thirditem in subitem.children().findAll() %}
                                                        <li class="main-nav__third-item {{ '/services/' ~ thirditem.service_slug == this.currentUri ? '_active' : '' }}">
                                                            <a href="{{ '/services/' ~ thirditem.service_slug == this.currentUri ? 'javascript:;' : '/services/' ~ thirditem.service_slug }}"
                                                               class="main-nav__third-link">{{ thirditem.service_name|striptags }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="main-nav__second-item">
                                                <a href="{{ subitem.cmsPage.getUrl }}"
                                                   class="main-nav__second-item-link">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#{{ subitem.icon }}"></use>
                                                    </svg>
                                                    {{ subitem.cmsPage.name }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elseif item.cmsPage.name == 'Услуги' %}
                            <li class="main-nav__item  main-nav__drop">
                                <a href="{{ item.cmsPage.getUrl == this.currentUri ? 'javascript:;' : item.cmsPage.getUrl }}"
                                   class="main-nav__link">
                                    {{ item.cmsPage.name }}
                                    <svg class="icon-arrow-menu">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </a>
                                <ul class="main-nav__second-list">
                                    {% for subitem in this.service_category %}
                                        {% if loop.index0 == 1 %}
                                            <li class="main-nav__second-item">
                                                <a href="/coctails"
                                                   class="main-nav__second-item-link">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#icon-glas-gray"></use>
                                                    </svg>
                                                    Коктейльная карта
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="main-nav__second-item">
                                            <p>
                                                <svg class="icon-svg">
                                                    <use xlink:href="#{{ subitem.category.category_icon }}"></use>
                                                </svg>
                                                {{ subitem.category.category_name }}
                                                <svg class="icon-arrow">
                                                    <use xlink:href="#icon-arrow"></use>
                                                </svg>
                                            </p>
                                            <ul class="main-nav__third-list">
                                                {% for subcategory,cat in subitem.groupedSubmenu %}
                                                    {% if subcategory != 'Нет' and subcategory != null %}
                                                        <li class="main-nav__third-item">
                                                            <p class="main-nav__third-item-title">
                                                                {{ subcategory }}
                                                            </p>
                                                        </li>
                                                    {% endif %}
	                                                {% for thirditem in cat %}
                                                        <li class="main-nav__third-item {{ '/services/' ~ thirditem.service_slug == this.currentUri ? '_active' : '' }} {% if loop.last %}_last{% endif %} ">
                                                            <a href="{{ '/services/' ~ thirditem.service_slug == this.currentUri ? 'javascript:;' : '/services/' ~ thirditem.service_slug }}"
                                                               class="main-nav__third-link">{{ thirditem.service_name|striptags }}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="main-nav__item {{ item.cmsPage.getUrl == this.currentUri ? '_active' : '' }}">
                                <a href="{{ item.cmsPage.getUrl == this.currentUri ? 'javascript:;' : item.cmsPage.getUrl }}"
                                   class="main-nav__link">
                                    {{ item.cmsPage.name|striptags }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <ul class="main-nav__list  main-nav__list--links">
                    <li class="main-nav__item">
                        {% if this.currentUri == '/partner' %}
                            <a href="javascript:;" class="main-nav__link">Партнёрам</a>
                        {% else %}
                            <a href="/partner" class="main-nav__link">Партнёрам</a>
                        {% endif %}
                    </li>
                    <li class="main-nav__item">
                        {% if this.currentUri == '/vacancy' %}
                            <a href="javascript:;" class="main-nav__link">Вакансии</a>
                        {% else %}
                            <a href="/vacancy" class="main-nav__link">Вакансии</a>
                        {% endif %}
                    </li>
                    <li class="main-nav__item">
                        {% if this.currentUri == '/event' %}
                            <a href="javascript:;" class="main-nav__link">Задать вопрос</a>
                        {% else %}
                            <a href="/event" class="main-nav__link">Задать вопрос</a>
                        {% endif %}
                    </li>
                    <li class="main-nav__item">
                        {% if this.currentUri == '/facts' %}
                            <a href="javascript:;" class="main-nav__link">Мы в СМИ</a>
                        {% else %}
                            <a href="/facts" class="main-nav__link">Мы в СМИ</a>
                        {% endif %}
                    </li>
                    <li class="main-nav__item">
                        {% if this.currentUri == '/facts' %}
                            <a href="javascript:;" class="main-nav__link">Статьи</a>
                        {% else %}
                            <a href="/article" class="main-nav__link">Статьи</a>
                        {% endif %}
                    </li>
                </ul>

                {#<div class="main-contacts _menu">
                    <a href="tel:+7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__phone">+7 {{ this.settings['header_moscow_phone'].field_value }}</a>
                    <div class="main-contacts__inner">
                        <button class="main-contacts__item _callback js-callback-toggle">Обратный
                            звонок
                        </button>
                        <a href="whatsapp://send?phone=7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">WhatsApp</a>
                        <a href="viber://add?number=7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">Viber</a>
                        <a href="sms:+7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">Sms</a>
                    </div>
                </div>#}
            </div>
            <div class="main-nav__wrap menu-contacts">
                <button class="main-nav__close menu-close-contacts-toggle">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
                <div class="main-contacts _menu">
                    <a href="tel:+7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__phone">+7 {{ this.settings['header_moscow_phone'].field_value }}</a>
                    <div class="main-contacts__inner">
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-whatsapp"/>
                            </svg>

                            <a href="whatsapp://send?phone=7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">WhatsApp</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-viber"/>
                            </svg>
                            <a href="viber://add?number=7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">Viber</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-sms"/>
                            </svg>
                            <a href="sms:+7{{ this.settings['header_moscow_phone'].field_value }}" class="main-contacts__item">Sms</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-phone"/>
                            </svg>
                            <button class="main-contacts__item _callback js-callback-toggle">Обратный звонок</button>
                        </div>
                        <a href="mailto:info@bar-street.ru" class="main-contacts__phone">info@bar-street.ru</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
