{% set newFooterNav = [
    {
        title: 'Услуги',
        link: '/services'
    },
    {
        title: 'Фотоотчёты',
        link: '/photoalbum'
    },
    {
        title: 'Команда',
        link: '/team'
    },
    {
        title: 'Контакты',
        link: '/contacts'
    },
    {
        title: 'Партнерам',
        link: '/partner'
    },
    {
        title: 'Мы в СМИ',
        link: '/facts'
    },
    {
        title: 'Вакансии',
        link: '/vacancy'
    },
    {
        title: 'Статьи',
        link: '/article'
    },
    {
        title: 'Задать вопрос',
        link: '/event'
    },
    {
        title: 'Коктейльная карта',
        link: '/coctails'
    }
] %}

<footer class="new-footer">
    <div class="container">
        <div class="row">
            <div class="blog-list col-12">
                <article class="blog-list__item">
                    {% if this.currentUri == '/expo' %}
                        <a href="javascript:;" class="blog-list__link">
                            <p class="blog-list__title">Организация бара на выставках</p>
                        </a>
                    {% else %}
                        <a href="/expo" class="blog-list__link">
                            <p class="blog-list__title">Организация бара на выставках</p>
                        </a>
                    {% endif %}
                </article>
                <article class="blog-list__item">
                    {% if this.currentUri == '/work-levels' %}
                        <a href="javascript:;" class="blog-list__link">
                            <p class="blog-list__title">Узнайте как мы организуем выездной бар</p>
                        </a>
                    {% else %}
                        <a href="/work-levels" class="blog-list__link">
                            <p class="blog-list__title">Узнайте как мы организуем выездной бар</p>
                        </a>
                    {% endif %}
                </article>
                <article class="blog-list__item">
                    <a href="{{ app.theme.baseUrl }}/docs/present-bar-street.pdf" target="_blank" class="blog-list__link">
                        <p class="blog-list__title">Презентация услуг Bar-Street</p>
                    </a>
                </article>
            </div>
            <nav class="new-footer__nav col-12 col-md-8 col-lg-7">
                <ul class="new-footer__nav-list">
                    {% for item in newFooterNav %}
                    <li class="new-footer__nav-item">
                        {% if this.currentUri == item.link %}
                            <a href="javascript:;" class="new-footer__nav-link">{{ item.title }}</a>
                        {% else %}
                            <a href="{{ item.link }}" class="new-footer__nav-link">{{ item.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="new-footer__contacts col-12 col-md-8 col-lg-5">
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Москва</span>
                    <a href="tel:+7{{ this.settings['header_moscow_phone'].field_value }}" class="new-footer__contacts-link">+7 {{ this.settings['header_moscow_phone'].field_value }}</a>
                </li>
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Санкт-Петербург</span>
                    <a href="tel:+7{{ this.settings['header_st_phone'].field_value }}" class="new-footer__contacts-link">+7 {{ this.settings['header_st_phone'].field_value }}</a>
                </li>
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Адрес</span>
                    <p class="new-footer__contacts-address">г. <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">ул. Клары Цеткин д.4</span></p>
                </li>
            </ul>
            <div class="new-footer__inner col-12 col-md-4 col-lg-6">
                <div class="social">
                    <a href="https://www.instagram.com/barstreet/" class="social__link _inst">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-inst" />
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/bar.street.ru/" class="social__link _fb">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-fb" />
                        </svg>
                    </a>
                    <a href="https://vk.com/barstreet1" class="social__link _vk">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-vk" />
                        </svg>
                    </a>
                </div>
                <div class="payment">
                    <img class="payment__item _visa lazyload" src="{{ app.theme.baseUrl }}/img/visa.svg" alt="Visa">
                    <img class="payment__item _master lazyload" src="{{ app.theme.baseUrl }}/img/mastercard.svg" alt="MasterCard">
                </div>
            </div>
            <section class="copyright col-12 col-lg-6">
                <p class="copyright__item">© 2010—{{ date('Y') }} ООО «Бар Стрит». Выездные бары.</p>
                <p class="copyright__offer">Используя сайт, вы принимаете условия

                    <a target="_blank" href="/public-oferta" class="copyright__link">Публичной оферты</a>,
                    <a target="_blank" href="/agreement-processing-personal-data" class="copyright__link">Соглашения на обработку персональных данных</a>
                    и
                    <a target="_blank" href="/politics-public-oferta" class="copyright__link">Политики в отношении обработки персональных
                        данных</a>

                    {#<a target="_blank" href="#" class="copyright__link">Публичной оферты</a>,#}
                    {#<a target="_blank" href="#" class="copyright__link">Соглашения на обработку персональных данных</a>#}
                    {#и#}
                    {#<a target="_blank" href="#" class="copyright__link">Политики в отношении обработки персональных#}
                        {#данных</a>#}
                </p>
            </section>
            <p class="devolopment col-12 col-xl-6">Разработка и продвижение сайта в агентстве «<a class="devolopment__link"
                    href="https://constructivesolutions.ru/">Конструктивные решения</a>»</p>
        </div>
    </div>
</footer>