{% set blue = true %}
{% set photoLink = true %}
{% set photoTitle = 'Фотографии с других мероприятий' %}


{% import 'views/macros/order.twig' as order %}

{% extends "views/layouts/base.twig" %}
{% block title %}{{ gallery.name }}{% endblock %}

{% block content %}

    <section class="photoalbum-card">
        <div class="container">
            <ul class="breadcrumbs ">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/photoalbum" class="breadcrumbs__link">Фотоотчеты</a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link breadcrumbs__link--active">{{ gallery.name }}</span>
                </li>
            </ul>
            <h1 class="title photoalbum-card__title">{{ gallery.getName() }}</h1>
            <div class="photoalbum-card__header row">
                <div class="photoalbum-card__section col-12 col-md-6">
                    <div class="photoalbum-card__section-icon">
                        <svg class="icon-svg ">
                            <use xlink:href="#icon-glas-gray" />
                        </svg>
                    </div>
                    <div class="photoalbum-card__section-inner">
                        <h3 class="photoalbum-card__section-title">Услуги на мероприятии:</h3>
                        <ul class="photoalbum-card__section-list">
                            {% for service in gallery.getServices %}
                                <li class="photoalbum-card__section-item">
                                    <a title="{{ service.service_name }}" href="{{ service.getServiceUrl }}" class="photoalbum-card__section-link">{{ service.service_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if gallery.getMapName() %}
                    <div class="photoalbum-card__section col-12 col-md-6">
                        <div class="photoalbum-card__section-icon">
                            <svg class="icon-svg icon-svg--pin">
                                <use xlink:href="#icon-pin" />
                            </svg>
                        </div>
                        <div class="photoalbum-card__section-inner">
                            <h3 class="photoalbum-card__section-title">Место проведения</h3>
                            <ul class="photoalbum-card__section-list">
                                <li class="photoalbum-card__section-item">
                                    <a href="/photoalbum/map#{{ gallery.id }}" class="photoalbum-card__section-link">{{ gallery.getMapName() }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>

            <ul class="photoalbum-card__gallery col-12 row">
                {% for photo in gallery.getGalleries %}
                    <li class="photoalbum-card__gallery-item col-12 col-sm-6 col-md-4">
                        <a href="{{ photo.getImage(null, true) }}" data-fancybox="gallery" data-width="2048" data-height="1365">


                            {% if iphone != true %}
                                <picture>
                                    <source data-srcset="{{ photo.getImage() }}" type="image/webp">
                                    <img style="display: block" class="lazyload" data-src="{{ photo.getImage(null, true) }}" title="{{ photo.getImageTitle ?: gallery.name }}" alt="{{ photo.getImageTitle ?: gallery.name }}">
                                </picture>
                            {% else %}
                                <img src="{{ photo.getImage(null, true) }}" title="{{ photo.getImageAlt ?: gallery.name }}" alt="{{ photo.getImageAlt ?: gallery.name }}">
                            {% endif %}
                            {#<img class="lazyload" data-src="{{ photo.getImage() }}" title="{{ photo.imageTitle ?: gallery.name }}" alt="{{ photo.imageAlt ?: gallery.name }}" />#}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="photoalbum-card__desc">
                <div class="container">
                    <div class="row">
                        {% if gallery.getAnnounce() %}
                            <h3 class="photoalbum-card__desc-title col-12">Описание</h3>
                            <div class="photoalbum-card__desc-content col-12 col-lg-6">
                                {{ gallery.getAnnounce()|raw }}
                                {#Стильно, лаконично, престижно. Бармены в черном, представители компании в белом; коктейли черные, стойки белые. Меньше цвета, больше дела. В качестве столиков были выбраны светящиеся конусообразные стойки с прозрачной столешницей. Сверху стоит необычное украшение - вазы с черными кристаллами. Гости тоже поддержали черно-белую концепцию, всё вместе - просто отрада для глаз и фотографов. Наш welcome bar не только встречал гостей, но и сразу задавал нужный деловой тон. Мы можем сделать бар разноцветным, скромным или взрывающим мозг, но всегда сделаем это со вкусом.#}
                            </div>
                        {% endif %}
                        <div class="photoalbum-card__order-window col-12 col-lg-5">
                            {{ order.order_window({
                                mod: '_photo',
                                title: 'Хотите так же круто провести мероприятие?',
                                link: '/event'
                            }) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "views/modules/photos.twig" with {gallery: gallery.getRandomImagesFromService() } %}
{% endblock %}