<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ app.theme.baseUrl }}/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ app.theme.baseUrl }}/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ app.theme.baseUrl }}/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="{{ app.theme.baseUrl }}/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="{{ app.theme.baseUrl }}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	{# {{ filemtime(app.theme.baseUrl ~ 'css/main.min.css') }} #}
	<link rel="stylesheet" href="{{ app.theme.baseUrl }}/css/main.min.css?v={{ filemtime('themes/barstreet/css/main.min.css') }}">
		<title>Акция</title>
	<script>
		(function(w, d, u, i, o, s, p) {
			if (d.getElementById(i)) { return; } w['MangoObject'] = o;
			w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
			s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
			p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
		}(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
		mgo({calltracking: {id: 17321, elements: [{"numberText":"74953746162"}]}});
	</script>

	<script src="https://www.google.com/recaptcha/api.js?render=6LeYmKQUAAAAAAWRRUDmXDAfiKmDMLRM_9DmLXC6"></script>

</head>

<body class="barstreet-sale-body">
<div class="hidden">{% include "/img/sprite.svg" %}</div>
<main class="main">
	<section class="barstreet-sale__intro">
		<div class="container">
			<a class="barstreet-sale__logo" href="/" class="">
				<img class="lazyload" src="{{ app.theme.baseUrl }}/img/barstreet-sale/logo.svg">
			</a>
			<h1 class="barstreet-sale__intro-title barstreet-sale__title">Специальные условия на октябрьский event</h1>
			<p class="barstreet-sale__intro-text">Мероприятия с 1 по 31 октября 2019</p>
		</div>
	</section>
	<section class="barstreet-sale__usecases">
		<div class="container">
			<h2 class="barstreet-sale__usecases-title barstreet-sale__title">Вы можете воспользоваться если</h2>
			<ul class="barstreet-sale__usecases-list">
				<li class="barstreet-sale__usecases-item">
					Событие пройдет с 1 по 31 октября 2019 года</li>
				<li class="barstreet-sale__usecases-item">
					Мероприятие будет в Москве (в пределах МКАД)
				</li>
				<li class="barstreet-sale__usecases-item">
					Вы готовы внести 50% предоплату для бронирования не позже 24 октября
				</li>
			</ul>
		</div>
	</section>
	<section class="barstreet-sale__offers">
		<div class="container">
			<h2 class="barstreet-sale__offers-title barstreet-sale__title">Интересные предложения на октябрь 2019</h2>
			<div class="barstreet-sale__offers-btns">
				<button class="barstreet-sale__offers-tab-title _active" type="button" onclick="barstreet_sale_tab(1, $(this))">Глинтвейн бар</button>
				<button class="barstreet-sale__offers-tab-title" type="button" onclick="barstreet_sale_tab(2, $(this))">Чайный бар</button>
				<button class="barstreet-sale__offers-tab-title" type="button" onclick="barstreet_sale_tab(3, $(this))">Аренда мебели</button>
			</div>
			<div id="offers_tab1" class="barstreet-sale__offers-tab _active">
				<h3 class="barstreet-sale__title">Что входит в глинтвейн бар</h3>
				<p class="barstreet-sale__offers-text">В стоимость входит 200 порций глинтвейна, барная стойка на выбор, персонал, доставка по Москве</p>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Глинтвейны – 50 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Классический глинтвейн</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">250 &#x20bd;</td>
						<td data-th="Стоимость">12500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Классический глинтвейн</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">250 &#x20bd;</td>
						<td data-th="Стоимость">12500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Белый глинтвейн</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">250 &#x20bd;</td>
						<td data-th="Стоимость">12500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Клубничный глинтвейн</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">250 &#x20bd;</td>
						<td data-th="Стоимость">12500 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Оборудование/персонал – 18 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Бармен</td>
						<td data-th="Количество">2</td>
						<td data-th="Цена">6000 &#x20bd;</td>
						<td data-th="Стоимость">6000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Деревянная барная стойка</td>
						<td data-th="Количество">1</td>
						<td data-th="Цена">6000 &#x20bd;</td>
						<td data-th="Стоимость">12000 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Доставка – 6 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Грузовая логистика внутри МКАД</td>
						<td data-th="Количество">1</td>
						<td data-th="Цена">6000 &#x20bd;</td>
						<td data-th="Стоимость">6000 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<p class="barstreet-sale__offers-text barstreet-sale__discount">Октябрьская скидка (29 100 ₽)</p>
				<h3 class="barstreet-sale__title barstreet-sale__price-title">Итого – <small class="_barstreet-sale__old-price">74 000 ₽</small> 44 900 ₽</h3>
				<p class="barstreet-sale__offers-text">НДС не облагается (Согласно П2, СТ. 346.11 НК РФ)</p>
				<button type="button" class="barstreet-sale__button">Заказать бар</button>
			</div>
			<div id="offers_tab2" class="barstreet-sale__offers-tab">
				<h3 class="barstreet-sale__title">Чайный бар</h3>
				<p class="barstreet-sale__offers-text">В стоимость входит 150 порций чайных коктейлей, барная стойка на выбор, персонал, доставка по Москве</p>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Чаи – 30 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Мятно-дынный микс (чайный)</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">200 &#x20bd;</td>
						<td data-th="Стоимость">10000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Клюквенный уезд (чайный)</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">200 &#x20bd;</td>
						<td data-th="Стоимость">10000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Пряный имбирный чай</td>
						<td data-th="Количество">50</td>
						<td data-th="Цена">200 &#x20bd;</td>
						<td data-th="Стоимость">10000 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Оборудование/персонал – 16 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Бармен</td>
						<td data-th="Количество">2</td>
						<td data-th="Цена">6000 &#x20bd;</td>
						<td data-th="Стоимость">6000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Светящаяся барная стойка</td>
						<td data-th="Количество">1</td>
						<td data-th="Цена">10000 &#x20bd;</td>
						<td data-th="Стоимость">10000 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Доставка – 6 000 ₽<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td>Количество</td>
						<td>Цена</td>
						<td>Стоимость</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Грузовая логистика внутри МКАД</td>
						<td data-th="Количество">1</td>
						<td data-th="Цена">6000 &#x20bd;</td>
						<td data-th="Стоимость">6000 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<p class="barstreet-sale__offers-text barstreet-sale__discount">Октябрьская скидка (29 100 ₽)</p>
				<h3 class="barstreet-sale__title barstreet-sale__price-title">Итого – <small class="_barstreet-sale__old-price">52 000 ₽</small> 33 900 ₽</h3>
				<p class="barstreet-sale__offers-text">НДС не облагается (Согласно П2, СТ. 346.11 НК РФ)</p>
				<button type="button" class="barstreet-sale__button">Заказать бар</button>
			</div>
			<div id="offers_tab3" class="barstreet-sale__offers-tab">
				<h3 class="barstreet-sale__title">Аренда мебели</h3>
				<p class="barstreet-sale__offers-text">Это прайс на нашу мебель с подсветкой, с указанием базовой цены и октябрьской скидки</p>
				<h3 class="barstreet-sale__title barstreet-sale__table-title">Мебель<img class="barstreet-sale__table-title-arrow" src="{{ app.theme.baseUrl }}/img/barstreet-sale/arrow-down.svg"></h3>
				<table>
					<thead>
					<tr>
						<td>Наименование</td>
						<td></td>
						<td>Скидка</td>
						<td>Базовая цена</td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td data-th="Наименование">Коктейльный столик (осн.круг) D60×H100</td>
						<td></td>
						<td data-th="Скидка">30 %</td>
						<td data-th="Базовая цена">2500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Кубы с подсветкой H20×L20×B20</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Кубы с подсветкой H30×L30×B30</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">750 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Кубы с подсветкой H40×L40×B40</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">1000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Кубы с подсветкой H43×L43×B43</td>
						<td></td>
						<td data-th="Скидка">30 %</td>
						<td data-th="Базовая цена">1000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Кубы с подсветкой H50×L50×B50</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">1300 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Декоративные елочки с подсветкой H32хL13хB50</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">1500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Декоративные елочки с подсветкой H63хL20хB90</td>
						<td></td>
						<td data-th="Скидка">40 %</td>
						<td data-th="Базовая цена">2500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Пуф с подсветкой (осн.квадрат) H40хL40хB47</td>
						<td></td>
						<td data-th="Скидка">30 %</td>
						<td data-th="Базовая цена">1500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Светящиеся шары D 20</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Светящиеся шары D 40</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">1000 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Светящиеся шары D 50</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">1300 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Пирамида с подсветкой (осн.квадрат) 26x28</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">700 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Ваза с подсветкой (осн.квадрат) 35x27</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">700 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Ваза с подсветкой (осн.круг) D24 х 13.8</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Ваза с подсветкой (осн.круг) D30 х 30</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">500 &#x20bd;</td>
					</tr>
					<tr>
						<td data-th="Наименование">Ваза с подсветкой (осн.круг) D20 х 13</td>
						<td></td>
						<td data-th="Скидка">20 %</td>
						<td data-th="Базовая цена">500 &#x20bd;</td>
					</tr>
					</tbody>
				</table>
				<h3 class="barstreet-sale__title"></h3>
				<button type="button" class="barstreet-sale__button">Заказать мебель</button>
			</div>
		</div>
	</section>
	<section class="barstreet-sale__info">
		<div class="container">
			<h2 class="barstreet-sale__info-title barstreet-sale__title">Полезная информация</h2>
			<div class="row">
				<div class="barstreet-sale__info-two-pictures col-12 col-lg-4">
					<a href="https://bar-street.ru/services/zakazat-mobilny-bar" class="barstreet-sale__info-img-caption">
						<img class="barstreet-sale__info-img" src="{{ app.theme.baseUrl }}/img/barstreet-sale/info1.jpg">
						<span class="barstreet-sale__info-caption">Как выглядит выездной бар</span>
					</a>
					<a href="https://bar-street.ru/services/mebel-s-podsvetkoy" class="barstreet-sale__info-img-caption">
						<img class="barstreet-sale__info-img" src="{{ app.theme.baseUrl }}/img/barstreet-sale/info2.jpg">
						<span class="barstreet-sale__info-caption">Мебель с подстветкой</span>
					</a>
				</div>
				<a href="https://bar-street.ru/services/glintvienbar" class="col-12 col-sm-6 col-lg-4 barstreet-sale__info-img-caption">
					<img class="barstreet-sale__info-img" src="{{ app.theme.baseUrl }}/img/barstreet-sale/info3.jpg">
					<span class="barstreet-sale__info-caption">Глинтвейн бар</span>
				</a>
				<a href="https://bar-street.ru/services/chajnyj-bar" class="col-12 col-sm-6 col-lg-4 barstreet-sale__info-img-caption">
					<img class="barstreet-sale__info-img" src="{{ app.theme.baseUrl }}/img/barstreet-sale/info4.jpg">
					<span class="barstreet-sale__info-caption">Чайный бар</span>
				</a>
			</div>
		</div>
	</section>
	<section class="barstreet-sale__how-order">
		<div class="container">
			<h2 class="barstreet-sale__how-order-title barstreet-sale__title">Как заказать бар со скидкой</h2>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3 barstreet-sale__how-order-item">
					<span class="barstreet-sale__how-order-num">01</span>
					<p class="barstreet-sale__how-order-text">Свяжитесь с нами: <a href="mailto:info@bar-street.ru">info@bar-street.ru</a> или <br><a href="tel:+74953746162">8(495) 374-61-62</a></p>
				</div>
				<div class="col-12 col-md-6 col-lg-3 barstreet-sale__how-order-item">
					<span class="barstreet-sale__how-order-num">02</span>
					<p class="barstreet-sale__how-order-text">Сообщите промокод ОКТЯБРЬСКИЙ-EVENT</p>
				</div>
				<div class="col-12 col-md-6 col-lg-3 barstreet-sale__how-order-item">
					<span class="barstreet-sale__how-order-num">03</span>
					<p class="barstreet-sale__how-order-text">Укажите дату, адрес, внесите предоплату по счету</p>
				</div>
				<div class="col-12 col-md-6 col-lg-3 barstreet-sale__how-order-item">
					<span class="barstreet-sale__how-order-num">04</span>
					<p class="barstreet-sale__how-order-text">За вами будет закреплен личный менеджер, который внесет корректировки при необходимости</p>
				</div>
			</div>
		</div>
	</section>
</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="barstreet-sale__copyrights col-12 col-sm-6 col-md-7 col-lg-6">© 2010—2019 ООО «Бар Стрит». Выездные бары.</div>
			<div class="barstreet-sale__requisites-wrap col-12 col-sm-6 col-md-5 col-xl-3">
				<div>ОГРН 1147746916316</div>
				<div class="barstreet-sale__requisites">ИНН/КПП 7713793450/771301001</div>
			</div>
			<div class="barstreet-sale__agree col-12 col-md-8 col-lg-6">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку персональных данных и Политики в отношении персональных данных</div>
		</div>
	</div>
</footer>
<div class="barstreet-sale-overlay"></div>
<div class="barstreet-sale-popup-back">
	<div class="barstreet-sale-popup-back__thanks">
		<h2 class="barstreet-sale__title">Спасибо за заявку!</h2>
		<p>Мы свяжемся с Вами в ближайшее время</p>
	</div>
	<button type="button" class="barstreet-sale-popup-close">
		<svg>
			<use xlink:href="#icon-close"></use>
		</svg>
	</button>
	<form class="popup-back__form october_sale" action="{{ app.createUrl('/callback') }}">
		<div class="container">
			<h2 class="barstreet-sale__title">Акция октября</h2>
			<input class="input popup-back__name-input" id="popup-back__name-input" name="CallbackForm[form_user_name]" placeholder="Введите имя" type="text" required>
			<input class="input popup-back__phone-input phone-input" id="popup-back__phone-input" type="tel" name="CallbackForm[form_phone]" placeholder="Введите телефон" required>
			<div class="g-recaptcha">
				<input type="hidden" class="token" name="g-recaptcha-response">
			</div>
			<input type="hidden" class="js-october-type-selector-input" name="CallbackForm[form_category_name]" value="Заявка на Глинтвейн бар">
			<input type="hidden" name="popup" value="true">
			<div class="popup-back__form-inner">
				<button class="barstreet-sale__button js-barstreet-sale__btn-submit">Отправить заявку</button>
			</div>
			<p class="popup-back__offer">Отправляя данную форму, Вы соглашаетесь с политикой конфиденциальности.</p>
		</div>
	</form>
</div>



<script src="{{ app.theme.baseUrl }}/js/main.min.js?v={{ filemtime('themes/barstreet/js/main.min.js') }}"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(10660447, "init", {
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true,
		webvisor:true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/10660447" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% block scripts %}
{% endblock %}
<script>

</script>
</body>