{% extends "views/layouts/base.twig" %}
{% block title %}Оформление заказа на коктейли Bar-Street{% endblock %}

{% block content %}

    <section class="event">
        <div class="container  event__container">
            <h1 class="title  event__title">Заказ коктейлей</h1>
            <p class="event__text">Состав заказа:</p>
            <ul class="event__coctails-list">
	            {% for product in app.shoppingCart.getPositions %}
                    <li class="event__coctails-item">{{ product.product_name }} {{ product.getQuantity() }} шт. — {{ this.format_price(product.getSumPrice()) }} ₽</li>
	            {% endfor %}
            </ul>
            <p class="event__promo-text">Вы выбрали {{ app.shoppingCart.getCount() }} коктейлей {{ this.format_price(app.shoppingCart.getCost() + 6000) }} ₽</p>
	        {#{{ morphos.npluralize('коктейль', app.shoppingCart.getCount(), false, 'п') }}#}
            <form  action="{{ app.createUrl('/callback/OrderProduct') }}" method="post" class="event__form">
                <div class="event__form-wrapper">
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="name" name="CallbackForm[order_name]" type="text" placeholder="Введите имя">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input phone-input input" name="CallbackForm[order_phone]" id="phone" type="tel"
                               placeholder="Введите телефон">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="email" type="email" name="CallbackForm[order_email]" placeholder="Введите e-mail">
                    </div>
                </div>
                <div class="event__form-textarea input__wrapper">
                    <textarea class="event__form-input input  event__form-input--textarea" id="textarea" rows="7"  name="CallbackForm[comment]"
                              placeholder="Комментарий"></textarea>
                </div>
                <div class="g-recaptcha">
                    <input type="hidden" class="token" name="g-recaptcha-response">
                </div>
                <div class="event__form-btn-inner">
                    <button class="event__form-btn button  button--pink">Отправить</button>
                </div>
                <p class="event__text">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку
                    персональных данных и Политики в отношении обработки персональных данных</p>
            </form>
        </div>
    </section>

{% endblock %}