{% for article in articles %}
	<div class="articles__item">
		{{ ImgHelper.img(article.getImage(), 'articles__img') }}
		<h2 class="articles__sub-title">
			<a class="link-second" href="{{ article.getUrl() }}">{{ article.article_name }}</a>
		</h2>
	</div>
{% endfor %}