{% extends "views/layouts/base.twig" %}

{% block content %}
    <section class="cocktails">
        <div class="cocktails__intro">
            <div class="container">
                <ul class="breadcrumbs ">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--active">Коктейльная карта</span>
                    </li>
                </ul>
                <div class="row">
                    <h1 class="cocktails__title title col-lg-7">Коктейльная карта</h1>
                    <small class="cocktails__intro-note col-lg-5">Стоимость минимального заказа в Москве
                        <br>от 30 000 р.
                    </small>
                </div>
            </div>
        </div>
        <div class="cocktails__filter">
            <div class="container">
                <div class="row">
                    <div class="cocktails__filter-inner col-12 col-md-9 col-lg-10">
                        <ul class="cocktails__filter-tabs-list">

                            <li class="cocktails__filter-tabs-item">
                                <button class="cocktails__filter-tab {% if main_page %}cocktails__filter-tab--active{% endif %}"
                                        data-service="0">Все
                                </button>
                            </li>


                            {% for item in services %}
                                <li class="cocktails__filter-tabs-item">
                                    <button class="cocktails__filter-tab {{ item.service_id == currentService ? 'cocktails__filter-tab--active' : '' }}"
                                            data-service="{{ item.service_id }}"
                                            data-servicetab="{{ item.service_slug }}" {{ item.service_id == currentService ? 'selected' : '' }}>{{ item.service_name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="cocktails__ingridients">
                            <h2 class="cocktails__ingridients-title">Ингредиенты:</h2>
                            <select class="select">
                                <option value="0" class="cocktails__filter-option">Все</option>
                                {% for item in ings %}
                                    <option value="{{ item.ingridient_id }}"
                                            class="cocktails__filter-option" {{ item.ingridient_id == currentIng ? 'selected' : '' }}>{{ item.ingridient_name }}</option>
                                {% endfor %}
                            </select>
                            <button class="how-work-toggle">Как это работает?</button>
                        </div>

                    </div>


                    <div class="cocktails__cart col-12 col-md-3 col-lg-2">
                        <a href="/cart" class="cocktails__cart-toggle">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-cart"></use>
                            </svg>
                            Ваш заказ<br>
                            <span>{{ app.shoppingCart.getCount() }} коктейлей</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <section id="coctailsWrapper">
            <div class="cocktails__catalog {% if service.getServiceColor() %} _black {% endif %}">
                <div class="container">
                    <div class="row cocktails__catalog-wrapper">
                        {% for item in products %}
                            <article class="cocktails__product col-12 col-sm-6">
                                <div class="cocktails__product-img">

                                    <picture>
                                        <source srcset="{{ item.getImage() }}" type="image/webp">
                                        <img class="lazyload" src="{{ item.getImage(null, true) }}"
                                             alt="{{ item.product_name }}">
                                    </picture>

                                    <div class="cocktails__product-alco">
                                        <svg class="icon-svg">
                                            <use xlink:href="#icon-alco"></use>
                                        </svg>
                                        <span class="cocktails__product-alco-content">{{ item.getAlco() }}%</span>
                                    </div>
                                </div>
                                <div class="cocktails__product-inner">
                                    <h5 class="cocktails__product-name">{{ item.product_name }}</h5>

                                    {% if item.product_cost != 0 %}

                                        <p class="cocktails__product-price">{{ item.product_cost }} <span>руб.</span></p>
                                        <button class="cocktails__product-order button  button--pink {{ item.isACart() ? 'cocktails__product-order--added' : '' }}"
                                                data-id="{{ item.product_id }}">
                                            {% if item.isACart() %}
                                                ЗАКАЗАНО
                                            {% else %}
                                                Заказать
                                            {% endif %}
                                        </button>
                                    {% endif %}

                                    {% for subitem in item.getDetails() %}
                                        <dd class="cocktails__product-details-item">
                                            <p class="cocktails__product-details-title">
                                                {{ subitem.title }}
                                                <span class="cocktails__product-details-description">{{ subitem.desc|raw }}</span>
                                            </p>
                                        </dd>
                                    {% endfor %}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
                {% if pages %}
                    <div class="pagination _light">
                        <div class="container">
                            {{ this.widget('LinkPager', { 'pages': pages }, true) | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </section>
	<section class="cocktails__info">
		<div class="container">
			<p>
				Компания BAR-STREET миксует с&nbsp;2010&nbsp;года. Коктейльная карта наших выездных баров включает все возможные варианты напитков: культовые, авторские, безалкогольные. Мы&nbsp;заботимся о&nbsp;том, чтобы ингредиенты были качественными и&nbsp;безопасными, а&nbsp;подача&nbsp;&mdash; по-настоящему эксклюзивной и&nbsp;современной.
				<br><br>
				Наши коктейли&nbsp;&mdash; важная деталь любого мероприятия. Они создают расслабленную атмосферу и&nbsp;позволяют каждому гостю почувствовать на&nbsp;себе персональное внимание организатора. Можете не&nbsp;сомневаться, наша команда подготовит для вас классический, тематический или индивидуальный welcome drink буквально за&nbsp;несколько часов.
				<br><br>
				Хотите определиться самостоятельно? Предлагаем начинать подбор коктейлей для выездного бара, ориентируясь на&nbsp;их&nbsp;размеры и&nbsp;крепость.
			</p>
			<ul>
				<li>Горячие или hot drinks.<br>
					Согревающие напитки, объёмом 200-250&nbsp;мл. Стоит отметить, что мы&nbsp;готовим не&nbsp;только классический глинтвейн. Наши бармены дополняют основу клубникой, коньяком и&nbsp;абрикосами, розмарином и&nbsp;мандаринами. Кроме того, мы&nbsp;используем белое вино.</li>
				<li>Длинные или long drinks.<br>
					Свежие и&nbsp;лёгкие миксы, которые можно потягивать полвечера. Объем: до&nbsp;400&nbsp;мл. Чтобы запомниться вам, мы&nbsp;решили посмотреть на&nbsp;известную классику под другим углом. Одна из&nbsp;наших находок&nbsp;&mdash; &laquo;Мохито-паб&raquo;, куда входят special long drinks на&nbsp;основе пива.</li>
				<li>Короткие или short drinks.<br>
					Универсальные крепкие миксы. Пьются быстро и&nbsp;удовольствием. Объем: 200&nbsp;мл или чуть больше. Нередко подаются в&nbsp;конусообразных бокалах с&nbsp;высокой ножкой. Все представители этого вида есть в&nbsp;нашей коктейльной карте: Дайкири, Маргарита, Космополитен и&nbsp;т.д. Вопреки предрассудкам, считаются и&nbsp;мужскими напитками тоже.</li>
				<li>Шутеры или shot drinks.<br>
					Их&nbsp;пьют в&nbsp;один глоток. Отсюда и&nbsp;название. Это коктейли в&nbsp;небольших стопках или шотах по&nbsp;50&nbsp;мл. Они отличаются высокой крепостью могут быть многослойными, как известный всем Б-52. Мы&nbsp;разработали несколько авторских шутеров и&nbsp;включили в&nbsp;карту классику: Раздавленная лягушка, Рыжий пёс, Флаг России.</li>
			</ul>
			<p>Вы&nbsp;можете составить индивидуальное меню коктейлей для любого мероприятия, если обратитесь по&nbsp;телефону, указанному на&nbsp;сайте.</p>
		</div>
	</section>
{% endblock %}

{% block popups %}
    {% include 'views/modules/how-it-work-popup.twig' %}
{% endblock %}