<div class="cocktails__catalog {% if service.getServiceColor() %} _black {% endif %}">
    <div class="container">
        <div class="row cocktails__catalog-wrapper">
            {% for item in products %}
                <article class="cocktails__product col-12 col-sm-6">
                    <div class="cocktails__product-img">
                        <picture>
                            <source srcset="{{ item.getImage() }}" type="image/webp">
                            <img class="lazyload" src="{{ item.getImage(null, true) }}"
                                 alt="{{ item.product_name }}">
                        </picture>
                        <div class="cocktails__product-alco">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-alco"></use>
                            </svg>
                            <span class="cocktails__product-alco-content">{{ item.getAlco() }}%</span>
                        </div>
                    </div>
                    <div class="cocktails__product-inner">
                        <h5 class="cocktails__product-name">{{ item.product_name }}</h5>

                        {% if item.product_cost != 0 %}
                            <p class="cocktails__product-price">{{ item.product_cost }} <span>руб.</span></p>
                            <button class="cocktails__product-order {{ item.isACart() ? 'cocktails__product-order--added' : '' }}"
                                    data-id="{{ item.product_id }}">
                                {% if item.isACart() %}
                                    ЗАКАЗАНО
                                {% else %}
                                    Заказать
                                {% endif %}
                            </button>
                        {% endif %}

                        {% for subitem in item.getDetails() %}
                            <dd class="cocktails__product-details-item">
                                <p class="cocktails__product-details-title">
                                    {{ subitem.title }}
                                    <span class="cocktails__product-details-description">{{ subitem.desc|raw }}</span>
                                </p>
                            </dd>
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
    <div class="pagination _light">
        <div class="container">
            {{ this.widget('LinkPager', { 'pages': pages }, true) | raw }}
        </div>
    </div>
</div>