{% extends "views/layouts/base.twig" %}
{% block title %}Клиенты Bar-Street{% endblock %}
{% import 'views/macros/photocard.twig' as card %}
{% set breadcrumbs = [
    {
        title: "Клиенты",
        active: true
    }
] %}

{% block content %}
    <section class="clients-page section">
        <div class="container  clients-page__container">
            <ul class="breadcrumbs ">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link breadcrumbs__link--active">Клиенты</span>
                </li>

            </ul>
            <h1 class="title  clients-page__title">Клиенты</h1>
        </div>
        {#<div class="clients-page__wrapper">#}
            {#<div class="container">#}
                {#<div class="photoalbum__list row no-gutters">#}
                    {#{% set left = 0 %}#}
                    {#{% set right = 0 %}#}
                    {#{% set current = 1 %}#}

                    {#{% for client in clients %}#}


                        {#{% if current == 1 %}#}
                            {#{{ card.photocard({#}
                                {#mod: '_left',#}
                                {#imgWeb: client.getImage('image'),#}
                                {#img: client.getImage('image'),#}
                                {#alt: '',#}
                                {#dateDigit: client.client_date,#}
                                {#dateText: client.getDate(),#}
                                {#title: client.client_name,#}
                                {#link: client.client_slug#}
                            {#}) }}#}
                        {#{% else %}#}
                            {#{{ card.photocard({#}
                                {#imgWeb: client.getImage('image'),#}
                                {#img: client.getImage('image'),#}
                                {#alt: '',#}
                                {#dateDigit: client.client_date,#}
                                {#dateText: client.getDate(),#}
                                {#title: client.client_name,#}
                                {#link: client.client_slug#}
                            {#}) }}#}
                        {#{% endif %}#}

                        {#{% if left < 2 %}#}
                            {#{% set left = left + 1 %}#}
                        {#{% endif %}#}

                        {#{% if(right < 3 and left == 2) %}#}
                            {#{% set right = right + 1 %}#}
                            {#{% set current = 2 %}#}
                        {#{% endif %}#}

                        {#{% if(right == 3 and left == 2) %}#}
                            {#{% set left = 0 %}#}
                            {#{% set right = 0 %}#}
                            {#{% set current = 1 %}#}
                        {#{% endif %}#}





                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="container">
            {% include "views/modules/clients.twig" %}
        </div>
    </section>
{% endblock %}