<div class="overlay-eighteen-plus hidden"></div>
<div class="eighteen-plus-message hidden">
    <h2 class="eighteen-plus-message__title">подтвердите возраст</h2>
    <p class="eighteen-plus-message__text">Сайт содержит информацию, не рекомендованную для лиц, не достигших совершеннолетнего возраста.</p>
    <button class="eighteen-plus-message__close  button  button--pink">Мне исполнилось 18</button>
    <img class="eighteen-plus-message__image lazyload" src="/img/18plus.png" alt="18+">
    <svg class="icon-svg">
        <use xlink:href="#icon-18plus"></use>
    </svg>
</div>