<div class="popup-back hidden">
    <div class="overlay hidden popup-back__overlay"></div>
    <form class="popup-back__form" action="{{ app.createUrl('/callback') }}" method="post">
        <button class="popup-back__close  mobile-hidden">
            <svg>
                <use xlink:href="#icon-close"></use>
            </svg>
        </button>
        <div class="container">
            <p class="popup-back__title">Обратный звонок</p>
            <label class="popup-back__name" for="popup-back__name-input">Ваше имя:
                <input class="input popup-back__name-input" id="popup-back__name-input" name="CallbackForm[form_user_name]" placeholder="Ваше имя" type="text" required>
            </label>
            <label class="popup-back__phone" for="popup-back__phone-input">Телефон:
                <input class="input popup-back__phone-input phone-input" name="CallbackForm[form_phone]" id="popup-back__phone-input" type="tel" placeholder="Ваш телефон" required>
            </label>
            <div class="popup-back__form-inner">
                <button class="popup-back__submit  button  button--pink  button--form">Отправить</button>
                <p class="popup-back__form-content  mobile-hidden">Наш менеджер свяжется с вами в ближайшее время</p>
            </div>
            <input type="hidden" name="CallbackForm[form_category_name]" value="Обратный звонок">
            <p class="popup-back__offer">Используя сайт, вы принимаете условия
                <a class="popup-back__link" href="#">Публичной оферты</a>,
                <a class="popup-back__link" href="#">Соглашения на обработку персональных данных</a> и
                <a class="popup-back__link" href="#">Политики в отношении обработки персональных данных</a>
            </p>
        </div>
    </form>
</div>