{% set bs = 'https://bar-street.ru' %}
<menu>
	<a href="{{ bs }}/services">Услуги бара</a>
	<a href="{{ bs }}/coctails">Коктейльная карта</a>
	<a href="{{ bs }}/article">Статьи</a>
	<a href="{{ bs }}/photoalbum">Фотоотчеты</a>
	<a href="{{ bs }}/team">Команда</a>
	<a href="{{ bs }}/contacts">Контакты</a>
</menu>