{% extends "views/layouts/base.twig" %}
{% block title %}Заявка на событие и заказ услуг Bar-Street{% endblock %}

{% block content %}
    {#
    <section class="event">
        <div class="container  event__container">
            <h1 class="title  event__title">Заявка на мероприятие</h1>
            <p class="event__promo-text">Отправьте заявку и получите подробную консультацию об услуге. <span>Консультация бесплатна!</span>
            </p>
            <form action="{{ app.createUrl('/callback') }}" method="post" class="event__form">
                <div class="event__form-inner">
                    <label for="name" class="event__form-label">ФИО:</label>
                    <div class="input__wrapper">
                        <input class="event__form-input input" name="CallbackForm[form_user_name]" id="name"
                               type="text">
                    </div>
                </div>
                <div class="event__form-inner">
                    <label for="phone" class="event__form-label">Телефон:</label>
                    <div class="input__wrapper">
                        <input class="event__form-input phone-input input" name="CallbackForm[form_phone]" id="phone"
                               type="tel">
                    </div>
                </div>
                <div class="event__form-inner">
                    <label for="email" class="event__form-label">Почта:</label>
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="email" name="CallbackForm[form_email]" type="email">
                    </div>
                </div>
                <div id="reCaptchaEvent"></div>
                <div class="event__form-inner">
                    <button class="event__form-btn button  button--pink">Отправить</button>
                    <p class="event__form-text">Наш менеджер свяжется с вами в ближайшее время</p>
                </div>
                <input type="hidden" name="CallbackForm[form_category_name]" value="Заявка на мероприятие">
                <p class="event__text">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку
                    персональных данных и Политики в отношении обработки персональных данных</p>
            </form>
        </div>
    </section>
    #}
    <section class="event">
        <div class="container  event__container">
            <h1 class="title  event__title">Заявка на мероприятие</h1>
            <form action="{{ app.createUrl('/callback') }}" class="event__form">
                <div class="event__form-wrapper">
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="name" name="CallbackForm[form_user_name]" type="text" placeholder="Введите имя">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input phone-input input" name="CallbackForm[form_phone]" id="phone" type="tel"
                               placeholder="Введите телефон">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="email" name="CallbackForm[form_email]" type="email" placeholder="Введите e-mail">
                    </div>
                </div>
                <div class="event__form-textarea input__wrapper">
                    <textarea name="CallbackForm[form_message]" class="event__form-input input  event__form-input--textarea" id="textarea" rows="7"
                              placeholder="Комментарий"></textarea>
                </div>
                <div class="g-recaptcha">
                    <input type="hidden" class="token" name="g-recaptcha-response">
                </div>
                <div class="event__form-btn-inner">
                    <button class="event__form-btn button button--pink">Отправить</button>
                </div>

                <input type="hidden" name="CallbackForm[form_category_name]" value="Заявка на мероприятие">
                <p class="event__text">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку
                    персональных данных и Политики в отношении обработки персональных данных</p>
            </form>
        </div>
    </section>
{% endblock %}