<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="/" class="breadcrumbs__link" itemtype="http://schema.org/Thing"
           itemprop="item">
            Главная
        </a>
        <meta itemprop="position" content="1" />
        <meta itemprop="name" content="Главная" />
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a href="/services" class="breadcrumbs__link" itemtype="http://schema.org/Thing"
           itemprop="item">Все услуги</a>
        <meta itemprop="position" content="2" />
        <meta itemprop="name" content="Все услуги" />
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <span class="breadcrumbs__link breadcrumbs__link--active" itemscope itemtype="http://schema.org/Thing"
              itemprop="item">{{ servicesTopic }}
            <meta itemprop="name" content="{{ servicesTopic }}" />
        </span>
        <meta itemprop="position" content="3" />
    </li>
</ul>