<section class="clients">
    <h2 class="title team__title">Наши клиенты</h2>
    <p class="clients__text">Более 5000 компаний</p>
    <ul class="clients__list">
        <li class="clients__item"><a href="/photoalbum/2017-11-16"><img src="{{ app.theme.baseUrl }}/img/clients/small/43.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2018-01-12"><img src="{{ app.theme.baseUrl }}/img/clients/small/44.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2018-05-31"><img src="{{ app.theme.baseUrl }}/img/clients/small/45.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2017-10-14"><img src="{{ app.theme.baseUrl }}/img/clients/small/46.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2013-09-22"><img src="{{ app.theme.baseUrl }}/img/clients/small/48.png"></a></li>
        <li class="clients__item"><a href="/album/2017-12-16"><img src="{{ app.theme.baseUrl }}/img/clients/small/49.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/1.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/2.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/3.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/4.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/5.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/6.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/7.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/8.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/9.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/10.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/11.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/12.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/13.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/14.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/15.png"></li>
        <li class="clients__item"><a href="/photoalbum/2018-09-25"><img src="{{ app.theme.baseUrl }}/img/clients/small/16.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/17.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/18.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/19.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/20.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/21.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/22.png"></li>
        <li class="clients__item"><a href="/photoalbum/2013-11-16"><img src="{{ app.theme.baseUrl }}/img/clients/small/23.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/24.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/25.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/26.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/27.png"></li>
        <li class="clients__item"><a href="/photoalbum/2012-04-22"><img src="{{ app.theme.baseUrl }}/img/clients/small/28.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/29.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/30.png"></li>
        <li class="clients__item"><a href="/photoalbum/2013-03-18"><img src="{{ app.theme.baseUrl }}/img/clients/small/31.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/32.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/33.png"></li>
        <li class="clients__item"><a href="/photoalbum/2017-01-26"><img src="{{ app.theme.baseUrl }}/img/clients/small/47.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/34.png"></li>
        <li class="clients__item"><a href="/photoalbum/2012-04-01"><img src="{{ app.theme.baseUrl }}/img/clients/small/35.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2013-10-01"><img src="{{ app.theme.baseUrl }}/img/clients/small/36.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/37.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/38.png"></li>
        <li class="clients__item"><a href="/photoalbum/2014-01-31"><img src="{{ app.theme.baseUrl }}/img/clients/small/39.png"></a></li>
        <li class="clients__item"><a href="/photoalbum/2013-07-28"><img src="{{ app.theme.baseUrl }}/img/clients/small/40.png"></a></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/41.png"></li>
        <li class="clients__item"><img src="{{ app.theme.baseUrl }}/img/clients/small/42.png"></li>
     </ul>
     <button class="clients__more js-clients-more" type="button">Показать еще</button>
</section>