<section class="how-we-work">
    <div class="container">
        <p class="how-we-work__title  sub-title">Как мы работаем</p>
        <ul class="how-we-work__list">
            <li class="how-we-work__item">
                <svg class="icon-svg">
                    <use xlink:href="#icon-message-phone"></use>
                </svg>
                <p class="how-we-work__content">
                    <span class="mobile-hidden">1)</span> Вы
                    <a href="#" class="how-we-work__link  link">отправляете заявку</a>, либо звоните нам
                </p>
            </li>
            <li class="how-we-work__item">
                <svg class="icon-svg">
                    <use xlink:href="#icon-chat"></use>
                </svg>
                <p class="how-we-work__content">
                    <span class="mobile-hidden">2)</span> Мы согласовываем время, место и количество гостей
                </p>
            </li>
            <li class="how-we-work__item">
                <svg class="icon-svg">
                    <use xlink:href="#icon-truck"></use>
                </svg>
                <p class="how-we-work__content">
                    <span class="mobile-hidden">3)</span> Доставляем и устанавливаем оборудование
                </p>
            </li>
            <li class="how-we-work__item">
                <svg class="icon-svg">
                    <use xlink:href="#icon-happy"></use>
                </svg>
                <p class="how-we-work__content">
                    <span class="mobile-hidden">4)</span> Гости останутся довольными!
                </p>
            </li>
        </ul>
    </div>
</section>