{%
	set default = [
		{
			'name': 'Услуги бариста',
			'img': app.theme.baseUrl~'/img/need/1.png',
			'link': '/services/barista'
		},
		{
			'name': 'Мобильные барные стойки',
			'img': app.theme.baseUrl~'/img/need/2.png',
			'link': '/services/arenda-oborudovaniya-i-barnich-stoek'
		},
		{
			'name': 'Кофейные мастер-классы',
			'img': app.theme.baseUrl~'/img/need/3.png',
			'link': '/services/master-klass-cofe'
		}
	]
%}
{% set items = needItems ? needItems : default %}

<section class="need">
	<div class="container">
		<h2 class="need__title">Вам также могут понадобиться</h2>
		<div class="need__slider owl-carousel owl-theme">
			{% for item in items %}
				{% if not item.disable %}
					<div class="need__slider-item">
						<a href="{{ item.link }}" class="need__item"><img src="{{ item.img }}" alt="{{ item.name }}" class="need__img">
							<p class="need__text">{{ item.name }}</p>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>