<div class="pagination">
    <div class="container">
        <ul class="pagination-list">
            <li class="pagination-item pagination-item--arrow-left">
                <a href="#" class="pagination-toggle">←</a>
            </li>
            <li class="pagination-item pagination-item--active">
                <a href="#" class="pagination-toggle  pagination-toggle--active">1</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">2</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">3</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">...</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">27</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">28</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-toggle">29</a>
            </li>
            <li class="pagination-item pagination-item--arrow-right">
                <a href="#" class="pagination-toggle">→</a>
            </li>
        </ul>
    </div>
</div>