{% import 'views/macros/photocard.twig' as card %}

{% if gallery %}
<section class="photos">
    <div class="container">
        <p class="photos__title  sub-title">{{ gallery.name|default('Фото с мероприятий') }}</p>
    </div>
        <div class="row no-gutters">
            {% set left = 0 %}
            {% set right = 0 %}
            {% set current = 1 %}

            {% for item in gallery %}


                {% if current == 1 %}
                    {{ card.photocard({
                        mod: '_left',
                        imgWeb: item.getAnnounceImage(),
                        img: item.getAnnounceImage(null, true),
                        alt: '',
                        dateDigit: item.date,
                        dateText: item.getDate(),
                        title: item.getName(),
                        link: item.getGalleryUrl
                    }) }}
                {% else %}
                    {{ card.photocard({
                        imgWeb: item.getAnnounceImage(),
                        img: item.getAnnounceImage(null, true),
                        alt: '',
                        dateDigit: item.date,
                        dateText: item.getDate(),
                        title: item.getName(),
                        link: item.getGalleryUrl
                    }) }}
                {% endif %}


                {% if left < 2 %}
                    {% set left = left + 1 %}
                {% endif %}

                {% if(right < 3 and left == 2) %}
                    {% set right = right + 1 %}
                    {% set current = 2 %}
                {% endif %}

                {% if(right == 3 and left == 2) %}
                    {% set left = 0 %}
                    {% set right = 0 %}
                    {% set current = 1 %}
                {% endif %}

            {% endfor %}
        </div>
        {% if (photoLink) %}
            <a href="/photoalbum" class="button button--pink photos__link">Все фоототчеты</a>
        {% endif %}
</section>

{% endif %}