<section class="service-photos">
    <div class="container">
        <h2 class="service-photos__title">Фото с мероприятий</h2>
        <div class="row no-gutters">
            {% for item in serviceBar.photosList %} {% if item.left %}
                <article class="service-photos__item  service-photos__item--left col-md-12 col-lg-6 ">
                    <div class="container">
                        <div class="row">
                            <div class="service-photos__item-img col-12 col-md-6">
                                <img src="../img/mobile-bar/service-photos/{{ item.img }}" alt="">
                            </div>
                            <div class="service-photos__item-inner col-12 col-md-6">
                                <time datetime="{{ item.date }}" class="service-photos__item-date">{{ item.dateText }}</time>
                                <h3 class="service-photos__item-title">{{ item.title }}</h3>
                                <a href="" class="service-photos__item-link">Фотоотчёт</a>
                            </div>
                        </div>
                    </div>
                </article>
            {% else %}
                <article class="service-photos__item col-md-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <div class="service-photos__item-img col-12 col-md-6">
                                <img src="../img/mobile-bar/service-photos/{{ item.img }}" alt="">
                            </div>
                            <div class="service-photos__item-inner col-12 col-md-6">
                                <time datetime="{{ item.date }}" class="service-photos__item-date">{{ item.dateText }}</time>
                                <h3 class="service-photos__item-title">{{ item.title }}</h3>
                                <a href="" class="service-photos__item-link">Фотоотчёт</a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %} {% endfor %}
        </div>

    </div>
</section>