<section class="scale-grow">
    <div class="container">
        <h2 class="title scale-grow__title">
            Масштаб нашей деятельности <br>
            растет с каждым днем
        </h2>
        <a href="/photoalbum/map" class="scale-grow__link button  button--pink">
                <svg class="icon-svg">
                    <use xlink:href="#icon-placeholder" />
                </svg>
                Смотреть на карте
        </a>
    </div>
</section>