    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {#<script src="{{ app.theme.baseUrl }}/libs/lazy.min.js"></script>#}
    <script src="{{ app.theme.baseUrl }}/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="{{ app.theme.baseUrl }}/libs/readmore.min.js"></script>
    <script src="{{ app.theme.baseUrl }}/libs/jquery.inputmask.bundle.min.js"></script>
    <script src="{{ app.theme.baseUrl }}/libs/fancybox/jquery.fancybox.min.js"></script>
    <script src="{{ app.theme.baseUrl }}/libs/lazysizes.min.js" async=""></script>
    <script src="{{ app.theme.baseUrl }}/js/common.js?v=11"></script>
    <script src="{{ app.theme.baseUrl }}/js/main.js?v=11"></script>
    <script src="{{ app.theme.baseUrl }}/js/furniture-calc.js?v=11"></script>

    <script src="{{ app.theme.baseUrl }}/js/shop.js?v=10"></script>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.6/dist/lazyload.min.js"></script>
    <script>
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
    </script>
    {#<script src="{{ app.theme.baseUrl }}/libs/webpjs-0.0.2.min.js"></script>#}