<div class="popup popup-order-service hidden">
    <div class="overlay popup-order-service__overlay hidden"></div>
    <div class="popup__inner popup-order-service__inner">
        <div class="container">
            <button class="popup__close">
                <svg>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <p class="popup__title popup__title--left popup-order-service__title">
				{% if (howitWorkTitle) %}
					{{ howitWorkTitle }}
				{% else %}
                    Заказать бар
				{% endif %}</p>
            <p class="popup-order-service__description popup__description">Отправьте заявку и получите подробную
                консультацию об услуге.
                <span>Консультация бесплатна!</span>
            </p>
            <form action="{{ app.createUrl('/callback') }}" method="post" class="popup__form  popup-order-service__form">
                <label for="popup-order-service__name-input" class="popup__name" required>
                    Ваше имя:
                    <div class="input__wrapper">
                        <input type="text" placeholder="Ваше имя" name="CallbackForm[form_user_name]" id="popup-order-service__name-input" class="input popup__name-input" required>
                    </div>
                </label>
                <label for="popup-order-service__phone-input" class="popup__phone ">
                    Телефон:
                    <div class="input__wrapper">
                        <input type="tel" name="CallbackForm[form_phone]" placeholder="Ваш телефон"
                               id="popup-order-service__phone-input" class="input popup__phone-input phone-input" required>
                    </div>
                </label>
                <label for="popup-order-service__comment" class="popup__comment popup__comment-toggle">
                    <span class="popup__comment-label">Комментарий</span>
                    <textarea class="popup__comment-area" placeholder="Ваш комментарий"
                              name="CallbackForm[form_message]" id="popup-order-service__comment"
                              rows="7"></textarea>
                </label>

                <div class="g-recaptcha">
                    <input type="hidden" class="token" name="g-recaptcha-response">
                </div>

                <div class="popup__form-inner">
                    <button class="popup__submit  button  button--pink button--form" id="{{ app.controller.getId }}_{{ app.controller.getAction.getId }}" type="submit">Отправить</button>
                    <p class="popup__form-content  mobile-hidden">Наш менеджер свяжется с вами в ближайшее время</p>
                </div>

                <input type="hidden" name="CallbackForm[form_category_name]" value="{{ howitWorkTitle }}">
            </form>
            <p class="popup__offer">Используя сайт, вы принимаете условия
                <a href="/public-oferta" class="popup__link" target="_blank">Публичной оферты</a>,
                <a href="/agreement-processing-personal-data" class="popup__link" target="_blank">Соглашения на обработку персональных данных</a> и
                <a href="/politics-public-oferta" class="popup__link" target="_blank">Политики в отношении обработки персональных данных</a>
            </p>
        </div>
    </div>
</div>