<style>
    .service::after {
        background: url('{{ item.getServiceImage() }}') 50% 100% no-repeat;
    }
</style>
<section class="service">
    <div class="container">
        <div class="row">
            <div class="service__inner col-md-6 col-lg-6">
                {% include 'views/modules/breadcrumbs.twig' with {servicesTopic: item.service_name } %}
                <h1 class="title">{{ item.service_name }}</h1>

                {% if item.getAnounce %}
                    <p class="service__intro-content">{{ item.getAnounce|striptags }}</p>
                {% endif %}


                <button class="service__intro-btn button  button--pink">Заказать</button>
            </div>
        </div>
    </div>
</section>