<section class="service-clients">
    <div class="container">
        <div class="row">
            <div class="service-clients__clients col-12 col-md-12 col-lg-6">
                <p class="service-clients__clients-title  sub-title">Наши клиенты</p>
                <div class="service-clients__clients-slider owl-carousel owl-theme">


                    {% set imgCount = 0 %}
                    <div class="service-clients__clients-item">
                        {% for client in clients %}

                            {% if imgCount >= 9 %}
                                </div>
                                <div class="service-clients__clients-item">
                                {% set imgCount = 0 %}
                            {% endif %}

                            {% if client.isImage %}
                                <picture>
                                    <source data-srcset="{{ client.getImage('image', true) }}" type="image/webp">
                                    <img class="lazy" data-src="{{ client.getImage('image') }}" alt="">
                                </picture>
                                {% set imgCount = imgCount + 1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="service-clients__reviews col-12 col-md-12 col-lg-6">
                <p class="service-clients__reviews-title  sub-title">Отзывы</p>
                <div class="service-clients__reviews-list service-clients__reviews-slider owl-carousel owl-theme">
                    {% for review in reviews %}
                        <div class="service-clients__reviews-item">
                            <p class="service-clients__reviews-content">{{ review.review_content | raw }}</p>
                            <p class="service-clients__reviews-author">{{ review.review_name }}</p>
                            {% if review.review_rang is not empty %}
                                <small class="service-clients__reviews-company">{{ review.review_rang }}</small>
                            {% endif %}
                            <a href="{{ review.cmsModuleGallery.getGalleryUrl }}" class="service-clients__reviews-link">Фотоотчёт</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {#<a href="/services" class="service-clients__link  button  button--border">Все услуги</a>#}
    </div>
</section>