<div class="popup popup-order-service hidden">
    <div class="overlay popup-order-service__overlay hidden"></div>
    <div class="popup__inner popup-order-service__inner">
        <div class="container">
            <button class="popup__close  mobile-hidden">
                <svg>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <p class="popup__title popup__title--left popup-order-service__title">
				{% if (howitWorkTitle) %}
					{{ howitWorkTitle }}
				{% else %}
                    Order bar
				{% endif %}</p>
            <p class="popup-order-service__description popup__description">
                Send order request and get a detailed consultation about this service. The consultation is free of of charge!
            </p>
            <form action="{{ app.createUrl('/callback') }}" method="post" class="popup__form  popup-order-service__form">
                <label for="popup-order-service__name-input" class="popup__name" required>
                    Your name:
                    <div class="input__wrapper">
                        <input type="text" placeholder="Your name" name="CallbackForm[form_user_name]" id="popup-order-service__name-input" class="input popup__name-input" required>
                    </div>
                </label>
                <label for="popup-order-service__phone-input" class="popup__phone ">
                    Phone number:
                    <div class="input__wrapper">
                        <input type="tel" name="CallbackForm[form_phone]" placeholder="Phone number"
                               id="popup-order-service__phone-input" class="input popup__phone-input phone-input" required>
                    </div>
                </label>
                <label for="popup-order-service__comment" class="popup__comment popup__comment-toggle">
                    <span class="popup__comment-label">Comment</span>
                    <textarea class="popup__comment-area" placeholder="Comment"
                              name="CallbackForm[form_message]" id="popup-order-service__comment"
                              rows="7"></textarea>
                </label>

                <div class="g-recaptcha">
                    <input type="hidden" class="token" name="g-recaptcha-response">
                </div>

                <div class="popup__form-inner">
                    <button class="popup__submit  button  button--pink button--form" id="{{ app.controller.getId }}_{{ app.controller.getAction.getId }}" type="submit">Order</button>
                    <p class="popup__form-content  mobile-hidden">Our manager will contact you shortly.</p>
                </div>

                <input type="hidden" name="CallbackForm[form_category_name]" value="{{ howitWorkTitle }}">
            </form>
            <p class="popup__offer">By using this website you agree to our Terms of Service
                <a href="#" class="popup__link" target="_blank">Consent to Personal Data Processing</a> and
                <a href="#" class="popup__link" target="_blank">Personal Data Processing Policy</a>
            </p>
        </div>
    </div>
</div>