<section class="team-members">
    <div class="container">

        {% for team in employee if team.getImage() %}
            <div class="team-members__item">
                <picture>
                    <source data-srcset="{{ team.getImage() }}" type="image/webp">
                    <img class="team-members__img lazy" data-src="{{ team.getImage(null, true) }}" width="142" height="142">
                </picture>
                <div class="team-members__inner">
                    <p class="team-members__name">{{ team.employee_name }}</p>
                    <p class="team-members__status">{{ team.employee_rang }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
