{% extends "views/layouts/base.twig" %}
{% set blue = true %}
{% block title %}Персонал для выставок{% endblock %}
{% set breadcrumbs = [
    {
        title: "Ваш бар на выставке",
        active: true
    }
] %}

{% block content %}
    <section class="expo section">
        <div class="container">
            <ul class="breadcrumbs ">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link breadcrumbs__link--active">Ваш бар на выставке</span>
                </li>
            </ul>
            <h1 class="title  expo__title">Ваш бар на выставке</h1>
            <div class="expo__wrapper">
                <ul class="expo__list">
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Профессионально подготовленный персонал</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Все необходимое для качественной работы стенда</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Аренда мебели на выставки</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Персональный и креативный подход, который качественно выделит вас из
                            общей массы</p>
                    </li>
                    <li class="expo__item">
                        <a class="button button--pink" href="/event">Оставить заявку</a>
                    </li>
                </ul>
                <img class="expo__img" src="{{ app.theme.baseUrl }}/img/expo-girls.png" alt="Ваш бар на выставке">
            </div>
        </div>
    </section>
    <section class="expo-services">
        <div class="container">
            <h2 class="expo-services__title sub-title stripe">Услуги для стенда</h2>
        </div>
        <div class="container">

            {% for key,service in services %}
                <div class="expo-services__inner">
                    <p class="expo-services__inner-text subtitle">{{ key }}</p>
                    <ul class="expo-services__list">
                        {% for item in service %}
                            <li class="expo-services__item">
                                <a class="link" href="{{ item.getServiceUrl() }}">{{ item.service_name|striptags }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            {#
            <div class="expo-services-inner">
                <p class="expo-services-inner-text subtitle">Шоу-Программы</p>
                <ul class="expo-services-list">
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Бармен-шоу</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Коктейль-шоу «Поезд любви»</a>
                    </li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Пирамиды из шампанского</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Шоколадный фонтан</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Жжёнка</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Ледяные фигуры</a></li>
                </ul>
            </div>
            <div class="expo-services-inner">
                <p class="expo-services-inner-text subtitle">Выездной персонал</p>
                <ul class="expo-services-list  expo-services-list--personal">
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Персонал</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Бармены</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Официанты</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Повара</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Бариста</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                </ul>
            </div>
            <div class="expo-services-inner  expo-services-inner--helper">
                <p class="expo-services-inner-text subtitle">Выездной персонал</p>
                <ul class="expo-services-list  expo-services-list--bar">
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Персонал</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Бармены</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Официанты</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Повара</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Бариста</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services-item"><a class="link" href="/mebel.html">Сомелье</a></li>
                </ul>
            </div>
            #}
        </div>
    </section>
    <section class="expo-projects">
        <div class="container">
            <div class="row">
                <h2 class="sub-title expo__team-title col-12">Выздной бар любого <br> масштаба в любом месте</h2>
                <p class="text team-projects__text col-12">Мы обслуживали 50 стендов на выставках</p>
                <div class="owl-carousel  owl-theme  team-projects__slider col-12">
                    {% for event in events %}
                        <div class="team-projects__slider-item">
                            <div class="team-projects__slider-item-inner">
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Заказчик</p>
                                    <p class="team-projects__desc">{{ event.event_author }}</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Место</p>
                                    <p class="team-projects__desc">{{ event.event_place|striptags }}</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Гостей</p>
                                    <p class="team-projects__desc">{{ event.event_guest|striptags }}</p>
                                </div>
                            </div>
                            <div class="team-projects__slider-media">
                                <a href="{{ event.getImage(0) }}" data-fancybox="{{ event.event_author }}"
                                   class="team-projects__slider-media-main-img">
                                    <img class="lazyload" src="{{ event.getImage(0) }}" alt="">
                                </a>
                                <div class="team-projects__slider-media-inner">
                                    <a href="{{ event.getImage(1) }}" data-fancybox="{{ event.event_author }}"
                                       class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="{{ event.getImage(1) }}" alt="">
                                    </a>
                                    <a href="{{ event.getImage(2) }}" data-fancybox="{{ event.event_author }}"
                                       class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="{{ event.getImage(2) }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="expo-order">
        <div class="container">
            <p class="expo-order__text sub-title">
                Получите консультацию по организации выставки Вашего стенда у
                специалиста
            </p>
            <a class="expo-order__link button  button--pink" href="/event">Оставить заявку</a>
        </div>
    </section>
{% endblock %}