{% macro photocard(params) %}
	<article class="photocard-events col-md-12 col-lg-6 {{ params.mod }}">
		<div class="container">
			<div class="row">
				<div class="photocard-events__img col-12 col-sm-6 col-md-8 col-lg-6">
					<a href="{{ params.link }}">
						<picture>
							<source srcset="{{ params.imgWeb }}" type="image/webp">
							<img class="lazyload" src="{{ params.img }}" alt="{{ params.alt }}">
						</picture>
					</a>
				</div>
				<div class="photocard-events__inner col-12 col-sm-6 col-md-4 col-lg-6">
					<time datetime="{{ params.dateDigits }}" class="photocard-events__date">{{ params.dateText }}</time>
					<a class="link" href="{{ params.link }}"><h3 class="photocard-events__title">{{ params.title }}</h3></a>
					<a class="photocard-events__link" href="{{ params.link }}">Фотоотчёт</a>
				</div>
			</div>
		</div>
	</article>

{% endmacro %}