<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app.theme.baseUrl }}/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ app.theme.baseUrl }}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ app.theme.baseUrl }}/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ app.theme.baseUrl }}/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ app.theme.baseUrl }}/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	{# {{ filemtime(app.theme.baseUrl ~ 'css/main.min.css') }} #}
    <link rel="stylesheet" href="{{ app.theme.baseUrl }}/css/main.min.css?v={{ filemtime('themes/barstreet/css/main.min.css') }}">
	{% block headLibs %} {% endblock %}
	{% if this.pageTitle %}
        <title>{{ this.pageTitle }}</title>
	{% else %}
        <title>{% block title %}{% endblock %}</title>
	{% endif %}


    <link rel="image_src" href="{{ app.request.hostInfo }}/poster.jpg">
    <meta property="og:title" content="{{ this.pageTitle }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.request.hostInfo }}/"/>
    <meta property="og:image" content="{{ app.request.hostInfo }}/poster.jpg"/>

	{% if this.og_description %}
        <meta property="og:description" content="{{ this.og_description }}"/>
	{% endif %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeYmKQUAAAAAAWRRUDmXDAfiKmDMLRM_9DmLXC6"></script>
	{{ this.settings['seo_head'].field_value|raw }}
</head>

<body class="body {% if (blue) %} _blue {% endif %}">
{% include '/views/popups/18+.twig' %}
{% include 'views/common/header.twig' %}
{#{% include 'views/popups/callback.twig' %}#}
{% include 'views/popups/download-price-popup.twig' %}
<div class="mobile-overlay  hidden"></div>

<main class="main">
	{% block content %}{% endblock %}
</main>

{% block footer %}{% include 'views/common/new-footer.twig' %}{% endblock %}

{{ this.settings['seo_footer'].field_value|raw }}

<button class="up-btn _hidden">
    <svg class="icon-svg">
        <use xlink:href="#icon-arrow-up"></use>
    </svg>
</button>

<div class="hidden">{% include "/img/sprite.svg" %}</div>


<script type="text/javascript">
	{% if app.controller.getID != 'contacts' %}
	function preventSelection(element){
		var preventSelection = false;

		function addHandler(element, event, handler){
			if (element.attachEvent)
				element.attachEvent('on' + event, handler);
			else
			if (element.addEventListener)
				element.addEventListener(event, handler, false);
		}
		function removeSelection(){
			if (window.getSelection) { window.getSelection().removeAllRanges(); }
			else if (document.selection && document.selection.clear)
				document.selection.clear();
		}
		function killCtrlA(event){
			var event = event || window.event;
			var sender = event.target || event.srcElement;
			if (sender.tagName.match(/INPUT|TEXTAREA/i))
				return;
			var key = event.keyCode || event.which;
			if (event.ctrlKey && key == 'A'.charCodeAt(0))
			{
				removeSelection();
				if (event.preventDefault)
					event.preventDefault();
				else
					event.returnValue = false;
			}
		}
		addHandler(element, 'mousemove', function(){
			if(preventSelection)
				removeSelection();
		});
		addHandler(element, 'mousedown', function(event){
			var event = event || window.event;
			var sender = event.target || event.srcElement;
			preventSelection = !sender.tagName.match(/INPUT|TEXTAREA/i);
		});
		addHandler(element, 'mouseup', function(){
			if (preventSelection)
				removeSelection();
			preventSelection = false;
		});
		addHandler(element, 'keydown', killCtrlA);
		addHandler(element, 'keyup', killCtrlA);
	}
	preventSelection(document);
	document.ondragstart = test;
	document.onselectstart = test;
	document.oncontextmenu = test;
	function test() {
		return false
	}
	{% endif %}
</script>

{% block popups %}{% endblock %}
<script src="{{ app.theme.baseUrl }}/js/main.min.js?v={{ filemtime('themes/barstreet/js/main.min.js') }}"></script>
{% block scripts %}
{% endblock %}
{{ this.settings['seo_afterbody'].field_value|raw }}
</body>
</html>